<div class="col-md-4">
  <% channels = @rake.channels.all %>
  <h3 class="title-rake-show"><%= channels.count.to_s %> Channels
    <% if user_signed_in? %>
      <small>
        <%= link_to '<i class="fa fa-plus"></i>'.html_safe,
                    new_channel_path(rake_id: params[:id],
                    rake_class: session[:rake_class]) %>
      </small>
    <% else %>
      <small><%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_user_session_path %></small>
    <% end %>
  </h3>
  <ul class="leaflet-list">
    <% channels.each do |c| %>
      <li class="rake-show-list" id="<%= 'channel_' + c.id.to_s %>">
        <a class="pull-left" href=<%= "#{c.source}" %>>
          <% favicon_path = "http://www.google.com/s2/favicons?domain=" + c.source %>
          <img class="media-object img-rake-show" src=<%= "#{favicon_path}" %> alt="media image">
        </a>
        <div class="media-body">
          <h5 class="media-heading channel-heading">
            <%= c.name %>
            <span class="badge pull-right">
              <%= Leaflet.where("channel_id = ?", c.id).count %>
            </span>
          </h5>
          <i class="fa fa-rss-square"> <%= c.source %></i>
          <% if @master_rake.nil? %>
            <span class="pull-right">
              <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, remove_channel_rake_path(@rake, channel: c.id), :data => { :confirm => "Are you sure?" }, :method => :get, remote: true %>
            </span>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>