<div class="col-md-4">
  <h3 class="title-rake-show"><%= pluralize(@channels.count.to_s, "Channel") %>
    <% if user_signed_in? %>
      <small>
        <%= link_to '<i class="fa fa-plus"></i>'.html_safe,
                    new_channel_path(rake_id: params[:id],
                    rake_class: session[:rake_class]) %>
        <%#= link_to "Open modal", "#my-modal", :class => "btn", "data-toggle" => "modal" %>
      </small>
    <% else %>
      <small><%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_user_session_path %></small>
    <% end %>
  </h3>
  <ul class="leaflet-list">
    <% @channels.each do |c| %>
      <li class="rake-show-list" id="<%= 'channel_' + c.id.to_s %>">
        <span class="pull-left" >
          <% favicon_path = "http://www.google.com/s2/favicons?domain=" + c.source %>
          <img class="media-object img-rake-show" src=<%= "#{favicon_path}" %> alt="media image">
        </span>
        <div class="media-body">
          <h5 class="media-heading channel-heading">
          <% if session[:rake_class] == Rake %>
            <% if c.rake_channel_maps.find_by_rake_id(@rake.id).display %>
              <%= link_to '<i class="fa fa-check-square-o"></i>'.html_safe,
                          toggle_channel_display_rake_path(@rake, channel: c.id, display: false) %>
            <% else %>
              <%= link_to '<i class="fa fa-square-o"></i>'.html_safe,
                          toggle_channel_display_rake_path(@rake, channel: c.id, display: true) %>
            <% end %>
          <% else %>
            <% if c.channels_master_rakes.find_by_master_rake_id(@rake.id).display %>
              <%= link_to '<i class="fa fa-check-square-o"></i>'.html_safe,
                          toggle_channel_display_master_rake_path(@rake, channel: c.id, display: false) %>
            <% else %>
              <%= link_to '<i class="fa fa-square-o"></i>'.html_safe,
                          toggle_channel_display_master_rake_path(@rake, channel: c.id, display: true) %>
            <% end %>
          <% end %>
          <%= c.name %>
<!--             <span class="badge pull-right">
              <%#= Leaflet.where("channel_id = ?", c.id).count %>
            </span> -->
          </h5>
          <i class="fa fa-rss-square"> <%= c.source %></i>
          <% if @master_rake.nil? %>
            <span class="pull-right">
              <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, remove_channel_rake_path(@rake, channel: c.id), :data => { :confirm => "Are you sure?" }, :method => :get %>
            </span>
          <% end %>
          <p>
            <i class="fa fa-star" title="Saved count from this channel"></i> <%= Leaflet.where("channel_id = '#{c.id}'").sum(:save_count) %>
            <i class="fa fa-user" title="Count of channel users"></i> <%= c.count_subscribers %>
            <i class="fa fa-tasks" title="Count of current posts"></i> <%= Leaflet.where("channel_id = '#{c.id}'").count %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
