<% if !flash.empty? %>
  <%= render 'shared/flash_message' %>
<% end %>
<h1>Channel#Index <small><%= link_to "New Channel", new_channel_path %></small></h1>
<% @channels.each do |c| %>
  <div class="col-md-6 col-md-offset-3">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= c.name %></h3>
        <% if c.channel_type == "RSS" %>
          <i class="fa fa-rss-square"></i> <%= c.source %></p>
        <% else %>
          <%= c.source %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>