<h1>No Reminder Tasks</h1>
<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Rake</th>
      <th>Task</th>
      <th>HeapLeafletMap</th>
      <th>Goal</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks_without_reminder.each do |task| %>
      <% if History.where(history_code: "bm_activity", leaflet_id: task.leaflet_id, user_id: task.heap.myrake.user_id).count > 0 %>
        <tr>
          <td><%= link_to User.find(task.heap.myrake.user_id).username, dashboard_user_path(User.find(task.heap.myrake.user_id)) %></td>
          <td><%= Myrake.find(task.heap.myrake).slug %></td>
          <% if task.leaflet_title.nil? || task.leaflet_title.empty? %>
            <% leaflet_title = Leaflet.find(task.leaflet_id).title %>
          <% else %>
            <% leaflet_title = task.leaflet_title %>
          <% end %>
          <td><%= leaflet_title %></td>
          <td><%= task.id %></td>
          <td><%= task.leaflet_goal %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks_without_reminder %>
