<div class="jumbotron">
  <%= link_to image_tag("logo_white_239x50.png", class: "landing-page-logo"), root_path %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 mobile-form">
      <h2>Sign up</h2>
      <% if !flash.empty? %>
        <div class="alert alert-success alert-dismissable">
          <% flash.each do |key, value| %>
            <%= content_tag :div, value, class: "flash #{key}" %>
          <% end %>
        </div>
      <% end %>
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <span class="error-message">
          <%= devise_error_messages! %>
        </span>
        <%= f.email_field :email, autofocus: true %>
        <%= f.text_field :username, autocomplete: "off", label: "Username" %>
        <%= f.password_field :password, autocomplete: "off" %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <br>
        <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>