<%= render 'dashboard/dashboard_menu' %>
<div class="container-fluid">
  <div class="row">
    <%= render 'dashboard/dashboard_nav' %>
    <div class="col-md-10">
      <h1>Topic <%= @master_rake.name %></h1>
      <h4>Users (<%= @master_rake.myrakes.count.to_s %>)</h4>
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Due Tasks</th>
            <th>Scheduled Tasks</th>
            <th>Refreshed at</th>
          </tr>
        </thead>
        <tbody>
          <% @master_rake.myrakes.each do |myrake| %>
            <tr>
              <td><%= link_to User.find(myrake.user_id).username, dashboard_user_path(User.find(myrake.user_id)) %></td>
              <td><%= myrake.due_tasks_count.to_s %></td>
              <td><%= myrake.scheduled_tasks_count.to_s %></td>
              <% last_refreshed_at_history_rec = History.where(rake_id: myrake.id, history_code: "feed_refresh") %>
              <% if last_refreshed_at_history_rec.empty? %>
                <td>Not refreshed</td>
              <% else %>
                <td><%= last_refreshed_at_history_rec.last.created_at %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>