<%= render 'authentications_menu' %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Social Account Connections</h1>
    <table>
    <% if @authentications %>
      <table class="table">
      <% unless @authentications.empty? %>
        <% for authentication in @authentications %>
          <% if authentication.provider == "facebook" %>
            <tr>
              <td><%= image_tag "facebook_logo_72.png", size: "32x32" %></td>
              <td>Connected</td>
              <td>
                <%= link_to "Remove", authentication, 
                          :confirm => 'Are you sure you want to remove this authentication option?',
                          :method => :delete,
                          :class => "remove pull-right" %>
              </td>
            </tr>
          <% elsif authentication.provider == "twitter" %>
            <tr>
              <td><%= image_tag "twitter_logo_72.png", size: "32x32" %></td>
              <td>Connected</td>
              <td>
                <%= link_to "Remove", authentication, 
                          :confirm => 'Are you sure you want to remove this authentication option?',
                          :method => :delete,
                          :class => "remove pull-right" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% unless @authentications.select{ |a| a.provider == "twitter" }.any? %>
      <tr>
        <td><%= image_tag "twitter_logo_72.png", size: "32x32" %></td>
        <td>Not Connected</td>
        <td>
          <%= link_to "Add", connect_twitter_authentications_path, class: "pull-right" %>
        </td>
      </tr>
    <% end %>
      <% unless @authentications.select{ |a| a.provider == "facebook" }.any? %>
      <tr>
        <td><%= image_tag "facebook_logo_72.png", size: "32x32" %></td>
        <td>Not Connected</td>
        <td>
          <%= link_to "Add", connect_facebook_authentications_path, class: "pull-right" %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
