<div class="row">
  <% @notifications.each do |n| %>
    <div class="col-md-12">
      <div class="media notifications">
        <span class="pull-left">
          <% if current_user.last_notification_read_at.nil? || n.published_at > current_user.last_notification_read_at %>
            <% notification_flag = "reminder-month" %>
          <% else %>
            <% notification_flag = "reminder-month-purple" %>
          <% end %>
          <p class=<%= notification_flag %>>
            <%= n.published_at.strftime("%Y-%m-%d") %>
          </p>
          <p class="reminder-day">
            <i class="fa <%= n.icon %>"></i>
          </p>
        </span>
        <div class="media-body">
          <h5 class="media-heading"><%= n.title %></h5>
          <% if n.ext_link? %>
            <%= auto_link(simple_format(n.subtitle, class: "notifications-subtitle"), html: { target: '_blank' }) %>
          <% else %>
            <%= simple_format(auto_link(n.subtitle), class: "notifications-subtitle") %>
          <% end %>
        </div>
        <div class="notifications-feed">
          <% if n.ext_link? %>
            <%= auto_link(simple_format(n.body), html: { target: '_blank' }) %>
          <% else %>
            <%= simple_format(auto_link(n.body)) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>