<span class="rake-nav">NOTIFICATIONS<hr></span>
<div class="row">
  <% @notifications.each do |n| %>
    <div class="col-md-12">
      <div class="media notifications">
        <span class="pull-left">
          <% if current_user.last_notification_read_at.nil? || n.published_at > current_user.last_notification_read_at %>
            <% notification_flag = "reminder-month" %>
          <% else %>
            <% notification_flag = "reminder-month-purple" %>
          <% end %>
          <p class=<%= notification_flag %>>
            <%= n.published_at %>
          </p>
          <p class="reminder-day">
            <i class="fa <%= n.icon %>"></i>
          </p>
        </span>
        <div class="media-body">
          <h5 class="media-heading"><%= n.title %></h5>
          <%= simple_format(auto_link(n.subtitle), class: "notifications-subtitle") %>
        </div>
        <div class="notifications-feed">
          <%= simple_format(auto_link(n.body, html: { target: '_blank' })) %>
        </div>
      </div>
    </div>
  <% end %>
</div>