<% if @top_rakes.count == 0 %>
  <div class="col-md-6 col-md-offset-3">
    <%= link_to "Add Skill Improvement", master_rakes_path, class: "btn btn-primary btn-lg centered" %>
  </div>
<% else %>
  <div class="row">
    <% @top_rakes.each do |r| %>
      <div class="col-md-12">
        <div class="thumbnail">
          <%= link_to myrake_path(r, view: "tasks"), 
                                  data: { disable_with: "<div class='media'><span class='pull-left'><p class='reminder-month'>Take Action</p><p class='reminder-day'><i class='fa fa-rocket'></i></p></span><div class='media-body'><h5 class='media-heading'><i class='fa fa-spinner'></i> Loading the Rake...</h5></div><p class='rake-links'>Execute on due actions and get updated</p></div>" } do %>
            <% master_rake = MasterRake.find(r.master_rake_id) %>
            <div class="media rake-index-view" value="<%= r.id %>">
              <span class="pull-left">
                <% if master_rake.image_url.nil? || master_rake.image_url.empty? %>
                  <%= image_tag("no_image.png", size: "96x54") %>
                <% else %>
                  <%= image_tag(master_rake.image_url, size: "96x54") %>
                <% end %>
              </span>
              <div class="media-body">
                <h5 class="media-heading">
                  <%= r.name %>
                </h5>
                <p>
                  <%= render 'myrakes/top_rake_chain', toprake: r %>
                  <p class="rake-links">
                    <span>
                      Open Actions:
                      <% r.due_tasks_count > 0 ? count_no_zero = "new-rec-alert" : count_no_zero = "" %>
                      <span class=<%= count_no_zero %>><%= r.due_tasks_count %></span>
                    </span>
                    <span class="pull-right">
                      Action-Tracker
                      &nbsp;&nbsp;
                    </span>
                  </p>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @top_rakes.count < 5 %>
      <div class="col-md-6 col-md-offset-3">
        <br><br>
        <%= link_to "Add Skill Improvement", master_rakes_path, class: "btn btn-primary btn-lg centered" %>
      </div>
    <% end %>
  </div>
  <br><br>
<% end %>