<div class="row">
  <div class="col-md-12">
    <div class="card-quote">
      <em>Begin doing what you want to do now. We are not living in eternity. We have only this moment, sparkling like a star in our hand and melting like a snowflake.</em>
      <p>
        <span class="pull-right">
          &mdash;Sir Francis Bacon
        </span>
      </p>
    </div>
  </div>
</div>
<br>
<% if @top_rakes.count == 0 %>
  <ul id="feed-list" class="leaflet-list">
    <li class="card">
      <div class="card-header">
        <span class="card-icon">
          <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
        </span>
        <span class="card-label">
          Introduction
        </span>
      </div>
      <div class="card-title">
        Daily Briefings On What's Important To You
      </div>
      <div class="card-content">
        <p>
          You don't have any briefings yet. Add briefings for goals you want to achieve. This will help you to get determined, knowledgeable and disciplined to take action and get updated without distractions. Click on the button below to explore available briefings.
        </p>
      </div>
    </li>
  </ul>
  <br>
  <br>
  <div class="col-md-6 col-md-offset-3">
    <%= link_to "Add Briefing", master_rakes_path, class: "btn btn-primary btn-lg centered" %>
  </div>
<% else %>
  <div class="row">
    <% @top_rakes.each do |r| %>
      <div class="col-md-12">
        <div class="thumbnail">
          <%= link_to myrake_path(r, view: "tasks"), 
                                  data: { disable_with: "<div class='media'><span class='pull-left'><p class='reminder-month'>Take Action</p><p class='reminder-day'><i class='fa fa-rocket'></i></p></span><div class='media-body'><h5 class='media-heading'><i class='fa fa-spinner'></i> Loading Briefing...</h5></div><p class='rake-links'>Achieve Your Goals Like a Leader</p></div>" } do %>
            <% master_rake = MasterRake.find(r.master_rake_id) %>
            <div class="media rake-index-view" value="<%= r.id %>">
              <span class="pull-left">
                <% if master_rake.image_url.nil? || master_rake.image_url.empty? %>
                  <%= image_tag("no_image.png", size: "96x54") %>
                <% else %>
                  <%= image_tag(master_rake.image_url, size: "96x54") %>
                <% end %>
              </span>
              <div class="media-body">
                <h5 class="media-heading">
                  <%= r.name %>
                </h5>
                <p>
                  <%= render 'myrakes/top_rake_chain', toprake: r %>
                  <p class="rake-links">
                    <span>
                      Progress-Tracker
                    </span>
                    <span class="pull-right">
                      Open Tasks:
                      <% r.due_tasks_count > 0 ? count_no_zero = "new-rec-alert" : count_no_zero = "" %>
                      <span class=<%= count_no_zero %>><%= r.due_tasks_count %></span>
                      &nbsp;&nbsp;
                    </span>
                  </p>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @top_rakes.count < 5 %>
      <div class="col-md-6 col-md-offset-3">
        <br><br>
        <%= link_to "Add Briefing", master_rakes_path, class: "btn btn-primary btn-lg centered" %>
      </div>
    <% end %>
  </div>
  <br><br>
<% end %>