<%= render 'shared/title' %>
<div class="container-fluid">
  <%= render 'myrakes/rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h5>
        <small>
          <%= Time.now %>
          &nbsp;|&nbsp;
          <% if !current_user.nil? %>
            MY RAKES
          <% end %>
          &nbsp;|&nbsp;
          <%= link_to "ALL TOPICS", master_rakes_path, { class: "nav-link", id: "ga-all-master-rakes"} %>
          <% if !user_signed_in? %>
            <span class="nav-link">MY RAKES</span>
            &nbsp;<i class="fa fa-long-arrow-left"></i>&nbsp;
            <%= link_to "SIGN IN", new_user_session_path, { class: "nav-link", id: "my-rakes-sign-in" } %>
          <% end %>
        </small>
      </h5>
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <h1><%= current_user.username %></h1>
      <div class="panel-group" id="accordion-main">
        <div class="panel panel-default">
          <div class="panel-heading panel-myrake">
            <h5 class="panel-title">
              <%= "Discover the power of less and master your priorities" %>
            </h5>
          </div>
          <div class="panel-collapse collapse in" id="collapse-overview">
            <div class="panel-body">
              <!-- Nav tabs -->
              <div class="row">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="rake-nav active">
                    <a href="#top-rakes" id="view-top-rakes" data-toggle="tab">
                      TOP 5
                    </a>
                  </li>
                  <li class="rake-nav">
                    <a href="#other-rakes" id="view-other-rakes" data-toggle="tab">
                      OTHER
                    </a>
                  </li>
                </ul>
              </div>
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="top-rakes">
                  <br>
                  <%= render 'top_rakes' %>
                </div>
                <div class="tab-pane" id="other-rakes">
                  <br>
                  <%= render 'other_rakes' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>