<%= render 'shared/title' %>
<div class="container-fluid">
  <%= render 'myrakes/rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h5 class="centered">
        <small>
          <% if !current_user.nil? %>
            <strong>MY RAKES</strong>
          <% end %>
          &nbsp;|&nbsp;
          <%= link_to "ALL TOPICS", master_rakes_path, { class: "nav-link", id: "ga-all-master-rakes"} %>
          <% if !user_signed_in? %>
            <span class="nav-link">MY RAKES</span>
            &nbsp;<i class="fa fa-long-arrow-left"></i>&nbsp;
            <%= link_to "SIGN IN", new_user_session_path, { class: "nav-link", id: "my-rakes-sign-in" } %>
          <% end %>
        </small>
      </h5>
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <h1 class="centered"><%= current_user.username %></h1>
      <div class="panel-group" id="accordion-main">
        <div class="panel panel-default">
          <div class="panel-heading panel-myrake">
            <h5 class="panel-title centered">
              Get updated, inspired and productive.
            </h5>
          </div>
          <% if @top_rakes.count == 0 %>
            <div class="col-md-12">
              <br>
              <div class="thumbnail" id="show-news">
                <a href="#anchor-master-rake-news">
                  <div class="media">
                    <span class="pull-left">
                      <p class="reminder-month">
                        Updated
                      </p>
                      <p class="reminder-day">
                        <i class="fa fa-rss"></i>
                      </p>
                    </span>
                    <div class="media-body">
                      <h5 class="media-heading">News</h5>
                      <p>
                        Get updated based on your own news feed for this topic.
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="thumbnail" id="show-bookmarks">
                <a href="#anchor-master-rake-bookmarks">
                  <div class="media">
                    <span class="pull-left">
                      <p class="reminder-month">
                        Inspired
                      </p>
                      <p class="reminder-day">
                        <i class="fa fa-bookmark"></i>
                      </p>
                    </span>
                    <div class="media-body">
                      <h5 class="media-heading">Bookmarks</h5>
                      <p>
                        Get inspired based on crowdsourced bookmarks.
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="thumbnail" id="show-tasks">
                <a href="#anchor-master-rake-tasks">
                  <div class="media">
                    <span class="pull-left">
                      <p class="reminder-month">
                        Productive
                      </p>
                      <p class="reminder-day">
                        <i class="fa fa-tasks"></i>
                      </p>
                    </span>
                    <div class="media-body">
                      <h5 class="media-heading">Tasks</h5>
                      <p>
                        Turn your bookmarks into tasks with reminders.
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <br>
            <br>
          <% end %>
          <div class="panel-collapse collapse in" id="collapse-overview">
            <div class="panel-body">
              <div>
                <span class="rake-nav">YOUR RAKES<hr></span>
              </div>
              <!-- Nav tabs -->
              <div class="row">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="rake-nav active">
                    <a href="#top-rakes" id="view-top-rakes" data-toggle="tab">
                      TOP 5
                    </a>
                  </li>
                  <li class="rake-nav">
                    <a href="#other-rakes" id="view-other-rakes" data-toggle="tab">
                      OTHER
                    </a>
                  </li>
                </ul>
              </div>
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="top-rakes">
                  <br>
                  <%= render 'top_rakes' %>
                </div>
                <div class="tab-pane" id="other-rakes">
                  <br>
                  <%= render 'other_rakes' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>