<%= render 'shared/title' %>
<div class="container-fluid">
  <%= render 'myrakes/rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <h1 class="centered">My Priorities</h1>
      <h5>
        <small><strong>
          <i class="fa fa-plus-square"></i>&nbsp;
          <%= link_to "ADD PRIORITY", master_rakes_path, {data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } } %>
        </strong></small>
      </h5>
      <div class="rake-title">
        <h5>
          Get Focused
        </h5>
      </div>
      <div class="rake-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="rake-nav <%= @top5_active %>" id="top-rakes-nav-tab">
            <a href="#top-rakes" id="view-top-rakes" data-toggle="tab">
              TOP 5
            </a>
          </li>
          <li class="rake-nav">
            <a href="#other-rakes" id="view-other-rakes" data-toggle="tab">
              MORE
            </a>
          </li>
          <li class="rake-nav <%= @status_active %>" id="status-nav-tab">
            <a href="#status" id="view-status" data-toggle="tab">
              INFO
              <span class="new-rec-alert">
                <% if current_user.last_notification_read_at.nil? %>
                  <%= @notifications.count.to_s unless @notifications.count == 0 %>
                <% else %>
                  <%= @notifications.where("published_at > ?", current_user.last_notification_read_at).count.to_s unless @notifications.where("published_at > ?", current_user.last_notification_read_at).count == 0 %>
                <% end %>
              </span>
            </a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane <%= @top5_active %>" id="top-rakes">
            <br>
            <%= render 'top_rakes' %>
          </div>
          <div class="tab-pane" id="other-rakes">
            <br>
            <%= render 'other_rakes' %>
          </div>
          <div class="tab-pane <%= @status_active %>" id="status">
            <br>
            <%= render 'status' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>