<div>
  <span class="rake-nav">FOCUS<hr></span>
</div>
<h5>
  <small>
    Start your day resetting your mindset, by checking out your top 5 priorities. Commit to priorities and take action. This helps you to be more mindful for the rest of the day.
  </small>
</h5>
<br>
<div>
  <span class="rake-nav">TAKE ACTIONS<hr></span>
</div>
<h5>
  <small>
    Get the right things done. Only by taking action you achieve a goal or master a priority. Create actions with reminders from the news feed or define new ones from scratch.
  </small>
</h5>
<br>
<div>
  <span class="rake-nav">BUILD HABITS<hr></span>
</div>
<h5>
  <small>
    Build up habits and improve your skills. View your success meter going up and check your discipline. Can you already smell the success?
  </small>
</h5>
<div class="media">
  <span class="pull-left">
    <% if @rake.image_url.nil? || @rake.image_url.empty? %>
      <%= image_tag("no_image.png", size: "96x54") %>
    <% else %>
      <%= image_tag(@rake.image_url, size: "96x54") %>
    <% end %>
  </span>
  <div class="media-body">
    <h5 class="media-heading">
      <%= @rake.name %>
    </h5>
    <p>
      <div class="progress progress-chain">
        <% chain_array = [[false, true],[false, false],[true, false],[true, false],[true, false],[false, false],
                          [false, false],[false, true],[true, true],[true, false],[true, false],[true, false],
                          [false, false],[false, true],[false, false],[false, false],[true, false],[false, false],
                          [false, false],[false, true],[false, true],[false, false],[true, false],[true, false],
                          [true, false],[false, true],[true, true],[false, true],[true, true],[false, true]] %>
        <% chain_array.each do |chain_element| %>
          <% if chain_element[1] == true %>
            <div class="progress-bar progress-bar-success bookmark-metrics-action" style="width: 3.33%"></div>
          <% elsif chain_element[0] == true %>
            <div class="progress-bar progress-bar-success bookmark-metrics-motion" style="width: 3.33%"></div>
          <% else %>
            <div class="progress-bar progress-bar-success bookmark-metrics" style="width: 3.33%"></div>
          <% end %>
        <% end %>
      </div>
    </p>
    <p class="rake-links">
      Open Actions: 
      <span class="new-rec-alert">5</span>
      <span class="pull-right">
        Success meter
        &nbsp;&nbsp;
      </span>
    </p>
  </div>
</div>
<br>
<br>
<% if !user_signed_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="rake-links info-text centered">
        Get started now:
      </p>
      <%= link_to "Sign Up",
                  new_user_registration_path,
                  { data: { disable_with: "<i class='fa fa-spinner white'></i> See you soon!"},
                  class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
      <br><br>
      <p class="rake-links info-text centered">
        or <%= link_to "sign in", new_user_session_path %>.
      </p>
    </div>
  </div>
<% else %>
  <% if @customer_rake.nil? %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= link_to "Commit to this priority",
                    create_rake_myrake_path(master_rake_id: @rake.id, name: @rake.name, channels: @rake.channels),
                    { data: { disable_with: "<i class='fa fa-spinner white'></i> Your rake gets created!"}, 
                      class: "btn btn-primary btn-lg centered" } %>
      </div>
    </div>
    <br><br>
  <% end %>
<% end %>