<!-- Modal -->
<div class="modal fade" id="addRssModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add RSS/Atom Feed</h4>
      </div>
      <%= bootstrap_form_for(Channel.new) do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :rake_id, class: "rake-id-rss" %>
          <%= f.hidden_field :channel_type, class: "channel-type-rss" %>
          <%= f.text_field :source, { label: "Enter Website or RSS/Atom URL", placeholder: "http://... only", url: autocomplete_channel_source_channels_path, as: :autocomplete } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button "Save",
                        class: "btn btn-primary",
                        name: "commit",
                        value: "Save",
                        data: { disable_with: "<i class='fa fa-spinner fa-spin white'></i> Adding RSS feed..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>