<br>
<ul class="nav nav-tabs nav-thumbnails" role="tablist">
  <a href="#channels" data-toggle="tab">
    <li class="col-md-6 active">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag("channels.jpg", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Blogs & Subreddits</h5>
              <p>
                <%= @rake.channels.where("channel_type <> 3 AND channel_type <> 5").count %>&nbsp;<i class="fa fa-rss purple"></i>
              </p>
              <p>
                <% if user_signed_in? %>
                  <span class="new-rec-alert">
                    <% new_channels = @rake.channels.where("channel_type <> 3 AND channel_type <> 5 AND created_at > ?", current_user.last_sign_in_at ) %>
                    <% user_rake = @rake.myrakes.find_by_user_id(current_user.id) %>
                    <% if !user_rake.nil? %>
                      <% new_channels -= user_rake.channels %>
                      <% @new_count = new_channels.count %>
                    <% else %>
                      <% @new_count = 0 %>
                    <% end %>
                    <%= pluralize(@new_count, "New Channel") unless @new_count == 0 %>
                  </span>
                <% end %>
              </p>
            </div>
          </div>
        </div>
    </li>
  </a>

  <% if user_signed_in? %>
    <%= link_to myrakes_path(collapse: "reminders") do %>
      <li class="col-md-6">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%#= image_tag("reminder_image.png", size: "96x54") %>
              <p class="reminder-month">
                <%= Date.today.strftime("%B") %>
              </p>
              <p class="reminder-day">
                <%= Time.now.day %>
              </p>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Reminders</h5>
              <p class=<%= "new-rec-alert" if @overdue_leaflets_rake.count > 0 %>>
                You have <%= pluralize(@overdue_leaflets_rake.count, "reminder") %> for this rake.
              </p>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  <% else %>
    <a href="#rake-reminders" data-toggle="tab">
      <li class="col-md-6">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%#= image_tag("reminder_image.png", size: "96x54") %>
              <p class="reminder-month">
                <%= Date.today.strftime("%B") %>
              </p>
              <p class="reminder-day">
                <%= Time.now.day %>
              </p>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Reminders</h5>
              <p>
                Don't forget to get back to your bookmarks.
              </p>
            </div>
          </div>
        </div>
      </li>
    </a>
  <% end %>

  <% @heaps.each do |h| %>
    <% leaflet_type = LeafletType.find_by_leaflet_type(h.leaflet_type_id) %>
    <% leaflet_type_desc = leaflet_type.leaflet_type_desc %>
    <a href="#heap_<%= leaflet_type_desc.gsub(/\W/, "") %>" data-toggle="tab">
      <li class="col-md-6">
          <div class="thumbnail">
            <div class="media">
              <span class="pull-left">
                <%= image_tag(leaflet_type.image_url, size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading"><%= leaflet_type_desc %></h5>
                  <p>
                    <%= h.leaflets.count %>&nbsp;<i class="fa fa-bookmark purple"></i>
                  </p>
                  <p>
                    <% if !@custom_rake.nil? %>
                      <% new_leaflets = MasterHeapLeafletMap.where("master_heap_id = ? AND created_at > ?",
                                                                    h.id, current_user.last_sign_in_at).pluck(:leaflet_id) %>
                      <% my_leaflets = HeapLeafletMap.where("heap_id IN (?)", @custom_rake.heaps.pluck(:id)).pluck(:leaflet_id) %>
                      <% new_count = (new_leaflets - my_leaflets).count %>
                      <span class="new-rec-alert">
                        <%= pluralize(new_count, "New Rec") unless new_count == 0 %>
                      </span>
                    <% end %>
                  </p>
              </div>
            </div>
          </div>
      </li>
    </a>
  <% end %>
</ul>


<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane active" id="channels">
    <a class="anchor" name="channels"></a>
    <%= render 'channels' %>
  </div>

  <div class="tab-pane" id="rake-reminders">
    <a class="anchor" name="rake-reminders"></a>
    <span class="rake-nav">BOOKMARK REMINDERS<hr></span>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p class="info-text centered">
          You need  an account and a customized rake to create and view bookmark reminders.
        </p>
        <%= link_to "Sign Up", new_user_registration_path, { class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
        <br><br>
        <p class="info-text centered">
          or <%= link_to "sign in", new_user_session_path %>.
        </p>
      </div>
    </div>
  </div>

  <% @heaps.each do |h| %>
    <% leaflet_type = LeafletType.find_by_leaflet_type(h.leaflet_type_id) %>
    <% leaflet_type_desc = leaflet_type.leaflet_type_desc %>
    <div class="tab-pane" id="heap_<%= leaflet_type_desc.gsub(/\W/, "") %>">
      <a class="anchor" name="heap_<%= leaflet_type_desc.gsub(/\W/, '') %>"></a>
      <span class="rake-nav"><%= leaflet_type_desc.upcase %><hr></span>
      <%= link_to "Add Bookmark", "#", class: "pull-right btn btn-xs btn-primary add-recommendation" %>
      <br>
      <div class="add-recommendation-form">
        <% if user_signed_in? && !@custom_rake.nil? %>
          <% if leaflet_type.leaflet_type != 15 %>
            <%= form_tag Leaflet.new do %>
              <div class="input-group">
                <input type="text" class="form-control url-input" id="url-<%= leaflet_type.leaflet_type.to_s %>" placeholder="Enter URL (http://...)">
                <span class="input-group-btn">
                  <%= link_to "Go!", "#", 
                              data: {
                                toggle: "modal",
                                target: "#newLeafletModal",
                                heapid: Heap.where(myrake_id: @custom_rake.id, leaflet_type_id: h.leaflet_type_id).first,
                                collapse: "heap_" + "#{h.leaflet_type_id}",
                                typeid: h.leaflet_type_id
                              },
                              class: "btn btn-primary leaflet-create", id: "js-test", remote: true %>
                </span>
              </div>
            <% end %>
            <br><br>
          <% else %>
            <% if current_user.admin? %>
              <%= form_tag Leaflet.new do %>
                <div class="input-group">
                  <input type="text" class="form-control url-input" id="url-<%= leaflet_type.leaflet_type.to_s %>" placeholder="Enter URL (http://...)">
                  <span class="input-group-btn">
                    <%= link_to "Go!", "#", 
                                data: {
                                  toggle: "modal",
                                  target: "#newLeafletModal",
                                  heapid: Heap.where(myrake_id: @custom_rake.id, leaflet_type_id: h.leaflet_type_id).first,
                                  collapse: "heap_" + "#{h.leaflet_type_id}",
                                  typeid: h.leaflet_type_id
                                },
                                class: "btn btn-primary leaflet-create", id: "js-test", remote: true %>
                  </span>
                </div>
              <% end %>
              <br><br>
            <% end %>
          <% end %>
        <% else %>
          <h5>
            <small>
              To add recommendations you have to create a personal rake first:
              <% if user_signed_in? %>
                <%= link_to "Create!", new_myrake_path(master_rake_id: @rake.id),
                                                       data: { toggle: "modal",
                                                               target: "#newCustomRakeModal" } %>
              <% else %>
                <%= link_to "Sign in", new_user_session_path %>
              <% end %>
            </small>
          </h5>
          <br>
          <% if leaflet_type.id != 15 %>
            <%#= link_to "Go!", new_user_session_path, class: "btn btn-xs btn-primary" %>
          <% end %>
        <% end %>
      </div>

      <% h.leaflets.order("created_at DESC").each do |l| %>
        <ul id="feed-list" class="leaflet-list">
            <% channel = Channel.find(l.channel_id) %>
            <a class="anchor" name="anchor_leaflet_<%= l.id.to_s %>"></a>
            <li class="rake-show-list" id="<%= "leaflet_" + l.id.to_s %>">
              <% if channel.channel_type == 4 %>
                <% reddit_link = "http://reddit.com/" + l.identifier %>
              <% else %>
                <% reddit_link = "#" %>
              <% end %>
              <a class="pull-left" href=<%= reddit_link %> target="_blank">
                <% if channel.channel_type == 4 %>
                  <%= image_tag "reddit-32.png", size: "16x16", class: "media-object img-feed-show" %>
                <% elsif channel.channel_type == 3 %>
                  <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16", class: "media-object img-feed-show" %>
                <% else %>
                  <% favicon_path = "http://www.google.com/s2/favicons?domain=" + channel.source %>
                  <img class="media-object img-feed-show" src=<%= "#{favicon_path}" %> alt="media image">
                <% end %>
              </a>
              <div class="media-body">
                <span class="feed-timestamp">
                  <% channel_name = channel.name %>
                  <% if channel_name == "Title not available." %>
                    <% channel_name = channel.source %>
                  <% end %>
                  Channel: <%= channel_name %>
                  <% if !l.created_by.nil? %>
                    &nbsp;|&nbsp;
                    added by <%= User.find(l.created_by).username %>
                  <% end %>
                  <span class="pull-right">
                    <% if !l.published_at.nil? %>
                      <%= time_ago_in_words(l.published_at) %> ago 
                    <% else %>
                      <%= time_ago_in_words(l.created_at) %> ago 
                    <% end %>
                  </span>
                </span>
                <br>
                <span class="leaflet-title">
                  <% if l.leaflet_type_id == 15 %>
                    <%= link_to l.title, l.url, class: "external", value: "#{h.leaflet_type_id}_#{l.id}" %>
                  <% else %>
                    <%= link_to l.title, l.url, class: "external", value: "#{h.leaflet_type_id}_#{l.id}", target: "_blank" %>
                  <% end %>
                </span>
                <!-- <p class="feed-body"><%#= highlight(l.content.html_safe, @rake_filter.split(",")) %></p> -->
                <p class="feed-body">
                  <%# description = l.leaflet_desc %>
                  <%# if !description.nil? %>
                    <%#= description %>
                  <%# end %>
                  <%#= raw content unless l.content == description %>
                  <%= raw l.content %>
                </p>
                <br>
                <span class="leaflet-metrics">
                  Viewed <span class="v_count_<%= h.leaflet_type_id.to_s + "_" + l.id.to_s %>"><%= l.view_count %></span>
                  &nbsp;|&nbsp;
                  Saved <span class="s_count_<%= h.leaflet_type_id.to_s + "_" + l.id.to_s %>"><%= l.save_count %></span>
                  &nbsp;|&nbsp;
                  Deleted <span class="d_count_<%= h.leaflet_type_id.to_s + "_" + l.id.to_s %>"><%= l.delete_count %></span>
                </span>
                <span class="pull-right">
                  <span class="feed-button">
                    <span id="<%= 'feed-heart-icon-' + l.id.to_s %>">
                    <% if user_signed_in? %>
                      <% if History.where("user_id = ?", current_user.id).liked.pluck(:leaflet_id).include? l.id %>
                        &nbsp;<i class="fa fa-heart" data-toggle="tooltip" data-placement="top" title="Liked"></i>
                      <% else %>
                        &nbsp;<i class="fa fa-heart-o like" data-toggle="tooltip" data-placement="top" title="Like" value=<%= l.id %>></i>
                      <% end %>
                    <% else %>
                      &nbsp;<i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="Like"></i>
                    <% end %>
                    </span>
                    <span class="l_count_<%= l.id %>"><%= l.like_count %></span>
                  </span>
                  &nbsp;
                  <% if user_signed_in? %>
                    <span class="feed-button">
                      <% user_rake = @rake.myrakes.where(user_id: current_user.id).first %>
                      <% if !user_rake.nil? %>
                        <% user_heap_ids = user_rake.heaps.pluck(:id) %>
                        <% user_heap_leaflet_ids = HeapLeafletMap.where("heap_id IN (?)", user_heap_ids).pluck(:leaflet_id) %>
                        <% if user_heap_leaflet_ids.include? l.id %>
                          <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-star"></i>'.html_safe, '#' %>
                        <% else %>
                          <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save Recommendation"></i>'.html_safe, 
                                add_leaflet_myrake_path(user_rake), 
                                data: { toggle: "modal",
                                        target: "#myModal",
                                        rakename: user_rake.name,
                                        id: l.id,
                                        heapid: h.leaflet_type_id,
                                        title: l.title,
                                        collapse: "heap_" + "#{h.leaflet_type_id}" },
                                class: "leaflet-save" %>
                        <% end %>
                      <% else %>
                        <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save Recommendation"></i>'.html_safe,
                              new_myrake_path(master_rake_id: @rake.id),
                                            data: { toggle: "modal",
                                                    target: "#newCustomRakeModal",
                                                  } %>
                      <% end %>
                    </span>
                  <% end %>
                  &nbsp;
                </span>
              </div>
              <hr>
            </li>
          </ul>
      <% end %>

    </div>
  <% end %>
</div>
