<h5>Blogs & Subreddits</h5>
<h5><small>To add a blog or subreddit, switch to your personal rake or create one (on the top of this page). You can then add a blog or subreddit from there.</small></h5>
<br>
<% if !current_user.nil? %>
  <%#= link_to "Add Blog", new_channel_path(rake_id: @rake.id, channel_type: 0),
              data: { toggle: "modal",
                      target: "#addRssModal",
                      rakeid: @rake.id,
                      channeltype: 0 },
              class: "btn btn-xs btn-primary" %>
  <%#= link_to "Add Subreddit", new_channel_path(rake_id: @rake.id, channel_type: 4),
              data: { toggle: "modal",
                      target: "#addSubredditModal",
                      rakeid: @rake.id,
                      channeltype: 4 },
              class: "btn btn-xs btn-primary" %>
<% else %>
  <%#= link_to "Add Blog", new_user_session_path, class: "btn btn-xs btn-primary" %>
  <%#= link_to "Add Subreddit", new_user_session_path, class: "btn btn-xs btn-primary" %>
<% end %>
<ul class="leaflet-list">
  <% @rake.channels.where("channel_type <> 3 AND channel_type <> 5").each do |c| %>
    <li class="channel-list" id="<%= 'channel_' + c.id.to_s %>">
      <span class="pull-left">
        <% if c.channel_type == 4 %>
          <%= image_tag "reddit-32.png", size: "16x16", class: "media-object img-feed-show" %>
        <% elsif c.channel_type == 3 %>
          <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16", class: "media-object img-feed-show" %>
        <% else %>
          <% favicon_path = "http://www.google.com/s2/favicons?domain=" + c.source %>
          <img class="media-object img-feed-show" src=<%= "#{favicon_path}" %> alt="media image">
        <% end %>
      </span>
      <div class="media-body">
        <h5 class="media-heading channel-heading">
          <!-- <i class="fa fa-check-square-o"></i> -->
          <%# if c.rake_channel_maps.find_by_rake_id(@rake.id).display %>
            <%#= link_to '<i class="fa fa-check-square-o"></i>'.html_safe,
                        toggle_channel_display_myrake_path(@rake, channel: c.id, display: false) %>
          <%# else %>
            <%#= link_to '<i class="fa fa-square-o"></i>'.html_safe,
                        toggle_channel_display_myrake_path(@rake, channel: c.id, display: true) %>
          <%# end %>
          <% channel_name = c.name %>
          <% if channel_name == "Title not available." %>
            <% channel_name = c.source %>
          <% end %>
          <% if c.channel_type == 0 %> 
            <%= link_to channel_name, c.source.match(/^http:\/\/[^\/]*/).to_s, class: "external", target: "_blank" %>
          <% elsif c.channel_type == 4 %>
            <%= link_to channel_name, "http://www.reddit.com" + c.name, class: "external", target: "_blank" %>
          <% else %>
            <%= channel_name %>
          <% end %>
          <span class="pull-right">
            <% if user_signed_in? && !@custom_rake.nil? %>
              <% if !@custom_rake.channels.include? c %>
                <%= link_to "Add",
                      add_channel_myrake_path(@custom_rake.id, channel: c.id),
                      class: "btn btn-xs btn-default", title: "Add Channel to own Rake" %>
              <% end %>
            <% end %>
            <% if !current_user.nil? && current_user.admin? %>
              <%= link_to "Delete",
                          remove_channel_master_rake_path(@rake, channel: c.id),
                          :data => { :confirm => "Are you sure?" },
                          :method => :get, class: "btn btn-xs btn-default" %>
            <% end %>
          </span>
        </h5>
        <p class="channel-info">
          <i class="fa fa-star" title="Saved count from this channel"></i> <%= Leaflet.where("channel_id = '#{c.id}'").sum(:save_count) %>
          <i class="fa fa-user" title="Count of channel users"></i> <%= c.count_subscribers %>
          <i class="fa fa-tasks" title="Count of current posts"></i> <%= Leaflet.where("channel_id = '#{c.id}'").count %>
        </p>
      </div>
    </li>
  <% end %>
</ul>