<br>
<ul id="feed-list" class="leaflet-list">
  <li class="card">
    <div class="card-header">
      <span class="card-icon">
        <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
      </span>
      <span class="card-label">
        Minimize distractions
      </span>
    </div>
    <div class="card-title">
      Focus on Relevant Information
    </div>
    <div class="card-content">
      <p>
        Take control of what information you consume for your essentials by customizing your news feeds. <strong><%= link_to "Sign Up", new_user_registration_path %></strong> to add your favorite blogs (RSS feeds) and/or subreddits from Reddit.com.
      </p>
    </div>
  </li>
  <br>
  <li class="card">
    <div class="card-header">
      <span class="card-icon">
        <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
      </span>
      <span class="card-label">
        Maximize taking action
      </span>
    </div>
    <div class="card-title">
      Scheduled Actions
    </div>
    <div class="card-content">
      <p>
        Turn useful content from your personalized news feed into a scheduled action. This guarantees that you don't forget about it to take some action. It also helps to continuously purge outdated content.
      </p>
    </div>
  </li>
</ul>
<br><br><br>
<% if !user_signed_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Sign Up", new_user_registration_path,
                  { data: { disable_with: "<i class='fa fa-spinner white'></i> See you soon!"},
                  class: "btn btn-primary btn-lg centered",
                  id: "sign-up" } %>
      <br><br>
      <p class="rake-links info-text centered">
        or <%= link_to "sign in", new_user_session_path %>.
      </p>
    </div>
  </div>
<% end %>
