<ul id="feed-list" class="leaflet-list">
  <% @new_leaflets.each do |l| %>
    <li class="rake-show-list">
      <a class="pull-left" href="#">
        <% channel = Channel.find(l.channel_id) %>
        <% if channel.channel_type == 4 %>
          <%= image_tag "reddit-32.png", size: "16x16", class: "media-object img-feed-show" %>
        <% elsif channel.channel_type == 3 %>
          <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16", class: "media-object img-feed-show" %>
        <% else %>
          <% favicon_path = "http://www.google.com/s2/favicons?domain=" + channel.source %>
          <img class="media-object img-feed-show" src=<%= "#{favicon_path}" %> alt="media image">
        <% end %>
      </a>
      <div class="media-body">
        <span class="feed-timestamp">
          <%= Channel.find(l.channel_id).name %>
          <% if l.leaflet_type_id != 0 %>
            &nbsp;|&nbsp;
            <%= LeafletType.find_by_leaflet_type(l.leaflet_type_id).leaflet_type_desc %>
            <% if !l.created_by.nil? %>
              &nbsp;|&nbsp;
              added by <%= User.find(l.created_by).username %>
            <% end %>
          <% end %>
          <span class="pull-right-menu">
            <% if !l.published_at.nil? %>
              <%= time_ago_in_words(l.published_at) %> ago 
            <% else %>
              <%= time_ago_in_words(l.created_at) %> ago 
            <% end %>
          </span>
        </span>
        <br>
        <span class="leaflet-title">
          <%= link_to l.title.html_safe, l.url, class: "external", value: l.id, target: "_blank" %>
        </span>
        <% content = l.content.gsub(/\<a href=["'](.*?)["']\>(.*?)\<\/a\>/mi, '<a href="\1" target="_blank" >\2</a>') %>
        <% content = content.gsub(/<a href=\"\/r\//, '<a href="http://reddit.com/r/') %>
        <% content = content.gsub(/<a href=\"\/u\//, '<a href="http://reddit.com/u/') %>
        <p class="feed-body"><%= raw content unless l.content == "No more content available." %></p>
        Viewed <span class="v_count_<%= l.id %>"><%= l.view_count %></span>
        &nbsp;|&nbsp;
        Saved <span class="s_count_<%= l.id %>"><%= l.save_count %></span>
        &nbsp;|&nbsp;
        Deleted <span class="d_count_<%= l.id %>"><%= l.delete_count %></span>
        <span class="pull-right">
          <span class="feed-button">
            <span id="<%= 'feed-heart-icon-' + l.id.to_s %>">
              <% if Feed.where("leaflet_id = ? AND status = 1", l.id).count > 0 %>
                &nbsp;<i class="fa fa-heart" data-toggle="tooltip" data-placement="top" title="Liked count"></i>
              <% else %>
                &nbsp;<i class="fa fa-heart-o like" data-toggle="tooltip" data-placement="top" title="Like" value=<%= l.id %>></i>
              <% end %>
            </span>
            <span class="l_count_<%= l.id %>"><%= l.like_count %></span>
          </span>
          &nbsp;
          <span id="<%= 'feed_star_icon_' + l.id.to_s %>">
            <% if !@heap_leaflets.nil? %>
              <% if @heap_leaflets.include? l %>
                &nbsp;<i class="fa fa-star"></i>
              <% else %>
                <span class="feed-button">
                  <% if user_signed_in? %>
                    <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save to Heap"></i>'.html_safe, add_leaflet_rake_path(@custom_rake), 
                                data: { toggle: "modal", target: "#saveLeafletModal", id: l.id, title: l.title }, class: "leaflet-save" %>
                  <% else %>
                    <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save to Heap"></i>'.html_safe, new_user_session_path %>
                  <% end %>
                </span>
              <% end %>
            <% else %>
              <% if user_signed_in? %>
                <%#= link_to '&nbsp;'.html_safe + '<i class="fa fa-save"></i>'.html_safe,
                      new_rake_path(master_rake_id: @rake.id),
                                    data: { toggle: "modal",
                                            target: "#newCustomRakeModal",
                                          } %>
              <% else %>
                <span class="feed-button">
                  <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save to Heap"></i>'.html_safe, new_user_session_path %>
                </span>
              <% end %>
            <% end %>
          </span>
          &nbsp;
        </span>
      </div>
      <hr>
    </li>
  <% end %>
</ul>