<div class="row">
  <br>
  <div class="col-md-12">
    <div class="card-quote">
      <em>Begin doing what you want to do now. We are not living in eternity. We have only this moment, sparkling like a star in our hand and melting like a snowflake.</em>
      <p>
        <span class="pull-right">
          &mdash;Sir Francis Bacon
        </span>
      </p>
    </div>
    <br>
    <% if !user_signed_in? %>
      <ul id="feed-list" class="leaflet-list">
        <li class="card">
          <div class="card-header">
            <span class="card-icon">
              <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
            </span>
            <span class="card-label">
              Make choices
            </span>
          </div>
          <div class="card-title">
            Be Determined
          </div>
          <div class="card-content">
            <p>
              You rarely have time for everything you want in this life, so you need to make choices what's really important to you. Rakepage helps you to achieve your goals like a leader with daily briefings. <strong>Discover and choose available briefings related to your goals</strong>.
            </p>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
  <%= render 'search_field' %>
  <div class="col-md-12 col-lg-6">
    <div class="thumbnail" id="request">
      <%= link_to histories_path, 
                  data: { toggle: "modal",
                          target: "#requestModal"},
                  class: "add-request" do %>
        <div class="media">
          <span class="pull-left">
            <p class="reminder-month">
              Request
            </p>
            <p class="reminder-day">
              <i class="fa fa-sitemap"></i>
            </p>
          </span>
          <div class="media-body">
            <h5 class="media-heading">
              Couldn't find a briefing?
            </h5>
            <p class="rake-links">
              Click to send a request
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% @new_master_rakes.where(featured: true).find_each do |m| %>
     <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", m.master_heaps.pluck(:id)) %>
    <div class="col-md-12 col-lg-6">
      <div class="thumbnail">
        <%= link_to master_rake_path(m) do %>
          <div class="media load-rake" value="<%= m.id %>">
            <span class="pull-left">
              <% if m.image_url.nil? || m.image_url.empty? %>
                <%= image_tag("no_image.png", size: "96x54") %>
              <% else %>
                <%= image_tag(m.image_url, size: "96x54") %>
              <% end %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">
                <% if user_signed_in? %>
                  <% if m.myrakes.pluck(:user_id).include? current_user.id %>
                    <i class="fa fa-star-o"></i>
                  <% end %>
                <% end %>
                <%= m.name %>
              </h5>
              <p class="rake-links">
                Click to see preview
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <!-- Create new Master Rake (check if duplicated code in Myrakes view) -->
  <% if user_signed_in? && current_user.admin == true %>
    <div class="col-md-12 col-lg-6">
      <div class="thumbnail">
        <%= link_to new_master_rake_path, data: { 
                    toggle: "modal",
                    target: "#newMasterRakeModal",
                    category: "none",
                    user: current_user.id },
                    class: "masterrake-create" do %>
          <div class="media">
            <span class="pull-left">
              <%= image_tag("add_master_rake.png", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Add new briefing</h5>
              <p>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>