<span class="rake-nav">NEWS<hr></span>
<h5>
  <span class="pull-right">
  <% if user_signed_in? %>
    <small><%= link_to "Refresh", master_rake_path(refresh: "yes", collapse: "feed", anchor: "feed"), { class: "btn btn-xs btn-primary", id: "ga-feed-refresh" } %></small>
  <% else %>
    <small><%= link_to "Sign in to refresh", new_user_session_path, id: "ga-feed-refresh-sign-in" %></small>
  <% end %>
  </span>
</h5>
<% if @feed_leaflets.count == 0 %>
  <h5><small>Add a blog or subreddit to populate the feed.</small></h5>
<% end %>
<br>
<ul id="feed-list" class="leaflet-list">
  <% @feed_leaflets.each do |l| %>
    <% channel = Channel.find(l.channel_id) %>
    <a class="anchor" id="<%= 'leaflet_' + l.id.to_s %>"></a>
    <li class="rake-show-list">
      <% if channel.channel_type == 4 %>
        <% reddit_link = "href=" + "http://reddit.com/" + l.identifier + " target='_blank'"%>
      <% else %>
        <% reddit_link = "" %>
      <% end %>
      <a class="pull-left" <%= reddit_link %>>
        <% if channel.channel_type == 4 %>
          <%= image_tag "reddit-32.png", size: "16x16", class: "media-object img-feed-show" %>
        <% elsif channel.channel_type == 3 %>
          <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16", class: "media-object img-feed-show" %>
        <% else %>
          <% favicon_path = "http://www.google.com/s2/favicons?domain=" + channel.source %>
          <img class="media-object img-feed-show" src=<%= "#{favicon_path}" %> alt="media image">
        <% end %>
      </a>
      <div class="media-body">
        <span class="feed-timestamp">
          <% channel_name = Channel.find(l.channel_id).name %>
          <% if channel_name == "Title not available." %>
            <% channel_name = Channel.find(l.channel_id).source %>
          <% end %>
          Channel: <%= channel_name %>
          <% if l.leaflet_type_id != 0 %>
            &nbsp;|&nbsp;
            <%= LeafletType.find_by_leaflet_type(l.leaflet_type_id).leaflet_type_desc %>
            <% if !l.created_by.nil? %>
              &nbsp;|&nbsp;
              added by <%= User.find(l.created_by).username %>
            <% end %>
          <% end %>
          <span class="pull-right-menu">
            <% if !l.published_at.nil? %>
              <%= time_ago_in_words(l.published_at) %> ago 
            <% else %>
              <%= time_ago_in_words(l.created_at) %> ago 
            <% end %>
          </span>
        </span>
        <br>
        <span class="leaflet-title">
          <%= link_to l.title.html_safe, l.url, class: "external", value: l.id, target: "_blank" %>
        </span>
        <p class="feed-body"><%= raw l.content unless l.content == "No content details to display." %></p>
        <br>
        <span class="leaflet-metrics">
          Viewed <span class="v_count_<%= l.id %>"><%= l.view_count %></span>
          &nbsp;|&nbsp;
          Saved <span class="s_count_<%= l.id %>"><%= l.save_count %></span>
          &nbsp;|&nbsp;
          Deleted <span class="d_count_<%= l.id %>"><%= l.delete_count %></span>
        </span>
        <span class="pull-right">
          <span class="feed-button">
            <span id="<%= 'feed-heart-icon-' + l.id.to_s %>">
              <% if user_signed_in? %>
                <% if History.where("user_id = ?", current_user.id).liked.pluck(:leaflet_id).include? l.id %>
                  &nbsp;<i class="fa fa-heart" data-toggle="tooltip" data-placement="top" title="Liked count"></i>
                <% else %>
                  &nbsp;<i class="fa fa-heart-o like" data-toggle="tooltip" data-placement="top" title="Like" value=<%= l.id %>></i>
                <% end %>
              <% else %>
                &nbsp;<i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="Liked count"></i>
              <% end %>
            </span>
            <span class="l_count_<%= l.id %>"><%= l.like_count %></span>
          </span>
          &nbsp;
          <span id="<%= 'feed_star_icon_' + l.id.to_s %>">
            <% if !@heap_leaflets.nil? %>
              <% if @heap_leaflets.include? l %>
                &nbsp;<i class="fa fa-bookmark"></i>
              <% else %>
                <span class="feed-button">
                  <% if user_signed_in? %>
                    <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save Bookmark"></i>'.html_safe,
                                add_leaflet_myrake_path(@custom_rake), 
                                data: { toggle: "modal", 
                                        target: "#myModal",
                                        id: l.id,
                                        title: l.title,
                                        collapse: "feed" },
                                        class: "leaflet-save" %>
                  <% else %>
                    <%= link_to '&nbsp'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save Bookmark"></i>'.html_safe, new_user_session_path %>
                  <% end %>
                </span>
              <% end %>
            <% else %>
              <span class="feed-button">
              <% if user_signed_in? %>
                <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save Bookmark"></i>'.html_safe,
                      new_myrake_path(master_rake_id: @rake.id),
                                    data: { toggle: "modal",
                                            target: "#newCustomRakeModal",
                                          } %>
              <% else %>
                <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save Bookmark"></i>'.html_safe, new_user_session_path %>
              <% end %>
              </span>
            <% end %>
          </span>
          &nbsp;
        </span>
      </div>
      <hr>
    </li>
  <% end %>
</ul>
<%#= paginate @feed_leaflets %>