<span class="rake-nav">NEW INSPIRATIONS<hr></span>
<% if @feed_leaflets.count == 0 %>
  <p class="info-text centered">
    The news feed is empty because there are no blogs or subreddits added to this topic. 
    <% if user_signed_in? %>
      <% if !@custom_rake.nil? %>
        You can add blogs or subreddits if you <%= link_to "switch to your personal rake.", myrake_path(@custom_rake) %>
      <% else %>
        You can add blogs or subreddits if you <%= link_to "create a personal rake.", 
                                                           new_myrake_path(master_rake_id: @rake.id),
                                                                           data: { toggle: "modal",
                                                                                   target: "#newCustomRakeModal",
                                                                                 } %>
      <% end %>
    <% else %>
      You can add blogs or subreddits if you create a personal rake. <%= link_to "Sign in.", root_path %>
    <% end %>
  </p>
<% end %>
<ul id="feed-list" class="leaflet-list">
  <% @feed_leaflets.each do |l| %>
    <% channel = Channel.find(l.channel_id) %>
    <a class="anchor" id="<%= 'leaflet_' + l.id.to_s %>"></a>
    <li class="rake-show-list">
      <% if channel.channel_type == 4 %>
        <% reddit_link = "href=" + "http://reddit.com/" + l.identifier + " target='_blank'"%>
      <% else %>
        <% reddit_link = "" %>
      <% end %>
      <a class="pull-left" <%= reddit_link %>>
        <% if channel.channel_type == 4 %>
          <%= image_tag "reddit-32.png", size: "16x16", class: "media-object img-feed-show" %>
        <% elsif channel.channel_type == 3 %>
          <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16", class: "media-object img-feed-show" %>
        <% else %>
          <% favicon_path = "http://www.google.com/s2/favicons?domain=" + channel.source %>
          <img class="media-object img-feed-show" src=<%= "#{favicon_path}" %> alt="media image">
        <% end %>
      </a>
      <div class="media-body">
        <span class="feed-timestamp">
          <% channel_name = Channel.find(l.channel_id).name %>
          <% if channel_name == "Title not available." %>
            <% channel_name = Channel.find(l.channel_id).source %>
          <% end %>
          Channel: <%= channel_name %>
          <% if l.leaflet_type_id != 0 %>
            &nbsp;|&nbsp;
            <%= LeafletType.find_by_leaflet_type(l.leaflet_type_id).leaflet_type_desc %>
            <% if !l.created_by.nil? %>
              &nbsp;|&nbsp;
              added by <%= User.find(l.created_by).username %>
            <% end %>
          <% end %>
          <span class="pull-right-menu">
            <% if !l.published_at.nil? %>
              <%= time_ago_in_words(l.published_at) %> ago 
            <% else %>
              <%= time_ago_in_words(l.created_at) %> ago 
            <% end %>
          </span>
        </span>
        <br>
        <span class="leaflet-title">
          <%= link_to l.title.html_safe, l.url, class: "external", value: l.id, target: "_blank" %>
        </span>
        <p class="feed-body"><%= raw l.content unless l.content == "No content details to display." %></p>
        <br>
        <span class="leaflet-metrics">
          <span class="s_count_<%= l.id %>"><%= l.save_count %></span>
          <i class="fa fa-user purple"></i>
        </span>
        <span class="pull-right">
          <span id="<%= 'feed_star_icon_' + l.id.to_s %>">
            <% if !@heap_leaflets.nil? %>
              <% if @heap_leaflets.include? l %>
                &nbsp;<i class="fa fa-bookmark"></i>
              <% else %>
                <% if user_signed_in? %>
                  <%= link_to "Save",
                              add_leaflet_myrake_path(@custom_rake), 
                              data: { toggle: "modal", 
                                      target: "#myModal",
                                      id: l.id,
                                      title: l.title,
                                      collapse: "feed" },
                                      class: "btn btn-primary btn-xs leaflet-save" %>
                <% else %>
                  <%= link_to "Save", root_path, class: "btn btn-primary btn-xs" %>
                <% end %>
              <% end %>
            <% else %>
              <% if user_signed_in? %>
                <%= link_to "Save",
                      new_myrake_path(master_rake_id: @rake.id),
                                    data: { toggle: "modal",
                                            target: "#newCustomRakeModal",
                                          },
                                    class: "btn btn-primary btn-xs" %>
              <% else %>
                <%= link_to "Save", root_path, class: "btn btn-primary btn-xs" %>
              <% end %>
            <% end %>
          </span>
        </span>
      </div>
      <hr>
    </li>
  <% end %>
</ul>
<%#= paginate @feed_leaflets %>