<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#new-rakes" data-toggle="tab">New Rakes</a></li>
  <li><a href="#new-leaflets" data-toggle="tab">New Leaflets</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="new-rakes">
    <br>
    <% @new_master_rakes.each do |m| %>
      <div class="col-md-6">
        <div class="thumbnail">
          <div class="caption">
            <% if m.image_url.nil? || m.image_url.empty? %>
              <%= link_to image_tag("no_image.png"), master_rake_path(m.id), class: "load-rake", value: m.id %>
            <% else %>
              <%= link_to image_tag(m.image_url), master_rake_path(m.id), class: "load-rake", value: m.id %>
            <% end %>
            <span class="rake-caption">
              <%= link_to m.name, master_rake_path(m.id), class: "load-rake", value: m.id %>
            </span>
            <span id="load-rake-<%= "#{m.id.to_s}" %>"></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="tab-pane" id="new-leaflets">
    <%= render 'display_leaflets' %>
  </div>
</div>