<div class="row">
  <br>
  <div class="col-md-12">
    <span class="rake-nav">COMPONENTS OF A BRIEFING<hr></span>
    <ul id="feed-list" class="leaflet-list">
      <li class="card">
        <div class="card-header">
          <span class="card-icon">
            <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
          </span>
          <span class="card-label">
            Customizable News Feed
          </span>
        </div>
        <div class="card-title">
          Be Knowledgeable
        </div>
        <div class="card-content">
          <p>
            In the age of distractions we are drowning in a sea of irrelevance. Choose only essential information sources and reduce wasting time online to get significant news. <strong><%= link_to "Sign up", new_user_registration_path %></strong> to combine your favorite blogs and subreddits.
          </p>
        </div>
      </li>
      <br>
      <li class="card">
        <div class="card-header">
          <span class="card-icon">
            <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
          </span>
          <span class="card-label">
            Progress-Tracker
          </span>
        </div>
        <div class="card-title">
          Be Disciplined
        </div>
        <div class="card-content">
          <p>
            Track your progress, know what you want to do and get motivated to take action to achieve your goals. Everyday. Live personal leadership. Update your progress-tracker with a simple click.
          </p>
        </div>
      </li>
      <br>
    </ul>
  </div>
</div>
<br>
<br>
<% if !user_signed_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Sign up",
                  new_user_registration_path,
                  { data: { disable_with: "<i class='fa fa-spinner white'></i> See you soon!"},
                  class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
      <br><br>
      <p class="rake-links info-text centered">
        or <%= link_to "sign in", new_user_session_path %>.
      </p>
    </div>
  </div>
<% else %>
  <% if !@customer_rake.nil? %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= link_to "Choose this briefing",
                    create_rake_myrake_path(master_rake_id: @rake.id, name: @rake.name, channels: @rake.channels),
                    { data: { disable_with: "<i class='fa fa-spinner white'></i> Your rake gets created!"}, class: "btn btn-primary btn-lg centered" } %>
      </div>
    </div>
    <br><br>
  <% end %>
<% end %>