<div class="row">
  <br>
  <div class="col-md-12">
    <span class="rake-nav">COMPONENTS OF A BRIEFING<hr></span>
    <ul id="feed-list" class="leaflet-list">
      <li class="card">
        <div class="card-header">
          <span class="card-icon">
            <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
          </span>
          <span class="card-label">
            Progress-Tracker
          </span>
        </div>
        <div class="card-title">
          Measure Your Progress
        </div>
        <div class="card-content">
          <p>
            Each briefing has a Progress-Tracker showing you the days you took action. Motivate yourself by creating streaks and measure your accountability to achieve your goals faster. Check out the example above.
          </p>
        </div>
      </li>
      <br>
      <li class="card">
        <div class="card-header">
          <span class="card-icon">
            <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
          </span>
          <span class="card-label">
            Customizable News Feed
          </span>
        </div>
        <div class="card-title">
          Get Specific Information
        </div>
        <div class="card-content">
          <p>
            Customize your information sources for each briefing and minimize distractions. Click on the "News" tab to see a preview. Choose your favorite blogs (RSS feeds) and subreddits from Reddit.com in one place. <strong><%= link_to "Sign up", new_user_registration_path %></strong> to get access to this feature.
          </p>
        </div>
      </li>
      <br>
      <li class="card">
        <div class="card-header">
          <span class="card-icon">
            <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
          </span>
          <span class="card-label">
            Action Overview
          </span>
        </div>
        <div class="card-title">
          Take Action
        </div>
        <div class="card-content">
          <p>
            Add actions or save inspirational content from your news feed to your briefing. Take action to make progress and achieve your goals.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
<br>
<br>
<% if !user_signed_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Sign up",
                  new_user_registration_path,
                  { data: { disable_with: "<i class='fa fa-spinner white'></i> See you soon!"},
                  class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
      <br><br>
      <p class="rake-links info-text centered">
        or <%= link_to "sign in", new_user_session_path %>.
      </p>
    </div>
  </div>
<% else %>
  <% if @customer_rake.nil? %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= link_to "Choose this briefing",
                    create_rake_myrake_path(master_rake_id: @rake.id, name: @rake.name, channels: @rake.channels),
                    { data: { disable_with: "<i class='fa fa-spinner white'></i> Your rake gets created!"}, class: "btn btn-primary btn-lg centered" } %>
      </div>
    </div>
    <br><br>
  <% end %>
<% end %>