<div>
  <span class="rake-nav">GET STARTED<hr></span>
</div>
<% if @custom_rake.nil? %>
  <div class="media">
    <span class="pull-left">
      <% if @rake.image_url.nil? || @rake.image_url.empty? %>
        <%= image_tag("no_image.png", size: "96x54") %>
      <% else %>
        <%= image_tag(@rake.image_url, size: "96x54") %>
      <% end %>
    </span>
    <div class="media-body">
      <h5 class="media-heading">
        Creating a Rake allows you to do the following:
      </h5>
      <p>
        <% if !user_signed_in? %>
          Please sign up or sign in.
        <% end %>
      </p>
    </div>
  </div>
  <div class="media">
    <span class="pull-left">
      <p class="reminder-month">
        Updated
      </p>
      <p class="reminder-day">
        <i class="fa fa-rss"></i>
      </p>
    </span>
    <div class="media-body">
      <h5 class="media-heading">
        Customize News Feed
      </h5>
      <p>
         Choose your favorite news sources for this topic.
      </p>
    </div>
  </div>
  <div class="media">
    <span class="pull-left">
      <p class="reminder-month">
        Motivated
      </p>
      <p class="reminder-day">
        <i class="fa fa-bookmark"></i>
      </p>
    </span>
    <div class="media-body">
      <h5 class="media-heading">
        Save Bookmarks/Create Tasks
      </h5>
      <p>
         Turn bookmarks into tasks with goals, notes and reminders.
      </p>
    </div>
  </div>
  <div class="media">
    <span class="pull-left">
      <p class="reminder-month">
        Productive
      </p>
      <p class="reminder-day">
        <i class="fa fa-tasks"></i>
      </p>
    </span>
    <div class="media-body">
      <h5 class="media-heading">
        Execute on Tasks
      </h5>
      <p>
         Rate and track your productivity.
      </p>
    </div>
  </div>
  <br>
  <% if !user_signed_in? %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p class="info-text centered">
          You need an account to create a rake.
        </p>
        <%= link_to "Sign Up", new_user_registration_path, { class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
        <br><br>
        <p class="info-text centered">
          or <%= link_to "sign in", new_user_session_path %>.
        </p>
      </div>
    </div>
  <% else %>
    <br><br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= link_to "Create Rake!", new_myrake_path(master_rake_id: @rake.id),
                                    data: { toggle: "modal",
                                            target: "#newCustomRakeModal",
                                          }, class: "btn btn-primary btn-lg centered" %>
      </div>
    </div>
    <br><br><br>
  <% end %>
<% else %>
  <h3 class="centered">You already created a personal rake.</h3>
<% end %>