<div class="row">
  <br>
  <div class="col-md-12">
    <div class="card-quote">
      <em>When we strive to become better than we are, everything around us becomes better too.</em>
      <p>
        <span class="pull-right">
          &mdash;Paulo Coelho
        </span>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <br>
  <div class="col-md-12">
    <ul id="feed-list" class="leaflet-list">
      <li class="card">
        <div class="card-header">
          <span class="card-icon">
            <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
          </span>
          <span class="card-label">
            Getting started
          </span>
        </div>
        <div class="card-title">
          Make Choices
        </div>
        <div class="card-content">
          <p>
            You rarely have time for everything you want in this life, so you need to make choices. Use Rakepage to oversee your skill improvements on one page. See the examples below.
          </p>
          <div class="thumbnail demo-rake">
            <div class="media rake-index-view">
              <span class="pull-left">
                <%= image_tag("rake_img_placeholder_96x54.jpg", size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading">
                  Skill Improvement Example 1
                </h5>
                <p>
                  <div class="progress progress-chain">
                    <% chain_array = [[false, true],[false, true],[true, true],[true, false],[true, true],[false, true],
                                      [false, false],[false, true],[true, true],[true, false],[true, true],[true, false],
                                      [false, true],[false, true],[false, true],[false, true],[true, false],[false, false],
                                      [false, true],[false, true],[false, true],[false, false],[true, true],[true, true],
                                      [true, true],[false, true],[true, true],[false, true],[true, true],[false, true]] %>
                    <% chain_array.each do |chain_element| %>
                      <% if chain_element[1] == true %>
                        <div class="progress-bar progress-bar-success bookmark-metrics-action" style="width: 3.33%"></div>
                      <% else %>
                        <div class="progress-bar progress-bar-success bookmark-metrics" style="width: 3.33%"></div>
                      <% end %>
                    <% end %>
                  </div>
                </p>
                <div class="rake-footer">
                  <span>
                    Open Actions:
                    <span class="new-rec-alert">2</span>
                  </span>
                  <span class="pull-right">
                    Action-Tracker
                    &nbsp;&nbsp;
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="thumbnail demo-rake">
            <div class="media rake-index-view">
              <span class="pull-left">
                <%= image_tag("rake_img_placeholder_96x54.jpg", size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading">
                  Skill Improvement Example 2
                </h5>
                <p>
                  <div class="progress progress-chain">
                    <% chain_array = [[false, true],[false, false],[true, false],[true, false],[true, false],[false, false],
                                      [false, false],[false, true],[true, true],[true, false],[true, false],[true, false],
                                      [false, false],[false, true],[false, false],[false, false],[true, false],[false, false],
                                      [false, false],[false, true],[false, true],[false, false],[true, false],[true, false],
                                      [true, false],[false, true],[true, true],[false, true],[true, true],[false, true]] %>
                    <% chain_array.each do |chain_element| %>
                      <% if chain_element[1] == true %>
                        <div class="progress-bar progress-bar-success bookmark-metrics-action" style="width: 3.33%"></div>
                      <% else %>
                        <div class="progress-bar progress-bar-success bookmark-metrics" style="width: 3.33%"></div>
                      <% end %>
                    <% end %>
                  </div>
                </p>
                <div class="rake-footer">
                  <span>
                    Open Actions:
                    <span class="new-rec-alert">2</span>
                  </span>
                  <span class="pull-right">
                    Action-Tracker
                    &nbsp;&nbsp;
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <br>
      <li class="card">
        <div class="card-header">
          <span class="card-icon">
            <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
          </span>
          <span class="card-label">
            Getting inspired
          </span>
        </div>
        <div class="card-title">
          Start Now
        </div>
        <div class="card-content">
          <p>
            Think about what you really desire, take control and take personal leadership to achieve your goals. You can choose available skills by clicking on the tabs above labelled with "POPULAR" and "NEW". If you don't find your skill, please send a request.
          </p>
        </div>
      </li>
    </ul>
    <br>
  </div>
  <div class="col-md-12">

  </div>
</div>
<br>
<br>
<% if !user_signed_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Sign up",
                  new_user_registration_path,
                  { data: { disable_with: "<i class='fa fa-spinner white'></i> See you soon!"},
                  class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
      <br><br>
      <p class="rake-links info-text centered">
        or <%= link_to "sign in", new_user_session_path %>.
      </p>
    </div>
  </div>
<% end %>