<!-- Modal -->
<div class="modal fade" id="newLeafletModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Bookmark</h4>
      </div>
      <%= bootstrap_form_for(@custom_rake) do |f| %>
        <div class="modal-body">
          <%# if params[:heap_type].nil? || params[:heap_type].to_i == 0 %>
            <%# leaflet_type_array = LeafletType.where("id IN (?)", CategoryLeafletTypeMap.where("category_id IN (?)", @rake.master_rake.category_id).pluck(:leaflet_type_id)).map { |lt| [lt.leaflet_type_desc, lt.id] } %>
            <%# if !current_user.admin? %>
              <%# leaflet_type_array.delete_if { |x| x[1] == 15 } %>
            <%# end %>
            <div class="category-select">
              <%#= f.select :leaflet_type_id, options_for_select(leaflet_type_array), { label: "Choose a Bookmark Category" } %>
            </div>
          <%# else %>
            <%= f.hidden_field :leaflet_type_id, class: "leaflet-type-id" %>
          <%# end %>
          <%= f.hidden_field :heap_id, class: "heap-id" %>
          <%= f.hidden_field :collapse, class: "collapse-section" %>
          <%= f.hidden_field :leaflet_url, { label: "Recommended URL", class: "leaflet-url" } %>
          <%= f.hidden_field :leaflet_title, { label: "Bookmark Title", placeholder: "Automatically filled if empty*", class: "leaflet-custom-title"} %>
          <%= f.hidden_field :leaflet_desc, { label: "Bookmark Description (optional)", placeholder: "Automatically filled if empty*" } %>
          <% reminder_period = [] %>
          <% reminder_period << ["no reminder", 0] %>
          <% reminder_period << ["in 1 hour", 1] %>
          <% reminder_period << ["in 1 day", 2] %>
          <% reminder_period << ["in 3 days", 3] %>
          <% reminder_period << ["in 1 week", 4] %>
          <% reminder_period << ["in 1 month", 5] %>
          <div class="row">
            <div class="col-md-6">
              <%= f.select :reminder_at, options_for_select(reminder_period), { label: "Set Reminder",  }, id: "reminder_at", class: "reminderat" %>
              <%= f.hidden_field :current_reminder, class: "current-reminder" %>
            </div>
            <div class="col-md-6">
              <%= f.text_field :leaflet_goal, { label: "Define a goal or task (optional)", class: "leaflet-goal" } %>
            </div>
          </div>
          <%= f.text_area :leaflet_note, { label: "Notes (optional)", class: "leaflet-note" } %>
          <div class="row">
            <div class="col-md-6">
              <label class="score-label">Quantify your productivity</label>
              <text class="score centered" id="W1">0</text>
              <%= f.range_field :current_score, in: 0..100, step: "1", value: 0, hide_label: true, class: "modal-slider", id: "slider1" %>
            </div>
            <div class="col-md-6">
              <label class="rating-label">Rating</label>
              <text class="score centered" id="W11">0</text>
              <%= f.range_field :current_rating, in: 0..100, step: "1", value: 0, hide_label: true, class: "modal-slider", id: "slider11" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Create Bookmark", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>