<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Save Bookmark</h4>
      </div>
      <%= bootstrap_form_for(@custom_rake) do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :leaflet_id, class: "leaflet-id" %>
          <%= f.hidden_field :collapse, class: "collapse-section" %>
          <%= f.hidden_field :leaflet_title, { label: "Bookmark Title", class: "leaflet-custom-title" } %>
          <% leaflet_types_array = LeafletType.where("id IN (?) AND id <> 15", CategoryLeafletTypeMap.where(category_id: @rake.category_id).pluck(:leaflet_type_id)).map { |lt| [lt.leaflet_type_desc, lt.id] } %>
          <%= f.select :leaflet_type_id, options_for_select(leaflet_types_array, :heap_id), { label: "Choose a Bookmark Category" }, class: "heap-id" %>
          <%= f.hidden_field :leaflet_desc, { label: "Bookmark Description (optional)" } %>
          <% reminder_period = [] %>
          <% reminder_period << ["no reminder", 0] %>
          <% reminder_period << ["in 1 hour", 1] %>
          <% reminder_period << ["in 1 day", 2] %>
          <% reminder_period << ["in 3 days", 3] %>
          <% reminder_period << ["in 1 week", 4] %>
          <% reminder_period << ["in 1 month", 5] %>
          <%= f.select :reminder_at, options_for_select(reminder_period), { label: "Set Reminder",  }, id: "reminder_at", class: "reminderat" %>
          <%= f.hidden_field :current_reminder, class: "current-reminder" %>
          <%= f.text_field :leaflet_goal, { label: "Define a goal or task (optional)", class: "leaflet-goal" } %>
          <%= f.text_area :leaflet_note, { label: "Notes (optional)", class: "leaflet-note" } %>
          <label class="score-label">Score/Rating</label>
          <%= f.range_field :current_score, in: 0..100, step: "1", value: 0, hide_label: true, class: "modal-slider", id: "slider5" %>
          <text class="score centered" id="W5">0<text>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Save Bookmark", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>