<!-- Nav tabs -->
<div class="row">
  <ul class="nav nav-tabs nav-thumbnails" role="tablist">
    <li class="col-lg-6">
      <% if user_signed_in? %>
        <% if !@custom_rake.nil? && !@custom_rake.empty? %>
          <%= link_to myrake_path(@custom_rake.first) do %>
            <div class="thumbnail">
              <div class="media">
                <span class="pull-left">
                  <%= image_tag(@rake.image_url, size: "96x54") %>
                </span>
                <div class="media-body">
                  <h5 class="media-heading">View personalized Rake</h5>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to new_myrake_path(master_rake_id: @rake.id),
                                    data: { toggle: "modal",
                                            target: "#newCustomRakeModal",
                                          } do %>
            <div class="thumbnail">
              <div class="media">
                <span class="pull-left">
                  <%= image_tag(@rake.image_url, size: "96x54") %>
                </span>
                <div class="media-body">
                  <h5 class="media-heading">Create personalized Rake</h5>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <div class="thumbnail">
            <div class="media">
              <span class="pull-left">
                <%= image_tag(@rake.image_url, size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading">Create personalized Rake</h5>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </li>
    <li class="<%= @stats_collapse %> col-lg-6">
      <a href="#stats" role="tab" data-toggle="tab">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag("charts.png", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Stats</h5>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="<%= @feed_collapse %> col-lg-6">
      <a href="#feed" role="tab" data-toggle="tab">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag("newsfeed.jpg", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">News</h5>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="col-lg-6">
      <a href="#channels" data-toggle="tab">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag("channels.jpg", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Blogs & Subreddits</h5>
              <p>
                <%= pluralize(@rake.channels.where("channel_type <> 3 AND channel_type <> 5").count, "Channel") %>
              </p>
            </div>
          </div>
        </div>
      </a>
    </li>

    <% @heaps.each do |h| %>
      <% leaflet_type = LeafletType.find_by_leaflet_type(h.leaflet_type_id) %>
      <% leaflet_type_desc = leaflet_type.leaflet_type_desc %>
      <li class="<%= @heap_collapse if @heap_id == h.leaflet_type_id.to_s %> col-lg-6">
        <a href="#heap_<%= leaflet_type_desc.gsub(/\W/, "") %>" data-toggle="tab">
          <div class="thumbnail">
            <div class="media">
              <span class="pull-left">
                <%= image_tag(leaflet_type.image_url, size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading"><%= leaflet_type_desc %></h5>
                  <p>
                    <%= pluralize(h.leaflets.count, "Recommendation") %>
                  </p>
              </div>
            </div>
          </div>
        </a>
      </li>
    <% end %>

  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane <%= @stats_collapse %>" id="stats">
    <a class="anchor" name="stats"></a>
    <h5>Stats</h5>
    <h5><small>Most active Co-Rakers</small></h5>
    <% data = @rake.get_corakers.first(5) %>
    <% if data.count == 0 %>
      <% chart_height = "30px" %>
    <% else %>
      <% chart_height = (data.count * 40).to_s + "px" %>
    <% end %>
    <%= bar_chart data, { height: "#{chart_height}", library: { colors: ['#6e2384'], title: "# of Recommendations", chartArea: { top: 20, bottom: 10, left: 100 }, vAxis: { format: "#" }}} %>
  </div>
  <div class="tab-pane <%= @feed_collapse %>" id="feed">
    <a class="anchor" name="feed"></a>
    <%= render 'feed' %>
  </div>
  <div class="tab-pane" id="channels">
    <a class="anchor" name="channels"></a>
    <%= render 'channels' %>
  </div>


  <% @heaps.each do |h| %>
    <% leaflet_type = LeafletType.find_by_leaflet_type(h.leaflet_type_id) %>
    <% leaflet_type_desc = leaflet_type.leaflet_type_desc %>
    <div class="tab-pane <%= @heap_collapse if @heap_id == h.leaflet_type_id.to_s %>" id="heap_<%= leaflet_type_desc.gsub(/\W/, "") %>">
      <a class="anchor" name="heap_<%= leaflet_type_desc.gsub(/\W/, '') %>"></a>
      <h5><%= leaflet_type_desc %></h5>
      <% h.leaflets.order("created_at DESC").each do |l| %>
        <ul id="feed-list" class="leaflet-list">
            <% channel = Channel.find(l.channel_id) %>
            <li class="rake-show-list" id="<%= "leaflet_" + l.id.to_s %>">
              <% if channel.channel_type == 4 %>
                <% reddit_link = "http://reddit.com/" + l.identifier %>
              <% else %>
                <% reddit_link = "#" %>
              <% end %>
              <a class="pull-left" href=<%= reddit_link %> target="_blank">
                <% if channel.channel_type == 4 %>
                  <%= image_tag "reddit-32.png", size: "16x16", class: "media-object img-feed-show" %>
                <% elsif channel.channel_type == 3 %>
                  <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16", class: "media-object img-feed-show" %>
                <% else %>
                  <% favicon_path = "http://www.google.com/s2/favicons?domain=" + channel.source %>
                  <img class="media-object img-feed-show" src=<%= "#{favicon_path}" %> alt="media image">
                <% end %>
              </a>
              <div class="media-body">
                <span class="feed-timestamp">
                  <% channel_name = channel.name %>
                  <% if channel_name == "Title not available." %>
                    <% channel_name = channel.source %>
                  <% end %>
                  Channel: <%= channel_name %>
                  <% if !l.created_by.nil? %>
                    &nbsp;|&nbsp;
                    added by <%= User.find(l.created_by).username %>
                  <% end %>
                  <span class="pull-right">
                    <% if !l.published_at.nil? %>
                      <%= time_ago_in_words(l.published_at) %> ago 
                    <% else %>
                      <%= time_ago_in_words(l.created_at) %> ago 
                    <% end %>
                  </span>
                </span>
                <br>
                <span class="leaflet-title">
                  <% if l.leaflet_type_id == 15 %>
                    <%= link_to l.title, l.url, class: "external", value: l.id %>
                  <% else %>
                    <%= link_to l.title, l.url, class: "external", value: l.id, target: "_blank" %>
                  <% end %>
                </span>
                <!-- <p class="feed-body"><%#= highlight(l.content.html_safe, @rake_filter.split(",")) %></p> -->
                <p class="feed-body">
                  <%# description = l.leaflet_desc %>
                  <%# if !description.nil? %>
                    <%#= description %>
                  <%# end %>
                  <% content = l.content.gsub(/\<a href=["'](.*?)["']\>(.*?)\<\/a\>/mi, '<a href="\1" target="_blank" >\2</a>') %>
                  <% content = content.gsub(/<a href=\"\/r\//, '<a href="http://reddit.com/r/') %>
                  <% content = content.gsub(/<a href=\"\/u\//, '<a href="http://reddit.com/u/') %>
                  <%#= raw content unless l.content == description %>
                  <%= raw content %>
                </p>
                <br>
                <span class="leaflet-metrics">
                  Viewed <span class="v_count_<%= l.id %>"><%= l.view_count %></span>
                  &nbsp;|&nbsp;
                  Saved <span class="s_count_<%= l.id %>"><%= l.save_count %></span>
                  &nbsp;|&nbsp;
                  Deleted <span class="d_count_<%= l.id %>"><%= l.delete_count %></span>
                </span>
                <span class="pull-right">
                  <span class="feed-button">
                    <span id="<%= 'feed-heart-icon-' + l.id.to_s %>">
                    <% if user_signed_in? %>
                      <% if History.where("user_id = ?", current_user.id).liked.pluck(:leaflet_id).include? l.id %>
                        &nbsp;<i class="fa fa-heart" data-toggle="tooltip" data-placement="top" title="Liked"></i>
                      <% else %>
                        &nbsp;<i class="fa fa-heart-o like" data-toggle="tooltip" data-placement="top" title="Like" value=<%= l.id %>></i>
                      <% end %>
                    <% else %>
                      &nbsp;<i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="Like"></i>
                    <% end %>
                    </span>
                    <span class="l_count_<%= l.id %>"><%= l.like_count %></span>
                  </span>
                  &nbsp;
                  <% if user_signed_in? %>
                    <span class="feed-button">
                      <% user_rake = @rake.myrakes.where(user_id: current_user.id).first %>
                      <% if !user_rake.nil? %>
                        <% user_heap_ids = user_rake.heaps.pluck(:id) %>
                        <% user_heap_leaflet_ids = HeapLeafletMap.where("heap_id IN (?)", user_heap_ids).pluck(:leaflet_id) %>
                        <% if user_heap_leaflet_ids.include? l.id %>
                          <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-star"></i>'.html_safe, '#' %>
                        <% else %>
                          <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save to Heap"></i>'.html_safe, 
                                add_leaflet_myrake_path(user_rake), 
                                data: { toggle: "modal",
                                        target: "#saveLeafletModal",
                                        id: l.id,
                                        title: l.title,
                                        collapse: "heap_" + "#{h.leaflet_type_id}" },
                                class: "leaflet-save" %>
                        <% end %>
                      <% else %>
                        <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save to Heap"></i>'.html_safe,
                              new_myrake_path(master_rake_id: @rake.id),
                                            data: { toggle: "modal",
                                                    target: "#newCustomRakeModal",
                                                  } %>
                      <% end %>
                    </span>
                  <% end %>
                  &nbsp;
                </span>
              </div>
              <hr>
            </li>
          </ul>
      <% end %>

    </div>
  <% end %>
<%#= javascript_tag "$('a[data-toggle='tab']').on('shown.bs.tab', function (e) {
        var eth = e.target.href;
        var anchorname = eth.substring(eth.indexOf('#') + 1, eth.length);
        scrollToAnchor(anchorname);
    });", type: "text/javascript" %>
</div>