<!-- Nav tabs -->
<div class="row">
  <ul class="nav nav-tabs nav-thumbnails" role="tablist">
    <li class="col-lg-6">
      <% if user_signed_in? %>
        <% if !@custom_rake.nil? %>
          <%= link_to myrake_path(@custom_rake) do %>
            <div class="thumbnail">
              <div class="media">
                <span class="pull-left">
                  <%= image_tag(@rake.image_url, size: "96x54") %>
                </span>
                <div class="media-body">
                  <h5 class="media-heading">View personalized Rake</h5>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to new_myrake_path(master_rake_id: @rake.id),
                                    data: { toggle: "modal",
                                            target: "#newCustomRakeModal",
                                          } do %>
            <div class="thumbnail">
              <div class="media">
                <span class="pull-left">
                  <%= image_tag(@rake.image_url, size: "96x54") %>
                </span>
                <div class="media-body">
                  <h5 class="media-heading">Create personalized Rake</h5>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <div class="thumbnail">
            <div class="media">
              <span class="pull-left">
                <%= image_tag(@rake.image_url, size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading">Create personalized Rake</h5>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </li>
    <li class="<%= @stats_collapse %> col-lg-6">
      <a href="#stats" role="tab" data-toggle="tab">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag("charts.png", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Related Rakes & Stats</h5>
              <p>
                <%= (@parent_master_rakes.count + @sibling_master_rakes.count + @children_master_rakes.count).to_s %>
                Rakes (
                <i class="fa fa-level-up"></i>&nbsp;<%= @parent_master_rakes.count.to_s %>&nbsp;|&nbsp;
                <i class="fa fa-long-arrow-right"></i>&nbsp;<%= @sibling_master_rakes.count.to_s %>&nbsp;|&nbsp;
                <i class="fa fa-level-down"></i>&nbsp;<%= @children_master_rakes.count.to_s %>
                )
              </p>
              <p>
                <%= pluralize(@rake.myrakes.count, "Co-Raker") %>
                &nbsp;|&nbsp;
                <%= pluralize(MasterHeapLeafletMap.where("master_heap_id IN (?)", 
                              @rake.master_heaps.pluck(:id)).count, 
                              "Rec") + " in total"%>
              </p>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="<%= @feed_collapse %> col-lg-6">
      <a href="#feed" role="tab" data-toggle="tab">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag("newsfeed.jpg", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">
                News
                <small>
                </small>
              </h5>
              <p>
                <%= pluralize(@feed_leaflets.count, "Post") %>
              </p>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="col-lg-6">
      <a href="#channels" data-toggle="tab">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag("channels.jpg", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Blogs & Subreddits</h5>
              <p>
                <%= pluralize(@rake.channels.where("channel_type <> 3 AND channel_type <> 5").count, "Channel") %>
              </p>
              <p>
                <% if user_signed_in? %>
                  <span class="new-rec-alert">
                    <% new_channels = @rake.channels.where("channel_type <> 3 AND channel_type <> 5 AND created_at > ?", current_user.last_sign_in_at ) %>
                    <% user_rake = @rake.myrakes.find_by_user_id(current_user.id) %>
                    <% if !user_rake.nil? %>
                      <% new_channels -= user_rake.channels %>
                      <% @new_count = new_channels.count %>
                    <% else %>
                      <% @new_count = 0 %>
                    <% end %>
                    <%= pluralize(@new_count, "New Channel") unless @new_count == 0 %>
                  </span>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </a>
    </li>

    <% @heaps.each do |h| %>
      <% leaflet_type = LeafletType.find_by_leaflet_type(h.leaflet_type_id) %>
      <% leaflet_type_desc = leaflet_type.leaflet_type_desc %>
      <li class="<%= @heap_collapse if @heap_id == h.leaflet_type_id.to_s %> col-lg-6">
        <a href="#heap_<%= leaflet_type_desc.gsub(/\W/, "") %>" data-toggle="tab">
          <div class="thumbnail">
            <div class="media">
              <span class="pull-left">
                <%= image_tag(leaflet_type.image_url, size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading"><%= leaflet_type_desc %></h5>
                  <p>
                    <%= pluralize(h.leaflets.count, "Rec") %>
                  </p>
                  <p>
                    <% if !@custom_rake.nil? %>
                      <% new_leaflets = MasterHeapLeafletMap.where("master_heap_id = ? AND created_at > ?",
                                                                    h.id, current_user.last_sign_in_at).pluck(:leaflet_id) %>
                      <% my_leaflets = HeapLeafletMap.where("heap_id IN (?)", @custom_rake.heaps.pluck(:id)).pluck(:leaflet_id) %>
                      <% new_count = (new_leaflets - my_leaflets).count %>
                      <span class="new-rec-alert">
                        <%= pluralize(new_count, "New Rec") unless new_count == 0 %>
                      </span>
                    <% end %>
                  </p>
              </div>
            </div>
          </div>
        </a>
      </li>
    <% end %>

  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane <%= @stats_collapse %>" id="stats">
    <div class="row">
      <div class="col-lg-12">
        <a class="anchor" name="stats"></a>
        <h5>Related Rakes & Stats</h5>
      </div>
    </div>
    <% if @parent_master_rakes.count > 0 %>
      <div class="row">
        <div class="col-lg-12">
          <h5><small><i class="fa fa-level-up"></i> Parent Rakes</small></h5>
        </div>
      </div>
      <div class="row">
        <% @parent_master_rakes.each do |pmr| %>
          <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", pmr.master_heaps.pluck(:id)) %>
          <%= link_to master_rake_path(pmr) do %>
            <div class="col-lg-6">
              <div class="thumbnail">
                <div class="media">
                  <span class="pull-left">
                    <%= image_tag(pmr.image_url, size: "96x54") %>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">
                      <% if user_signed_in? %>
                        <% if pmr.myrakes.pluck(:user_id).include? current_user.id %>
                          <i class="fa fa-star"></i>
                        <% end %>
                      <% end %>
                      <%= pmr.name %>
                    </h5>
                    <p>
                      <%= pluralize(pmr.myrakes.count, "Raker") %>
                      &nbsp;|&nbsp;
                      <%= pluralize(MasterHeapLeafletMap.where("master_heap_id IN (?)", pmr.master_heaps.pluck(:id)).count,
                                    "Rec") %>
                    </p>
                    <p>
                      <% if user_signed_in? %>
                        <span class="new-rec-alert">
                          <% user_rake = pmr.myrakes.find_by_user_id(current_user.id) %>
                          <% if !user_rake.nil? %>
                            <% new_channels = pmr.channels.where("channel_type <> 3 AND channel_type <> 5 AND created_at > ?", current_user.last_sign_in_at ) %>
                            <% new_channels -= user_rake.channels %>
                            <% @new_count = new_channels.count %>
                            <%= pluralize(@new_count, "New Channel") unless @new_count == 0 %>
                            <% new_count = master_leaflets.where("created_at > ?", current_user.last_sign_in_at).count %>
                            <% if @new_count > 0 && new_count > 0 %>
                              &nbsp;|&nbsp;
                            <% end %>
                            <%= pluralize(new_count, "New Rec") unless new_count == 0 %>
                          <% end %>
                        </span>
                      <% end %>
                    </p>

                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @sibling_master_rakes.count > 0 %>
      <div class="row">
        <div class="col-lg-12">
          <h5><small><i class="fa fa-long-arrow-right"></i> Sibling Rakes</small></h5>
        </div>
      </div>
      <div class="row">
        <% @sibling_master_rakes.each do |smr| %>
          <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", smr.master_heaps.pluck(:id)) %>
          <%= link_to master_rake_path(smr) do %>
            <div class="col-lg-6">
              <div class="thumbnail">
                <div class="media">
                  <span class="pull-left">
                    <%= image_tag(smr.image_url, size: "96x54") %>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">
                      <% if user_signed_in? %>
                        <% if smr.myrakes.pluck(:user_id).include? current_user.id %>
                          <i class="fa fa-star"></i>
                        <% end %>
                      <% end %>
                      <%= smr.name %>
                    </h5>
                    <p>
                      <%= pluralize(smr.myrakes.count, "Raker") %>
                      &nbsp;|&nbsp;
                      <%= pluralize(MasterHeapLeafletMap.where("master_heap_id IN (?)", smr.master_heaps.pluck(:id)).count,
                                    "Rec") %>
                    </p>
                    <p>
                      <% if user_signed_in? %>
                        <span class="new-rec-alert">
                          <% user_rake = smr.myrakes.find_by_user_id(current_user.id) %>
                          <% if !user_rake.nil? %>
                            <% new_channels = smr.channels.where("channel_type <> 3 AND channel_type <> 5 AND created_at > ?", current_user.last_sign_in_at ) %>
                            <% new_channels -= user_rake.channels %>
                            <% @new_count = new_channels.count %>
                            <%= pluralize(@new_count, "New Channel") unless @new_count == 0 %>
                            <% new_count = master_leaflets.where("created_at > ?", current_user.last_sign_in_at).count %>
                            <% if @new_count > 0 && new_count > 0 %>
                              &nbsp;|&nbsp;
                            <% end %>
                            <%= pluralize(new_count, "New Rec") unless new_count == 0 %>
                          <% end %>
                        </span>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @children_master_rakes.count > 0 %>
      <div class="row">
        <div class="col-lg-12">
          <h5><small><i class="fa fa-level-down"></i> Children Rakes</small></h5>
        </div>
      </div>
      <div class="row">
        <% @children_master_rakes.each do |cmr| %>
          <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", cmr.master_heaps.pluck(:id)) %>
          <%= link_to master_rake_path(cmr) do %>
            <div class="col-lg-6">
              <div class="thumbnail">
                <div class="media">
                  <span class="pull-left">
                    <%= image_tag(cmr.image_url, size: "96x54") %>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">
                      <% if user_signed_in? %>
                        <% if cmr.myrakes.pluck(:user_id).include? current_user.id %>
                          <i class="fa fa-star"></i>
                        <% end %>
                      <% end %>
                      <%= cmr.name %>
                    </h5>
                    <p>
                      <%= pluralize(cmr.myrakes.count, "Raker") %>
                      &nbsp;|&nbsp;
                      <%= pluralize(MasterHeapLeafletMap.where("master_heap_id IN (?)", cmr.master_heaps.pluck(:id)).count,
                                    "Rec") %>
                    </p>
                    <p>
                      <% if user_signed_in? %>
                        <span class="new-rec-alert">
                          <% user_rake = cmr.myrakes.find_by_user_id(current_user.id) %>
                          <% if !user_rake.nil? %>
                            <% new_channels = cmr.channels.where("channel_type <> 3 AND channel_type <> 5 AND created_at > ?", current_user.last_sign_in_at ) %>
                            <% new_channels -= user_rake.channels %>
                            <% @new_count = new_channels.count %>
                            <%= pluralize(@new_count, "New Channel") unless @new_count == 0 %>
                            <% new_count = master_leaflets.where("created_at > ?", current_user.last_sign_in_at).count %>
                            <% if @new_count > 0 && new_count > 0 %>
                              &nbsp;|&nbsp;
                            <% end %>
                            <%= pluralize(new_count, "New Rec") unless new_count == 0 %>
                          <% end %>
                        </span>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <h5><small>Most active Co-Rakers</small></h5>
    <% data = @rake.get_corakers.first(5) %>
    <% if data.count == 0 %>
      <% chart_height = "30px" %>
    <% else %>
      <% chart_height = (data.count * 40).to_s + "px" %>
    <% end %>
    <%= bar_chart data, { height: "#{chart_height}", library: { colors: ['#6e2384'], title: "# of Recommendations", chartArea: { top: 20, bottom: 10, left: 100 }, vAxis: { format: "#" }}} %>
  </div>

  <div class="tab-pane <%= @feed_collapse %>" id="feed">
    <a class="anchor" name="feed"></a>
    <%= render 'feed' %>
  </div>
  <div class="tab-pane" id="channels">
    <a class="anchor" name="channels"></a>
    <%= render 'channels' %>
  </div>


  <% @heaps.each do |h| %>
    <% leaflet_type = LeafletType.find_by_leaflet_type(h.leaflet_type_id) %>
    <% leaflet_type_desc = leaflet_type.leaflet_type_desc %>
    <div class="tab-pane <%= @heap_collapse if @heap_id == h.leaflet_type_id.to_s %>" id="heap_<%= leaflet_type_desc.gsub(/\W/, "") %>">
      <a class="anchor" name="heap_<%= leaflet_type_desc.gsub(/\W/, '') %>"></a>
      <h5>
        <%= leaflet_type_desc %>
        <small><%= link_to "Add Recommendation", "#", class: "add-recommendation" %></small>
      </h5>
      <div class="add-recommendation-form">
        <% if user_signed_in? && !@custom_rake.nil? %>
          <% if leaflet_type.id != 15 %>
            <%= bootstrap_form_for(Leaflet.new, layout: :inline) do |f| %>
              <%= f.text_field :url, { hide_label: true, label: "Add a new recommendation", placeholder: "Enter a valid URL (http://...)", id: "url-#{leaflet_type.id}", size: 78 } %>
              <span class="inline-group-btn">
                <%= link_to "Go!", new_leaflet_path, 
                            data: {
                              toggle: "modal",
                              target: "#newLeafletModal",
                              heapid: Heap.where(myrake_id: @custom_rake.id, leaflet_type_id: leaflet_type.id).first,
                              collapse: "heap_" + "#{h.leaflet_type_id}",
                              typeid: leaflet_type.id
                            },
                            class: "btn btn-primary leaflet-create", id: "js-test" %>
              </span>
            <% end %>
            <br><br>
          <% else %>
            <% if current_user.admin? %>
              <%= bootstrap_form_for(Leaflet.new, layout: :inline) do |f| %>
                <%= f.text_field :url, { hide_label: true, label: "Add a new recommendation", placeholder: "Enter a valid URL (http://...)", id: "url-#{leaflet_type.id}", size: 78 } %>
                <span class="inline-group-btn">
                <%= link_to "Go!", new_leaflet_path, 
                            data: {
                              toggle: "modal",
                              target: "#newLeafletModal",
                              heapid: Heap.where(myrake_id: @custom_rake.id, leaflet_type_id: leaflet_type.id).first,
                              collapse: "heap_" + "#{h.leaflet_type_id}",
                              typeid: leaflet_type.id
                            },
                            class: "btn btn-primary leaflet-create", id: "js-test" %>
                </span>
              <% end %>
              <br><br>
            <% end %>
          <% end %>
        <% else %>
          <h5>
            <small>
              To add recommendations you have to create a personlized rake first:
              <% if user_signed_in? %>
                <%= link_to "Create!", new_myrake_path(master_rake_id: @rake.id),
                                                       data: { toggle: "modal",
                                                               target: "#newCustomRakeModal" } %>
              <% else %>
                <%= link_to "Sign in", new_user_session_path %>
              <% end %>
            </small>
          </h5>
          <br>
          <% if leaflet_type.id != 15 %>
            <%#= link_to "Go!", new_user_session_path, class: "btn btn-xs btn-primary" %>
          <% end %>
        <% end %>
      </div>

      <% h.leaflets.order("created_at DESC").each do |l| %>
        <ul id="feed-list" class="leaflet-list">
            <% channel = Channel.find(l.channel_id) %>
            <a class="anchor" name="anchor_leaflet_<%= l.id.to_s %>"></a>
            <li class="rake-show-list" id="<%= "leaflet_" + l.id.to_s %>">
              <% if channel.channel_type == 4 %>
                <% reddit_link = "http://reddit.com/" + l.identifier %>
              <% else %>
                <% reddit_link = "#" %>
              <% end %>
              <a class="pull-left" href=<%= reddit_link %> target="_blank">
                <% if channel.channel_type == 4 %>
                  <%= image_tag "reddit-32.png", size: "16x16", class: "media-object img-feed-show" %>
                <% elsif channel.channel_type == 3 %>
                  <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16", class: "media-object img-feed-show" %>
                <% else %>
                  <% favicon_path = "http://www.google.com/s2/favicons?domain=" + channel.source %>
                  <img class="media-object img-feed-show" src=<%= "#{favicon_path}" %> alt="media image">
                <% end %>
              </a>
              <div class="media-body">
                <span class="feed-timestamp">
                  <% channel_name = channel.name %>
                  <% if channel_name == "Title not available." %>
                    <% channel_name = channel.source %>
                  <% end %>
                  Channel: <%= channel_name %>
                  <% if !l.created_by.nil? %>
                    &nbsp;|&nbsp;
                    added by <%= User.find(l.created_by).username %>
                  <% end %>
                  <span class="pull-right">
                    <% if !l.published_at.nil? %>
                      <%= time_ago_in_words(l.published_at) %> ago 
                    <% else %>
                      <%= time_ago_in_words(l.created_at) %> ago 
                    <% end %>
                  </span>
                </span>
                <br>
                <span class="leaflet-title">
                  <% if l.leaflet_type_id == 15 %>
                    <%= link_to l.title, l.url, class: "external", value: l.id %>
                  <% else %>
                    <%= link_to l.title, l.url, class: "external", value: l.id, target: "_blank" %>
                  <% end %>
                </span>
                <!-- <p class="feed-body"><%#= highlight(l.content.html_safe, @rake_filter.split(",")) %></p> -->
                <p class="feed-body">
                  <%# description = l.leaflet_desc %>
                  <%# if !description.nil? %>
                    <%#= description %>
                  <%# end %>
                  <% content = l.content.gsub(/\<a href=["'](.*?)["']\>(.*?)\<\/a\>/mi, '<a href="\1" target="_blank" >\2</a>') %>
                  <% content = content.gsub(/<a href=\"\/r\//, '<a href="http://reddit.com/r/') %>
                  <% content = content.gsub(/<a href=\"\/u\//, '<a href="http://reddit.com/u/') %>
                  <%#= raw content unless l.content == description %>
                  <%= raw content %>
                </p>
                <br>
                <span class="leaflet-metrics">
                  Viewed <span class="v_count_<%= l.id %>"><%= l.view_count %></span>
                  &nbsp;|&nbsp;
                  Saved <span class="s_count_<%= l.id %>"><%= l.save_count %></span>
                  &nbsp;|&nbsp;
                  Deleted <span class="d_count_<%= l.id %>"><%= l.delete_count %></span>
                </span>
                <span class="pull-right">
                  <span class="feed-button">
                    <span id="<%= 'feed-heart-icon-' + l.id.to_s %>">
                    <% if user_signed_in? %>
                      <% if History.where("user_id = ?", current_user.id).liked.pluck(:leaflet_id).include? l.id %>
                        &nbsp;<i class="fa fa-heart" data-toggle="tooltip" data-placement="top" title="Liked"></i>
                      <% else %>
                        &nbsp;<i class="fa fa-heart-o like" data-toggle="tooltip" data-placement="top" title="Like" value=<%= l.id %>></i>
                      <% end %>
                    <% else %>
                      &nbsp;<i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="Like"></i>
                    <% end %>
                    </span>
                    <span class="l_count_<%= l.id %>"><%= l.like_count %></span>
                  </span>
                  &nbsp;
                  <% if user_signed_in? %>
                    <span class="feed-button">
                      <% user_rake = @rake.myrakes.where(user_id: current_user.id).first %>
                      <% if !user_rake.nil? %>
                        <% user_heap_ids = user_rake.heaps.pluck(:id) %>
                        <% user_heap_leaflet_ids = HeapLeafletMap.where("heap_id IN (?)", user_heap_ids).pluck(:leaflet_id) %>
                        <% if user_heap_leaflet_ids.include? l.id %>
                          <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-star"></i>'.html_safe, '#' %>
                        <% else %>
                          <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save Recommendation"></i>'.html_safe, 
                                add_leaflet_myrake_path(user_rake), 
                                data: { toggle: "modal",
                                        target: "#myModal",
                                        rakename: user_rake.name,
                                        id: l.id,
                                        heapid: h.leaflet_type_id,
                                        title: l.title,
                                        collapse: "heap_" + "#{h.leaflet_type_id}" },
                                class: "leaflet-save" %>
                        <% end %>
                      <% else %>
                        <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save Recommendation"></i>'.html_safe,
                              new_myrake_path(master_rake_id: @rake.id),
                                            data: { toggle: "modal",
                                                    target: "#newCustomRakeModal",
                                                  } %>
                      <% end %>
                    </span>
                  <% end %>
                  &nbsp;
                </span>
              </div>
              <hr>
            </li>
          </ul>
      <% end %>

    </div>
  <% end %>
<%#= javascript_tag "$('a[data-toggle='tab']').on('shown.bs.tab', function (e) {
        var eth = e.target.href;
        var anchorname = eth.substring(eth.indexOf('#') + 1, eth.length);
        scrollToAnchor(anchorname);
    });", type: "text/javascript" %>
</div>
</div>
</div>