<!-- Nav tabs -->
<div class="row">
  <ul class="nav nav-tabs" role="tablist">
    <li class="rake-nav active"><a href="#feed" id="view-news" data-toggle="tab">NEWS</a></li>
    <li class="rake-nav"><a href="#bookmark-categories" id="view-bookmarks" data-toggle="tab">BOOKMARKS</a></li>
    <li class="rake-nav"><a href="#related-rakes" id="view-related-rakes" data-toggle="tab">RELATED</a></li>
  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="feed">
    <h5>
      <% if user_signed_in? %>
        <span class="pull-right">
          <small><%= link_to "Refresh", master_rake_path(refresh: "yes", collapse: "feed"), { class: "btn btn-xs btn-primary", id: "ga-feed-refresh" } %></small>
        </span>
        <br>
      <% else %>
        <span class="pull-right">
          <small><%= link_to "Sign in to refresh", new_user_session_path, { class: "btn btn-xs btn-primary", id: "ga-feed-refresh-sign-in" } %></small>
        </span>
      <% end %>
    </h5>
    <br><br>
    <% if @added_leaflets.count > 0 %>
      <%= render 'added_leaflets' %>
    <% end %>
    <%= render 'feed' %>
  </div>
  <div class="tab-pane" id="bookmark-categories">
    <%= render 'bookmark_categories' %>
  </div>
  <div class="tab-pane" id="related-rakes">
    <%= render 'related_rakes' %>
  </div>
</div>
