<%= render 'shared/navbar' %>

<nav>
  <ul class="nav-close-x">
    <li class="text-right"><a href="#" id="nav-close">X</a></li>
  </ul>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default panel-menu">
      <div class="panel-heading panel-heading-menu">
        <h5 class="panel-title">
          <%= link_to "<i class='fa fa-home'></i>".html_safe + "  HOME", root_path %>
        </h5>
      </div>
    </div>
    <div class="panel panel-default panel-menu">
      <div class="panel-heading panel-heading-menu">
        <h5 class="panel-title">
          <%= link_to "My Rakes", rakes_path %>
        </h5>
      </div>
    </div>
    <div class="panel panel-default panel-menu">
      <div class="panel-heading panel-heading-menu">
        <h5 class="panel-title">
          <%= link_to "Add Rake Template", new_master_rake_path %>
        </h5>
      </div>
    </div>
    <% @master_rakes.each_with_index do |m, i| %>
      <div class="panel panel-default panel-menu">
      <% if m.id == params[:rake_id].to_i %>
        <div class="panel-heading active panel-heading-menu">
      <% else %>
        <div class="panel-heading panel-heading-menu">
      <% end %>
          <h5 class="panel-title">
            <% href_id = "#master_rake_" + m.id.to_s %>
              <%= link_to m.name, master_rakes_path(rake_id: m.id), class: "rake_title" %>
              <% if m.id == params[:rake_id].to_i %>
                <span class="pull-right">
                  <%= link_to '<i class="fa fa-leaf"></i>'.html_safe, rakes_path(rake_id: m.id, heap: "yes") %>
                  <%= link_to '<i class="fa fa-cog"></i>'.html_safe, href_id, :data => { :toggle => "collapse" } %>
                </span>
              <% end %>
          </h5>
        </div>
        <div id="master_rake_<%= "#{m.id.to_s}" %>" class="panel-collapse collapse">
          <div class="panel-body">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</nav>