<div class="panel panel-default">
  <div class="panel-heading panel-overview">
    <h5 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion-show" 
         href="#collapse-overview">
         Overview
      </a>
    </h5>
  </div>
  <div class="panel-collapse collapse <%= 'in' if params[:refresh] != 'yes' %>" id="collapse-overview">
    <div class="panel-body">
      <h5><small>Most active Co-Rakers</small></h5>
      <% data = @rake.get_corakers.first(5) %>
      <%= bar_chart data, { height: "#{data.count*40}px", library: { colors: ['#6e2384'], title: "# of Recommendations", chartArea: { top: 20, bottom: 10, left: 100 }, vAxis: { format: "#" }}} %>

      <br>
      <% if user_signed_in? %>
        <% if !@custom_rake.nil? && !@custom_rake.empty? %>
          <%= link_to "<i class='fa fa-leaf white'></i>".html_safe + " Show my Rake",
                      myrake_path(@custom_rake.first),
                      class: "btn btn-xs btn-primary" %>
        <% else %>
          <%= link_to "<i class='fa fa-plus white'></i>".html_safe + " Create Personalized Rake",
                      new_myrake_path(master_rake_id: @rake.id),
                                    data: { toggle: "modal",
                                            target: "#newCustomRakeModal",
                                          },
                      class: "btn btn-xs btn-primary" %>
        <% end %>
      <% else %>
        <%= link_to "<i class='fa fa-plus white'></i>".html_safe + " Create Personalized Rake",
                    new_user_session_path,
                    class: "btn btn-xs btn-primary" %>
      <% end %>
      <% if user_signed_in? %>
        <% if @rake.created_by == current_user.id && @rake.myrakes.count == 0 %>
          <%= link_to "Delete Master Rake", master_rake_path(@rake),
                        :data => { :confirm => "Are you sure?" }, 
                        :method => :delete,
                        class: "btn btn-default btn-xs" %>
        <% end %>
      <% end %>
      <span class="pull-right">
        <%= social_share_button_tag(@rake.name + " Recommendations", 
                                    image: @rake.image_url) %>
      </span>
    </div>
  </div>
</div>