<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="rake-nav active">
    <a href="#actions" id="view-actions" data-toggle="tab">
      HOW
    </a>
  </li>
  <li class="rake-nav">
    <a href="#feed" id="view-news" data-toggle="tab">
      NEWS
    </a>
  </li>
  <li class="rake-nav">
    <a href="#related-rakes" id="view-related-rakes" data-toggle="tab">
      RELATED
    </a>
  </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="actions">
    <%= render 'info_choice' %>
  </div>
  <div class="tab-pane" id="feed">
    <br>
    <span class="rake-nav">EXAMPLE FEED<hr></span>
    <% if @added_leaflets.count > 0 %>
      <ul id="feed-list" class="leaflet-list">
        <% @added_leaflets.each do |l| %>
          <%= render 'card_added_leaflets', l: l %>
        <% end %>
      </ul>
    <% end %>
    <% if @feed_leaflets.count > 0 %>
      <ul id="feed-list" class="leaflet-list">
        <% @feed_leaflets.each do |l| %>
          <%= render 'card_news', l: l %>
        <% end %>
      </ul>
    <% else %>
      <p class="centered rake-links">
        No feed data available. If you add this briefing to your overview, you can customize the feed.
      </p>
    <% end %>
    <br>
    <% if !user_signed_in? %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p class="rake-links info-text centered">
            Get started now:
          </p>
          <%= link_to "Sign Up", new_user_registration_path,
                      { data: { disable_with: "<i class='fa fa-spinner white'></i> See you soon!"},
                      class: "btn btn-primary btn-lg centered",
                      id: "sign-up" } %>
          <br><br>
          <p class="rake-links info-text centered">
            or <%= link_to "sign in", new_user_session_path %>.
          </p>
        </div>
      </div>
    <% else %>
      <% if !@customer_rake.nil? %>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= link_to "Choose this briefing",
                        create_rake_myrake_path(master_rake_id: @rake.id, name: @rake.name, channels: @rake.channels),
                        { data: { disable_with: "<i class='fa fa-spinner white'></i> Your briefing gets created!"}, class: "btn btn-primary btn-lg centered" } %>
          </div>
        </div>
        <br><br>
      <% end %>
    <% end %>
  </div>
  <div class="tab-pane" id="related-rakes">
    <br>
    <%= render 'related_rakes' %>
  </div>
</div>

