<div>
  <span class="rake-nav">NEWS<hr></span>
</div>
<!-- Nav tabs -->
<div class="row">
  <ul class="nav nav-tabs" role="tablist">
    <li class="rake-nav active">
      <a href="#feed" id="view-news" data-toggle="tab">
        FEED
      </a>
    </li>
    <li class="rake-nav">
      <a href="#channels" id="view-channels" data-toggle="tab">
        CHANNELS
      </a>
    </li>
    <li class="rake-nav">
      <a href="#related-rakes" id="view-related-rakes" data-toggle="tab">
        RELATED
      </a>
    </li>
  </ul>
</div>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="feed">
    <h5>
      <small>
        <% if user_signed_in? %>
          <% if !@rake.refreshed_at.nil? %>
            updated: <%= time_ago_in_words(@rake.refreshed_at) %> ago
          <% else %>
            Click the Refresh button to update the feed
          <% end %>
        <% else %>
          Sign in to refresh the feed
        <% end %>
        <span class="pull-right">
        <% if user_signed_in? %>
          <%= link_to "Refresh", 
                      master_rake_path(view: "news", refresh: "yes", anchor: "anchor-master-rake-news"),
                      { class: "btn btn-xs btn-primary",
                        id: "ga-my-feed-refresh",
                        data: {disable_with: "<i class='fa fa-spinner fa-spin white'></i> Refreshing..."} } %>
        <% end %>
        </span>
      </small>
    </h5>
    <hr>
    <% if @added_leaflets.count > 0 %>
      <%= render 'added_leaflets' %>
    <% end %>
    <%= render 'feed' %>
  </div>
  <div class="tab-pane" id="channels">
    <h5>
      <small>
        Sign in to customize your feed by adding and removing channels
      </small>
    </h5>
    <br>
    <%= render 'channels' %>
  </div>
  <div class="tab-pane" id="related-rakes">
    <br>
    <%= render 'related_rakes' %>
  </div>
</div>

