<!-- Modal -->
<div class="modal fade" id="newMasterRakeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Master Rake</h4>
      </div>
      <%= bootstrap_form_for(MasterRake.new) do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :category_id, class: "category-id" %>
          <%= f.hidden_field :created_by, class: "created-by" %>
          <% categories_array = Category.all.map { |category| [category.desc, category.id] } %>
          <div class="category-select">
            <%= f.select :category_id, options_for_select(categories_array), { label: "Choose a Category" } %>
          </div>
          <%= f.text_field :name, class: "txtfield", placeholder: "Enter Master Rake" %>
          <%= f.text_field :wikipedia_url, class: "txtfield", placeholder: "Enter Wikipedia Article URL", label: "Wikipedia URL*" %>
          <p class="channel-title">
            * The Wikipedia URL is used to prevent the creation of too many similar master rakes.
          </p>
          <%# categories_array = Category.all.map { |c| [c.desc, c.id] } %>
          <%#= f.select :category_id, options_for_select(categories_array), { label: "Choose a Category" } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>