<% @heaps.each do |h| %>
  <% leaflet_type_desc = LeafletType.find_by_leaflet_type(h.leaflet_type_id).leaflet_type_desc %>
    <div class="panel panel-default">
      <div class="panel-heading panel-recommendations">
        <h5 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion-<%= leaflet_type_desc.gsub(/\W/, "") %>"
              href="#collapse-<%= leaflet_type_desc.gsub(/\W/, "") %>">
            <%= leaflet_type_desc %>
            <small>
              <span class="badge pull-right">
                <%= h.leaflets.count.to_s %>
              </span>
            </small>
          </a>
        </h5>
      </div>
      <div class="panel-collapse collapse <%= @heap_collapse if @heap_id == h.leaflet_type_id.to_s %>" id="collapse-<%= leaflet_type_desc.gsub(/\W/, "") %>">
        <div class="panel-body">
          <% h.leaflets.order("created_at DESC").each do |l| %>
            <ul id="feed-list" class="leaflet-list">
                <% channel = Channel.find(l.channel_id) %>
                <li class="rake-show-list" id="<%= "leaflet_" + l.id.to_s %>">
                  <% if channel.channel_type == 4 %>
                    <% reddit_link = "http://reddit.com/" + l.identifier %>
                  <% else %>
                    <% reddit_link = "#" %>
                  <% end %>
                  <a class="pull-left" href=<%= reddit_link %> target="_blank">
                    <% if channel.channel_type == 4 %>
                      <%= image_tag "reddit-32.png", size: "16x16", class: "media-object img-feed-show" %>
                    <% elsif channel.channel_type == 3 %>
                      <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16", class: "media-object img-feed-show" %>
                    <% else %>
                      <% favicon_path = "http://www.google.com/s2/favicons?domain=" + channel.source %>
                      <img class="media-object img-feed-show" src=<%= "#{favicon_path}" %> alt="media image">
                    <% end %>
                  </a>
                  <div class="media-body">
                    <span class="feed-timestamp">
                      <% channel_name = channel.name %>
                      <% if channel_name == "Title not available." %>
                        <% channel_name = channel.source %>
                      <% end %>
                      Channel: <%= channel_name %>
                      <% if !l.created_by.nil? %>
                        &nbsp;|&nbsp;
                        added by <%= User.find(l.created_by).username %>
                      <% end %>
                      <span class="pull-right">
                        <% if !l.published_at.nil? %>
                          <%= time_ago_in_words(l.published_at) %> ago 
                        <% else %>
                          <%= time_ago_in_words(l.created_at) %> ago 
                        <% end %>
                      </span>
                    </span>
                    <br>
                    <span class="leaflet-title">
                      <% if l.leaflet_type_id == 15 %>
                        <%= link_to l.title, l.url, class: "external", value: l.id %>
                      <% else %>
                        <%= link_to l.title, l.url, class: "external", value: l.id, target: "_blank" %>
                      <% end %>
                    </span>
                    <!-- <p class="feed-body"><%#= highlight(l.content.html_safe, @rake_filter.split(",")) %></p> -->
                      <%# description = l.leaflet_desc %>
                      <%# if !description.nil? %>
                        <%#= description %>
                      <%# end %>
                      <% content = l.content.gsub(/\<a href=["'](.*?)["']\>(.*?)\<\/a\>/mi, '<a href="\1" target="_blank" >\2</a>') %>
                      <% content = content.gsub(/<a href=\"\/r\//, '<a href="http://reddit.com/r/') %>
                      <% content = content.gsub(/<a href=\"\/u\//, '<a href="http://reddit.com/u/') %>
                      <%#= raw content unless l.content == description %>
                    <p class="feed-body"><%= raw content %></p>
                    <br>
                    <span class="leaflet-metrics">
                      Viewed <span class="v_count_<%= l.id %>"><%= l.view_count %></span>
                      &nbsp;|&nbsp;
                      Saved <span class="s_count_<%= l.id %>"><%= l.save_count %></span>
                      &nbsp;|&nbsp;
                      Deleted <span class="d_count_<%= l.id %>"><%= l.delete_count %></span>
                    </span>
                    <span class="pull-right">
                      <span class="feed-button">
                        <span id="<%= 'feed-heart-icon-' + l.id.to_s %>">
                        <% if user_signed_in? %>
                          <% if History.where("user_id = ?", current_user.id).liked.pluck(:leaflet_id).include? l.id %>
                            &nbsp;<i class="fa fa-heart" data-toggle="tooltip" data-placement="top" title="Liked"></i>
                          <% else %>
                            &nbsp;<i class="fa fa-heart-o like" data-toggle="tooltip" data-placement="top" title="Like" value=<%= l.id %>></i>
                          <% end %>
                        <% else %>
                          &nbsp;<i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="Like"></i>
                        <% end %>
                        </span>
                        <span class="l_count_<%= l.id %>"><%= l.like_count %></span>
                      </span>
                      &nbsp;
                      <% if user_signed_in? %>
                        <span class="feed-button">
                          <% user_rake = @rake.myrakes.where(user_id: current_user.id).first %>
                          <% if !user_rake.nil? %>
                            <% user_heap_ids = user_rake.heaps.pluck(:id) %>
                            <% user_heap_leaflet_ids = HeapLeafletMap.where("heap_id IN (?)", user_heap_ids).pluck(:leaflet_id) %>
                            <% if user_heap_leaflet_ids.include? l.id %>
                              <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-star"></i>'.html_safe, '#' %>
                            <% else %>
                              <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save to Heap"></i>'.html_safe, 
                                    add_leaflet_myrake_path(user_rake), 
                                    data: { toggle: "modal",
                                            target: "#saveLeafletModal",
                                            id: l.id,
                                            title: l.title,
                                            collapse: "heap_" + "#{h.leaflet_type_id}" },
                                    class: "leaflet-save" %>
                            <% end %>
                          <% else %>
                            <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save to Heap"></i>'.html_safe,
                                  new_myrake_path(master_rake_id: @rake.id),
                                                data: { toggle: "modal",
                                                        target: "#newCustomRakeModal",
                                                      } %>
                          <% end %>
                        </span>
                      <% end %>
                      &nbsp;
                    </span>
                  </div>
                  <hr>
                </li>
              </ul>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
