<% if @parent_master_rakes.count + @sibling_master_rakes.count + @children_master_rakes.count == 0 %>
  <span class="info-text centered">
    <br>
    No related rakes available yet.
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
  </span>
<% end %>
<br>
<span class="rake-nav"><i class="fa fa-level-up"></i> PARENT RAKES<hr></span>
<% if @parent_master_rakes.count > 0 %>
  <div class="row">
    <% @parent_master_rakes.each do |pmr| %>
      <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", pmr.master_heaps.pluck(:id)) %>
      <%= link_to master_rake_path(pmr) do %>
        <div class="col-md-6">
          <div class="thumbnail">
            <div class="media">
              <span class="pull-left">
                <%= image_tag(pmr.image_url, size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading">
                  <% if user_signed_in? %>
                    <% if pmr.myrakes.pluck(:user_id).include? current_user.id %>
                      <i class="fa fa-star"></i>
                    <% end %>
                  <% end %>
                  <%= pmr.name %>
                </h5>
                <p>
                  <%= pmr.myrakes.count.to_s %>&nbsp;<i class="fa fa-user purple"></i>
                  &nbsp;|&nbsp;
                  <%= MasterHeapLeafletMap.where("master_heap_id IN (?)", pmr.master_heaps.pluck(:id)).count.to_s %>
                  <i class="fa fa-bookmark purple"></i>
                </p>
                <p>
                  <% if user_signed_in? %>
                    <span class="new-rec-alert">
                      <% user_rake = pmr.myrakes.find_by_user_id(current_user.id) %>
                      <% if !user_rake.nil? %>
                        <% new_channels = pmr.channels.where("channel_type <> 3 AND channel_type <> 5 AND created_at > ?", current_user.last_sign_in_at ) %>
                        <% new_channels -= user_rake.channels %>
                        <% @new_count = new_channels.count %>
                        <%= pluralize(@new_count, "New Channel") unless @new_count == 0 %>
                        <% new_count = master_leaflets.where("created_at > ?", current_user.last_sign_in_at).count %>
                        <% if @new_count > 0 && new_count > 0 %>
                          &nbsp;|&nbsp;
                        <% end %>
                        <%= pluralize(new_count, "New Bookmark") unless new_count == 0 %>
                      <% end %>
                    </span>
                  <% end %>
                </p>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="info-text centered">
    No parent rakes available yet.
  </p>
<% end %>

<span class="rake-nav"><i class="fa fa-long-arrow-right"></i> SIBLING RAKES<hr></span>
<% if @sibling_master_rakes.count > 0 %>
  <div class="row">
    <% @sibling_master_rakes.each do |smr| %>
      <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", smr.master_heaps.pluck(:id)) %>
      <%= link_to master_rake_path(smr) do %>
        <div class="col-md-6">
          <div class="thumbnail">
            <div class="media">
              <span class="pull-left">
                <%= image_tag(smr.image_url, size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading">
                  <% if user_signed_in? %>
                    <% if smr.myrakes.pluck(:user_id).include? current_user.id %>
                      <i class="fa fa-star"></i>
                    <% end %>
                  <% end %>
                  <%= smr.name %>
                </h5>
                <p>
                  <%= smr.myrakes.count.to_s %>&nbsp;<i class="fa fa-user purple"></i>
                  &nbsp;|&nbsp;
                  <%= MasterHeapLeafletMap.where("master_heap_id IN (?)", smr.master_heaps.pluck(:id)).count.to_s %>
                  <i class="fa fa-bookmark purple"></i>
                </p>
                <p>
                  <% if user_signed_in? %>
                    <span class="new-rec-alert">
                      <% user_rake = smr.myrakes.find_by_user_id(current_user.id) %>
                      <% if !user_rake.nil? %>
                        <% new_channels = smr.channels.where("channel_type <> 3 AND channel_type <> 5 AND created_at > ?", current_user.last_sign_in_at ) %>
                        <% new_channels -= user_rake.channels %>
                        <% @new_count = new_channels.count %>
                        <%= pluralize(@new_count, "New Channel") unless @new_count == 0 %>
                        <% new_count = master_leaflets.where("created_at > ?", current_user.last_sign_in_at).count %>
                        <% if @new_count > 0 && new_count > 0 %>
                          &nbsp;|&nbsp;
                        <% end %>
                        <%= pluralize(new_count, "New Bookmark") unless new_count == 0 %>
                      <% end %>
                    </span>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="info-text centered">
    No sibling rakes available yet.
  </p>
<% end %>

<span class="rake-nav"><i class="fa fa-level-down"></i> CHILDREN RAKES<hr></span>
<% if @children_master_rakes.count > 0 %>
  <div class="row">
    <% @children_master_rakes.each do |cmr| %>
      <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", cmr.master_heaps.pluck(:id)) %>
      <%= link_to master_rake_path(cmr) do %>
        <div class="col-md-6">
          <div class="thumbnail">
            <div class="media">
              <span class="pull-left">
                <%= image_tag(cmr.image_url, size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading">
                  <% if user_signed_in? %>
                    <% if cmr.myrakes.pluck(:user_id).include? current_user.id %>
                      <i class="fa fa-star"></i>
                    <% end %>
                  <% end %>
                  <%= cmr.name %>
                </h5>
                <p>
                  <%= cmr.myrakes.count.to_s %>&nbsp;<i class="fa fa-user purple"></i>
                  &nbsp;|&nbsp;
                  <%= MasterHeapLeafletMap.where("master_heap_id IN (?)", cmr.master_heaps.pluck(:id)).count.to_s %>
                  <i class="fa fa-bookmark purple"></i>
                </p>
                <p>
                  <% if user_signed_in? %>
                    <span class="new-rec-alert">
                      <% user_rake = cmr.myrakes.find_by_user_id(current_user.id) %>
                      <% if !user_rake.nil? %>
                        <% new_channels = cmr.channels.where("channel_type <> 3 AND channel_type <> 5 AND created_at > ?", current_user.last_sign_in_at ) %>
                        <% new_channels -= user_rake.channels %>
                        <% @new_count = new_channels.count %>
                        <%= pluralize(@new_count, "New Channel") unless @new_count == 0 %>
                        <% new_count = master_leaflets.where("created_at > ?", current_user.last_sign_in_at).count %>
                        <% if @new_count > 0 && new_count > 0 %>
                          &nbsp;|&nbsp;
                        <% end %>
                        <%= pluralize(new_count, "New Bookmark") unless new_count == 0 %>
                      <% end %>
                    </span>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="info-text centered">
    No children rakes available yet.
  </p>
<% end %>