<div>
  <span class="rake-nav">RELATED PRIORITIES<hr></span>
</div>
<h5>
  <small>
    Discover and get inspired with related priorities.
  </small>
</h5>
<br>
<% if @parent_master_rakes.count > 0 %>
  <span class="rake-nav"><i class="fa fa-level-up"></i> MAIN PRIORITIES<hr></span>
  <div class="row">
    <% @parent_master_rakes.each do |pmr| %>
      <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", pmr.master_heaps.pluck(:id)) %>
      <%= link_to master_rake_path(pmr) do %>
        <div class="col-md-12 col-lg-6">
          <div class="thumbnail">
            <div class="media">
              <span class="pull-left">
                <%= image_tag(pmr.image_url, size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading">
                  <% if user_signed_in? %>
                    <% if pmr.myrakes.pluck(:user_id).include? current_user.id %>
                      <i class="fa fa-star-o"></i>
                    <% end %>
                  <% end %>
                  <%= pmr.name %>
                </h5>
                <p>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @sibling_master_rakes.count > 0 %>
  <span class="rake-nav"><i class="fa fa-long-arrow-right"></i> SIMILAR PRIORITIES<hr></span>
  <div class="row">
    <% @sibling_master_rakes.each do |smr| %>
      <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", smr.master_heaps.pluck(:id)) %>
      <%= link_to master_rake_path(smr) do %>
        <div class="col-md-12 col-lg-6">
          <div class="thumbnail">
            <div class="media">
              <span class="pull-left">
                <%= image_tag(smr.image_url, size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading">
                  <% if user_signed_in? %>
                    <% if smr.myrakes.pluck(:user_id).include? current_user.id %>
                      <i class="fa fa-star-o"></i>
                    <% end %>
                  <% end %>
                  <%= smr.name %>
                </h5>
                <p>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @children_master_rakes.count > 0 %>
  <span class="rake-nav"><i class="fa fa-level-down"></i> SPECIFIC PRIORITIES<hr></span>
  <div class="row">
    <% @children_master_rakes.each do |cmr| %>
      <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", cmr.master_heaps.pluck(:id)) %>
      <%= link_to master_rake_path(cmr) do %>
        <div class="col-md-12 col-lg-6">
          <div class="thumbnail">
            <div class="media">
              <span class="pull-left">
                <%= image_tag(cmr.image_url, size: "96x54") %>
              </span>
              <div class="media-body">
                <h5 class="media-heading">
                  <% if user_signed_in? %>
                    <% if cmr.myrakes.pluck(:user_id).include? current_user.id %>
                      <i class="fa fa-star-o"></i>
                    <% end %>
                  <% end %>
                  <%= cmr.name %>
                </h5>
                <p>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="thumbnail" id="request">
  <%= link_to histories_path, 
              data: { toggle: "modal",
                      target: "#requestModal",
                      masterrakeid: @rake.id },
              class: "add-request" do %>
    <div class="media">
      <span class="pull-left">
        <p class="reminder-month">
          Discover
        </p>
        <p class="reminder-day">
          <i class="fa fa-sitemap"></i>
        </p>
      </span>
      <div class="media-body">
        <h5 class="media-heading">
          <% if @parent_master_rakes.count + @sibling_master_rakes.count + @children_master_rakes.count == 0 %>
            No related priorities yet
          <% else %>
            Missing a related priority?
          <% end %>
        </h5>
        <p class="rake-links">
          Click to request a priority.
        </p>
      </div>
    </div>
  <% end %>
</div>
<br><br><br><br><br><br><br>
