<% if !@category.nil? %>
  <% title @category.desc + " Recommendations" %>
<% else %>
  <% title "Collective Recommendation Sharing" %>
<% end %>
<div class="container-fluid">
  <%= render 'master_rakes/master_rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Collective Recommendation Sharing</h1>
      <%= render 'overview' %>
      <%= render 'new_master_rakes' %>
      <%= render 'new_recommendations' %>
    </div>
  </div>
</div>
<%= render 'new_modal' %>
