<%= render 'shared/title' %>
<div class="container-fluid">
  <%= render 'master_rakes/master_rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <!-- <h1>Productive Bookmarking</h1> -->
      <h5>
        <small>
          <% if user_signed_in? %>
            <%= link_to "MY BOOKMARKING RAKES", myrakes_path, { class: "nav-link", id: "my-bookmarking-rakes" }%>
            &nbsp;
            <%= link_to pluralize(@overdue_leaflets.count, "REMINDER").upcase, myrakes_path(collapse: "reminders"), class: "new-rec-alert" unless @overdue_leaflets.nil? %>
          <% else %>
            <%= link_to "SIGN IN", new_user_session_path, { class: "nav-link", id: "master-rakes-sign-in" } %>
          <% end %>
        </small>
      </h5>
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <h1>Rake (Topics) Overview</h1>
      <div class="panel-group" id="accordion-main">
        <%= render 'overview' %>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <%= render 'new_modal' %>
  <%= render 'info_create_rake_modal' %>
  <%= render 'leaflet_save_modal2' %>
<% end %>
