<%= render 'shared/title' %>
<div class="container-fluid">
  <%= render 'master_rakes/master_rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-centered">
      <h5 class="centered">
        <small>
          <% if user_signed_in? %>
            <%= link_to "MY RAKES", user_path(current_user), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>
          <% else %>
            <%= link_to "SIGN IN", new_user_session_path, { class: "nav-link", id: "master-rakes-sign-in", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } } %>
            &nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;
            <span class="nav-link">MY RAKES</span>
          <% end %>
          &nbsp;|&nbsp;
          <span class="nav-link"><strong>ALL TOPICS</strong></span>
        </small>
      </h5>
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <h1 class="centered long-h1">Eliminate Distractions - Increase Productivity</h1>
      <div class="panel-group" id="accordion-main">
        <div class="panel panel-default">
          <div class="panel-heading panel-master-rakes-overview">
            <h5 class="panel-title centered">
              Maximize Your Focus
            </h5>
          </div>
          <div class="col-md-12">
            <br>
            <div class="thumbnail" id="show-overview">
              <a href="#anchor-master-rake-overview">
                <div class="media">
                  <span class="pull-left">
                    <p class="reminder-month">
                      Committed
                    </p>
                    <p class="reminder-day">
                      <i class="fa fa-bullseye"></i>
                    </p>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">Choose a topic</h5>
                    <p class="purple">
                      If you commit to nothing, you’re distracted by everything.
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-12">
            <div class="thumbnail" id="request">
              <%= link_to histories_path, 
                          data: { toggle: "modal",
                                  target: "#requestModal"},
                          class: "add-request" do %>
                <div class="media">
                  <span class="pull-left">
                    <p class="reminder-month">
                      Request
                    </p>
                    <p class="reminder-day">
                      <i class="fa fa-sitemap"></i>
                    </p>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">
                      Couldn't find a topic?
                    </h5>
                    <p>
                      Click to request a new topic.
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
            </div>
          <br>
          <div class="panel-collapse collapse in" id="collapse-overview">
            <div class="panel-body">
              <div class="master-rake-overview">
                <%= render 'overview' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <%= render 'new_modal' %>
<% end %>
<%= render 'shared/request_modal' %>
<%= render 'shared/thanks_modal' %>