<% if !@category.nil? %>
  <% title @category.desc + " Recommendations" %>
<% else %>
  <% title "Shared Recommendation Collections" %>
<% end %>
<div class="container-fluid">
  <%= render 'master_rakes/master_rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Shared Recommendation Collections</h1>
      <h5>
        <small>
          <% if user_signed_in? %>
           <%= link_to "MY RECOMMENDATION RAKES", rakes_path %>
          <% else %>
            <%= link_to "SIGN IN", new_user_session_path %>
          <% end %>
        </small>
      </h5>
      <div class="panel-group" id="accordion-overview">
        <%= render 'overview' %>
        <%= render 'new_master_rakes' %>
        <%= render 'new_recommendations' %>
        <%= render 'all_master_rakes' %>
      </div>
    </div>
  </div>
</div>
<%= render 'new_modal' %>
