<%= render 'shared/title' %>
<div class="container-fluid">
  <%= render 'master_rakes/master_rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h5>
        <small>
          <span class="nav-link"><strong>ALL TOPICS</strong></span>
          &nbsp;|&nbsp;
          <% if user_signed_in? %>
            <%= link_to "MY RAKES", user_path(current_user) %>
          <% else %>
            <span class="nav-link">MY RAKES</span>
            &nbsp;<i class="fa fa-long-arrow-left"></i>&nbsp;
            <%= link_to "SIGN IN", new_user_session_path, { class: "nav-link", id: "master-rakes-sign-in" } %>
          <% end %>
        </small>
      </h5>
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <h1>Inspirations to get productive</h1>
      <div class="panel-group" id="accordion-main">
        <%= render 'overview' %>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <%= render 'new_modal' %>
  <%= render 'leaflet_save_modal2' %>
<% end %>
