<%= render 'shared/title' %>
<div class="container-fluid">
  <%= render 'myrakes/rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <h5>
        <small><strong>
          <% if user_signed_in? %>
            <i class="fa fa-home"></i>&nbsp;<%= link_to "MY BRIEFINGS", user_path(current_user), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>
          <% else %>
            <%= link_to "SIGN IN", new_user_session_path, { class: "nav-link", id: "master-rakes-sign-in", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } } %>
            &nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;
            <i class="fa fa-home"></i>&nbsp;
            <span class="nav-link">MY BRIEFINGS</span>
          <% end %>
        </strong></small>
      </h5>
      <h1 class="centered">Choose Your Briefings</h1>
      <h2 class="centered">Achieve Your Goals Like a Leader</h2>
      <div class="panel-group" id="accordion-main">
        <div class="panel panel-default">
          <div class="panel-heading panel-master-rakes-overview">
            <h5 class="panel-title">
              <% if user_signed_in? %>
                <%= current_user.username %>
              <% else %>
                Get started
              <% end %>
            </h5>
          </div>
          <div class="panel-collapse collapse in" id="collapse-overview">
            <div class="panel-body">
              <div class="master-rake-overview">
                <%= render 'overview' %>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--       <div class="panel-group hidden" id="accordion-demo-rake">
        <div class="panel panel-default">
          <div class="panel-heading panel-master-rakes-overview">
            <h5 class="panel-title">
              Example
              <span class="pull-right">
                <small class="white">
                  <%#= link_to "BACK", "#", { class: "white", id: "demo-rake-back" } %>
                </small>
              </span>
            </h5>
          </div>
          <div class="panel-collapse collapse in" id="demo-rake">
            <div class="panel-body">
              <div class="demo-rake">
                <%#= render 'demo_rake' %>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <%= render 'new_modal' %>
<% end %>
<%= render 'shared/request_modal' %>
<%= render 'shared/thanks_modal' %>