<% if @rake.seo_title.nil? %>
  <% seo_title = "" %>
<% else %>
  <% seo_title = @rake.seo_title %>
<% end %>
<% title @rake.name + " " + seo_title %>
<% meta title: @rake.name + " " + seo_title,
        description: @rake.description,
        keywords: Category.find(@rake.category_id).leaflet_types.pluck(:leaflet_type_desc) << "Recommendations" << "Bookmarks" << @rake.name %>
<div class="container-fluid">
  <%= render 'master_rakes/master_rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-centered">
      <h5 class="centered">
        <small>
          <% if user_signed_in? %>
            <%= link_to "MY RAKES", user_path(current_user), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>
          <% else %>
            <%= link_to "SIGN IN", new_user_session_path, { class: "nav-link", id: "master-rake-sign-in", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } } %>
            &nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;
            <span class="nav-link">MY RAKES</span>
          <% end %>
          &nbsp;|&nbsp;
          <%= link_to "ALL TOPICS", master_rakes_path, { class: "nav-link", id: "view-master-rakes-index", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } } %>
        </small>
      </h5>
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <h1 class="centered">
        <% if user_signed_in? %>
          <% if !@custom_rake.nil? %>
            <i class="fa fa-star-o purple"></i>
          <% end %>
        <% end %>
        <%= @rake.name %>
      </h1>
      <div class="panel-group" id="accordion-main">
        <div class="panel panel-default">
          <div class="panel-heading panel-new-master-rakes">
            <h2 class="panel-title centered">
              Get updated, stay motivated, take action.
            </h2>
          </div>
          <br>
          <div class="col-md-12">
            <% if user_signed_in? && !@custom_rake.nil? %>
              <div class="media rake-index-view">
                <span class="pull-left">
                  <% if @rake.image_url.nil? || @rake.image_url.empty? %>
                    <%= image_tag("no_image.png", size: "96x54") %>
                  <% else %>
                    <%= image_tag(@rake.image_url, size: "96x54") %>
                  <% end %>
                </span>
                <div class="media-body">
                  <h5 class="media-heading">Switch to Your Personal Rake</h5>
                  <p>
                    <%= link_to "Tasks", myrake_path(@custom_rake, view: "tasks"), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." }%>
                    <span class="new-rec-alert"><%= @custom_rake.due_tasks_count unless @custom_rake.due_tasks_count == 0 %></span>
                    &nbsp;|&nbsp;
                    <%= link_to "News", myrake_path(@custom_rake, view: "news"), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>
                    &nbsp;|&nbsp;
                    <%= link_to "Bookmarks", myrake_path(@custom_rake, view: "bookmarks"), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>
                  </p>
                </div>
              </div>
              <br>
            <% else %>
              <div class="thumbnail" id="show-info">
                <a href="#anchor-master-rake-info">
                  <div class="media">
                    <span class="pull-left">
                      <% if @rake.image_url.nil? || @rake.image_url.empty? %>
                        <%= image_tag("no_image.png", size: "96x54") %>
                      <% else %>
                        <%= image_tag(@rake.image_url, size: "96x54") %>
                      <% end %>
                    </span>
                    <div class="media-body">
                      <h5 class="media-heading">Start Now</h5>
                      <p>
                        Focus and increase your productivity on this topic.
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>
            <div class="thumbnail" id="show-news">
              <a href="#anchor-master-rake-news">
                <div class="media">
                  <span class="pull-left">
                    <p class="reminder-month">
                      Updated
                    </p>
                    <p class="reminder-day">
                      <i class="fa fa-rss"></i>
                    </p>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">News</h5>
                    <p>
                      Get updated and don't miss out on this topic.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="thumbnail" id="show-bookmarks">
              <a href="#anchor-master-rake-bookmarks">
                <div class="media">
                  <span class="pull-left">
                    <p class="reminder-month">
                      Motivated
                    </p>
                    <p class="reminder-day">
                      <i class="fa fa-bookmark"></i>
                    </p>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">Bookmarks</h5>
                    <p>
                      Get motivated based on crowdsourced inspirations.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="thumbnail" id="show-tasks">
              <a href="#anchor-master-rake-tasks">
                <div class="media">
                  <span class="pull-left">
                    <p class="reminder-month">
                      Productive
                    </p>
                    <p class="reminder-day">
                      <i class="fa fa-tasks"></i>
                    </p>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">Tasks</h5>
                    <p>
                      Turn your bookmarks into actionable tasks.
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <br>
          <div class="panel-collapse collapse in" id="collapse-feed">
            <div class="panel-body">
              <a class="anchor" name="anchor-master-rake-info"></a>
              <div class="master-rake-info <%= 'hidden' if params[:view] == 'news' %>">
                <%= render 'info' %>
              </div>
              <a class="anchor" name="anchor-master-rake-news"></a>
              <div class="master-rake-news <%= 'hidden' if params[:view] != 'news' %>">
                <%= render 'news' %>
              </div>
              <a class="anchor" name="anchor-master-rake-bookmarks"></a>
              <div class="master-rake-bookmarks hidden">
                <%= render 'bookmarks' %>
              </div>
              <a class="anchor" name="anchor-master-rake-tasks"></a>
              <div class="master-rake-tasks hidden">
                <%= render 'tasks' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <%= render 'master_rakes/edit_category_modal' %>
  <% if !@custom_rake.nil? %>
    <%= render 'master_rakes/leaflet_save_modal' %>
    <%= render 'master_rakes/leaflet_create_modal' %>
  <% end %>
  <%= render 'master_rakes/new_rake_modal' %>
  <%= render 'master_rakes/add_rss_modal' %>
  <%= render 'master_rakes/add_subreddit_modal' %>
<% end %>