<% if @rake.seo_title.nil? %>
  <% seo_title = "" %>
<% else %>
  <% seo_title = @rake.seo_title %>
<% end %>
<% title @rake.name + " " + seo_title %>
<% meta title: @rake.name + " " + seo_title,
        description: @rake.description,
        keywords: Category.find(@rake.category_id).leaflet_types.pluck(:leaflet_type_desc) << "Recommendations" << "Bookmarks" << @rake.name %>
<div class="container-fluid">
  <%= render 'master_rakes/master_rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <!-- <h1>Productive Bookmarking</h1> -->
      <h5>
        <small>
          <%= link_to "ALL TOPICS", master_rakes_path, { class: "nav-link", id: "view-master-rakes-index" } %>
          &nbsp;|&nbsp;
          <% if user_signed_in? %>
            <%= link_to "MY RAKES", myrakes_path, { class: "nav-link", id: "ga-my-bookmark-rakes" } %>
            &nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;
            <% if @overdue_leaflets.nil? %>
              <span class="new-rec-alert">
                <%= "0 REMINDERS" %>
              </span>
            <% else %>
              <%= link_to pluralize(@overdue_leaflets.count, "REMINDER").upcase, myrakes_path(collapse: "reminders"), class: "new-rec-alert" %>
            <% end %>
          <% else %>
            <span class="nav-link">MY RAKES</span>
            &nbsp;<i class="fa fa-long-arrow-left"></i>&nbsp;
            <%= link_to "SIGN IN", new_user_session_path, { class: "nav-link", id: "master-rake-sign-in" } %>
          <% end %>
        </small>
      </h5>
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <h1>
        <% if user_signed_in? %>
          <% if @rake.myrakes.pluck(:user_id).include? current_user.id %>
            <i class="fa fa-star-o purple"></i>
          <% end %>
        <% end %>
        <%= @rake.name %>
      </h1>
      <div class="panel-group" id="accordion-main">
        <div class="panel panel-default">
          <div class="panel-heading panel-new-master-rakes">
            <h2 class="panel-title">
              Get inspired
              <span class="pull-right">
                <% if user_signed_in? %>
                  <% if !@custom_rake.nil? %>
                    <%= link_to '<i class="fa fa-long-arrow-right white"></i>'.html_safe + "Show Rake", myrake_path(@custom_rake), class: "white" %>
                  <% else %>
                    <span id="create-rake-info">
                      <%= link_to '<i class="fa fa-plus white"></i>'.html_safe + "Create Rake", "#", { class: "white", id: "create-rake-toggle" } %>
                    </span>
                  <% end %>
                <% else %>
                  <span id="create-rake-info">
                    <%= link_to '<i class="fa fa-plus white"></i>'.html_safe + "Create Rake", "#", { class: "white", id: "create-rake-toggle" } %>
                  </span>
                <% end %>
              </span>
            </h2>
          </div>
          <div class="panel-collapse collapse in" id="collapse-feed">
            <div class="panel-body master-rake-content">
              <%= render 'masterrake' %>
            </div>
            <div class="panel-body create-rake-info">
              <%= render 'create_rake_info' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <%= render 'master_rakes/edit_category_modal' %>
  <% if !@custom_rake.nil? %>
    <%= render 'master_rakes/leaflet_save_modal' %>
    <%= render 'master_rakes/leaflet_create_modal' %>
  <% end %>
  <%= render 'master_rakes/new_rake_modal' %>
  <%= render 'master_rakes/add_rss_modal' %>
  <%= render 'master_rakes/add_subreddit_modal' %>
<% end %>