<% if @rake.seo_title.nil? %>
  <% seo_title = "Briefing" %>
<% else %>
  <% seo_title = @rake.seo_title  + " | Briefing" %>
<% end %>
<% title seo_title %>
<% meta title: seo_title,
        description: @rake.description,
        keywords: Category.find(@rake.category_id).leaflet_types.pluck(:leaflet_type_desc) << "Recommendations" << "Bookmarks" << @rake.name %>
<div class="container-fluid">
  <%= render 'myrakes/rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <h5>
        <small><strong>
          <% if user_signed_in? %>
            <i class="fa fa-home"></i>&nbsp;<%= link_to "MY BRIEFINGS", user_path(current_user), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>
          <% else %>
            <%= link_to "SIGN IN", new_user_session_path, { class: "nav-link", id: "master-rake-sign-in", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } } %>
            &nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;
            <i class="fa fa-home"></i>&nbsp;
            <span class="nav-link">MY BRIEFINGS</span>
          <% end %>
          &nbsp;|&nbsp;
          <i class="fa fa-sitemap"></i>&nbsp;
          <%= link_to "ALL", master_rakes_path, { class: "nav-link", id: "view-master-rakes-index", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } } %>
        </strong></small>
      </h5>
      <h1 class="centered">
        <% if user_signed_in? %>
          <% if !@custom_rake.nil? %>
            <i class="fa fa-star-o purple"></i>
          <% end %>
        <% end %>
        <%= @rake.name %>
      </h1>
      <h2 class="centered">Take action and get updated without distractions</h2>
      <div class="panel-group" id="accordion-main">
        <div class="panel panel-default">
          <div class="panel-heading panel-new-master-rakes">
            <h2 class="panel-title">
              Briefing Preview
            </h2>
          </div>
          <div class="panel-collapse collapse in" id="collapse-news">
            <div class="panel-body">
              <% if user_signed_in? && !@custom_rake.nil? %>
                <div class="thumbnail">
                  <div class="media rake-index-view">
                    <span class="pull-left">
                      <% if @rake.image_url.nil? || @rake.image_url.empty? %>
                        <%= image_tag("no_image.png", size: "96x54") %>
                      <% else %>
                        <%= image_tag(@rake.image_url, size: "96x54") %>
                      <% end %>
                    </span>
                    <div class="media-body">
                      <h5 class="media-heading">
                        Last 30 days
                      </h5>
                      <p>
                        <%= render 'myrakes/top_rake_chain', toprake: @custom_rake %>
                        <p class="rake-links">
                          Open Actions: 
                          <span class="new-rec-alert"><%= @custom_rake.due_tasks_count %></span>
                        </p>
                      </p>
                    </div>
                  </div>
                </div>
                <span id="unmark-action-btn">
                  <%= link_to "Go to your briefing",
                              myrake_path(@custom_rake, view: "tasks"),
                              class: "btn btn-primary btn-check-off" %>
                </span>
              <% else %>
                <div class="media rake-index-view">
                  <span class="pull-left">
                    <% if @rake.image_url.nil? || @rake.image_url.empty? %>
                      <%= image_tag("no_image.png", size: "96x54") %>
                    <% else %>
                      <%= image_tag(@rake.image_url, size: "96x54") %>
                    <% end %>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">
                      Last 30 days (Example)
                    </h5>
                    <p>
                      <div class="progress progress-chain">
                        <% chain_array = [[false, true],[false, true],[true, true],[true, false],[true, true],[false, true],
                                          [false, false],[false, true],[true, true],[true, false],[true, true],[true, false],
                                          [false, true],[false, true],[false, true],[false, true],[true, false],[false, false],
                                          [false, true],[false, true],[false, true],[false, false],[true, true],[true, true],
                                          [true, true],[false, true],[true, true],[false, true],[true, true],[false, false]] %>
                        <% last_element = chain_array.pop %>
                        <% chain_array.each do |chain_element| %>
                          <% if chain_element[1] == true %>
                            <div class="progress-bar progress-bar-success bookmark-metrics-action" style="width: 3.33%"></div>
                          <% else %>
                            <div class="progress-bar progress-bar-success bookmark-metrics" style="width: 3.33%"></div>
                          <% end %>
                        <% end %>
                        <div class="progress-bar progress-bar-success bookmark-metrics-pending current-day" id="progress-current-day-demo-rake" style="width: 3.33%"></div>
                      </div>
                    </p>
                    <p class="rake-links">
                      <span>
                        Progress-Tracker
                      </span>
                      <span class="pull-right">
                        Open Actions:
                        <span class="new-rec-alert">3</span>
                        &nbsp;&nbsp;
                      </span>
                    </p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <% if @customer_rake.nil? %>
                      <%= link_to "Choose this briefing",
                                  create_rake_myrake_path(master_rake_id: @rake.id, name: @rake.name, channels: @rake.channels),
                                  { data: { disable_with: "<i class='fa fa-spinner white'></i> Your briefing gets created!"}, class: "btn btn-primary btn-choose-briefing" } %>
                    <% end %>
                  </div>
                  <div class="col-md-6">
                    <span id="mark-action-btn">
                      <%= link_to "Update Progress-Tracker",
                                  "#",
                                  { class: "btn btn-day-unmarked btn-check-off",
                                    id: "demo-rake-btn-action" } %>
                    </span>
                    <span class="hidden" id="unmark-action-btn">
                      <%= link_to "Progress-Tracker updated! (click to undo)",
                                  "#",
                                  { class: "btn btn-primary btn-check-off",
                                    id: "demo-rake-btn-undo" } %>
                    </span>
                  </div>
                </div>
              <% end %>
              <br><br>
              <%= render 'news' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <%= render 'master_rakes/edit_category_modal' %>
  <% if !@custom_rake.nil? %>
    <%= render 'master_rakes/leaflet_save_modal' %>
    <%= render 'master_rakes/leaflet_create_modal' %>
  <% end %>
  <%= render 'master_rakes/new_rake_modal' %>
  <%= render 'master_rakes/add_rss_modal' %>
  <%= render 'master_rakes/add_subreddit_modal' %>
<% end %>
<%= render 'shared/request_modal' %>
<%= render 'shared/thanks_modal' %>