<% title @rake.name + " Recommendations" %>
<div class="container-fluid">
<%= render 'master_rakes/master_rakes_menu' %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>
      <%= @rake.name %> Recommendations
    </h1>
    <%= render 'news' %>
    <%= render 'feed' %>
    <%= render 'channels' %>
    <%= render 'recommendations' %>
  </div>
</div>
<% if !@custom_rake.nil? %>
  <%= render 'master_rakes/edit_category_modal' %>
  <% if @custom_rake.count > 0 %>
    <%= render 'master_rakes/leaflet_save_modal' %>
  <% else %>
    <%= render 'master_rakes/new_rake_modal' %>
  <% end %>
<% end %>
<%= render 'master_rakes/add_rss_modal' %>
<%= render 'master_rakes/add_subreddit_modal' %>