<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>8 denominators of success* that will help you to reach your goals</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h3>Passion</h3>
    <p class="centered"><i class="fa fa-heart fa-2x red"></i></p>
    <p class="landing-feature-text">
      You need the powerful feeling of enthusiasm for your priorities to succeed.
    </p>
    <h5 class="centered"><small>With Rakepage:</small></h5>
    <p class="landing-feature-text">
      Start your day with refreshing your mindset by checking your "Top 5" priorities you're passionate about.
    </p>
    <div class="landing-screenshot">
      <%= image_tag("screenshot_passion.jpg", class: "img-responsive") %>
    </div>
  </div>
  <div class="col-md-3">
    <h3>Focus</h3>
    <p class="centered"><i class="fa fa-bullseye fa-2x"></i></p>
    <p class="landing-feature-text">
      Focus is the ability to pay attention to things that really count. Not easy in the age of distractions.
    </p>
    <h5 class="centered"><small>With Rakepage:</small></h5>
    <p class="landing-feature-text">
      Get updated and take actions topic-by-topic. This helps you to stay focused and be more mindful.
    </p>
    <div class="landing-screenshot">
      <%= image_tag("screenshot_focus.jpg", class: "img-responsive") %>
    </div>
  </div>
  <div class="col-md-3">
    <h3>Good</h3>
    <p class="centered"><i class="fa fa-graduation-cap fa-2x black"></i></p>
    <p class="landing-feature-text">
      Become an expert in your field. Knowledge is power. Learn and practice every day.
    </p>
    <h5 class="centered"><small>With Rakepage:</small></h5>
    <p class="landing-feature-text">
      Expand your knowledge and keep up-to-date based on your personalised news feed.
    </p>
    <div class="landing-screenshot">
      <%= image_tag("screenshot_good.jpg", class: "img-responsive") %>
    </div>
  </div>
  <div class="col-md-3">
    <h3>Ideas</h3>
    <p class="centered"><i class="fa fa-lightbulb-o fa-2x yellow"></i></p>
    <p class="landing-feature-text">
      All achievements, all earned riches, have their beginning in an idea.
    </p>
    <h5 class="centered"><small>With Rakepage:</small></h5>
    <p class="landing-feature-text">
      Turn your ideas or inspirations from the news feed into actions with reminders.
    </p>
    <div class="landing-screenshot">
      <%= image_tag("screenshot_ideas.jpg", class: "img-responsive") %>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-3">
    <h3>Work</h3>
    <p class="centered"><i class="fa fa-wrench fa-2x midnightblue"></i></p>
    <p class="landing-feature-text">
      There is no substitute for hard work. But don't forget to have fun. Passion helps, too.
    </p>
    <h5 class="centered"><small>With Rakepage:</small></h5>
    <p class="landing-feature-text">
      Focus and know-how help you to do the right things so you can reach your goals faster.
    </p>
    <div class="landing-screenshot">
      <%= image_tag("screenshot_work.jpg", class: "img-responsive") %>
    </div>
  </div>
  <div class="col-md-3">
    <h3>Persist</h3>
    <p class="centered"><i class="fa fa-flag-checkered fa-2x orange"></i></p>
    <p class="landing-feature-text">
      Commit to a process, not a goal. Build a habit of taking action.
    </p>
    <h5 class="centered"><small>With Rakepage:</small></h5>
    <p class="landing-feature-text">
      See your action steps and goals to track your progress with an accountability system.
    </p>
    <div class="landing-screenshot">
      <%= image_tag("screenshot_persist.jpg", class: "img-responsive") %>
    </div>
  </div>
  <div class="col-md-3">
    <h3>Push</h3>
    <p class="centered"><i class="fa fa-trophy fa-2x grey"></i></p>
    <p class="landing-feature-text">
      Good ideas are worthless without execution. Don't delay and stop wasting your time.
    </p>
    <h5 class="centered"><small>With Rakepage:</small></h5>
    <p class="landing-feature-text">
      Get motivated to take actions to build up streaks of productive days.
    </p>
    <div class="landing-screenshot">
      <%= image_tag("screenshot_push.jpg", class: "img-responsive") %>
    </div>
  </div>
  <div class="col-md-3">
    <h3>Serve</h3>
    <p class="centered"><i class="fa fa-share-alt fa-2x green"></i></p>
    <p class="landing-feature-text">
      Serve others something of value. Share your findings.
    </p>
    <h5 class="centered"><small>With Rakepage:</small></h5>
    <p class="landing-feature-text">
      Show the valuable resources which help you to reach your goals and inspire other people.
    </p>
    <div class="landing-screenshot">
      <%= image_tag("screenshot_serve.jpg", class: "img-responsive") %>
    </div>
  </div>
  <div class="col-md-12">
    <br><br>
    <p class="landing-feature-text centered">
      *) based on <a href="http://www.ted.com/talks/richard_st_john_s_8_secrets_of_success?language=en" target="_blank">Richard St. John's TED talk</a>
    </p>
  </div>
</div>
