<%= render 'shared/navbar' %>

<nav>
  <ul class="nav-close-x">
    <li class="text-right"><a href="#" id="nav-close">X</a></li>
  </ul>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default panel-menu">
      <div class="panel-heading panel-heading-menu">
        <h5 class="panel-title">
          <%= link_to "Start Page", root_path, class: "menu-link" %>
        </h5>
      </div>
    </div>

    <div class="panel panel-default panel-menu">
      <div class="panel-heading panel-heading-menu">
        <h5 class="panel-title">
          <%= link_to "Help", "http://blog.rakepage.com/?page_id=191", target: "_blank", class: "menu-link" %>
        </h5>
      </div>
    </div>

    <% if user_signed_in? %>
      <div class="panel panel-default panel-menu">
        <div class="panel-heading panel-heading-menu">
          <h5 class="panel-title">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "menu-link" %>
          </h5>
        </div>
      </div>
      <div class="panel panel-default panel-menu">
        <div class="panel-heading panel-heading-menu">
          <h5 class="panel-title">
            <%= link_to "My Rakes", myrakes_path, class: "menu-link" %>
          </h5>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? && current_user.admin? %>
      <div class="panel panel-default panel-menu">
        <div class="panel-heading panel-heading-menu">
          <h5 class="panel-title">
            <%= link_to "Dashboard", dashboard_users_path, class: "menu-link" %>
          </h5>
        </div>
      </div>
      <%= render 'master_rakes/add_rss_modal' %>
      <%= render 'master_rakes/add_subreddit_modal' %>
    <% end %>
  </div>
</nav>