<%= render 'shared/title' %>
<div class="jumbotron">
  <%= image_tag "logo_white_239x50.png", class: "landing-page-logo" %>
  <span class="pull-right">
    <%= link_to "Sign in", new_user_session_path, class: "sign-in-label" %>
    <%= link_to "<i class='fa fa-rocket fa-2x white'></i>".html_safe,
                new_user_session_path,
                class: "sign-in-icon" %> 
  </span>
  <h1>Productive Bookmarking</h1>
  <br>
  <br>
  <p>Get things done based on your bookmarks.</p>
  <p>Easy and structured organization of your bookmarks.</p>
  <p>Read news from the best blogs and subreddits in one place.</p>
  <p>Contribute your bookmarks to create an awesome platform.</p>
  <br>
  <br>
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Join Rakepage", new_user_registration_path, class: "btn btn-primary btn-lg centered" %>
  </div>
</div>
<div class="container landing-page" id="learnmore">
  <br><br>
  <div class="row">
    <h3>Set reminders for your bookmarks so you don't forget to get back to them.</h3>
    <br>
    <br>
    <div class="col-md-6 col-md-offset-3">
      <%= image_tag("bookmark_reminders.png", class: "img-responsive") %>
    </div>
  </div>
  <br><br><hr><br>
  <div class="row">
    <h3>Organize your bookmarks in pre-defined structures.</h3>
    <br>
    <br>
    <div class="col-md-6 col-md-offset-3">
      <%= image_tag("bookmark_rake.png", class: "img-responsive") %>
    </div>
  </div>
  <br><br><hr><br>
  <div class="row">
    <h3>Read news from your bookmarked blogs and subreddits in one place.</h3>
    <br>
    <br>
    <div class="col-md-6 col-md-offset-3">
      <%= image_tag("bookmark_blogs.jpg", class: "img-responsive") %>
    </div>
  </div>

</div>

<br><br><br>

<div class="jumbotron-2">
  <br><br><br>
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Visit Rakepage", master_rakes_path, class: "btn btn-primary btn-lg centered" %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center footer-text">
      <h4>
        &copy;2014 - Rakepage. All rights reserved - <a href="http://blog.rakepage.com" target="_blank">Blog</a> - <%= link_to "Terms of Service", pages_path(section: "terms_of_service") %> - <%= link_to "Privacy Policy", pages_path(section: "privacy_policy") %>
      </h4>
    </div>
  </div>
</div>