<%= render 'shared/title' %>
<div class="jumbotron">
  <%= image_tag "logo_white_239x50.png", class: "landing-page-logo" %>
  <span class="pull-right">
    <%= link_to "Sign in", new_user_session_path, class: "sign-in-label" %>
    <%= link_to "<i class='fa fa-rocket fa-2x white'></i>".html_safe,
                new_user_session_path,
                class: "sign-in-icon" %> 
  </span>
  <%#= render 'shared/share_buttons' %>
  <br>
  <h1>
    Your Daily Briefing On What's Important To You
  </h1>
  <h2>Get updated without distractions and track your progress</h2>
  <div class="sign-up-button col-md-4 col-md-offset-4">
    <br><br>
    <%= link_to "Start Today", new_user_registration_path, { class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
  </div>
</div>
<div class="container landing-page" id="learnmore">
  <br><br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3></h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Step 1</h2>
      <h3>Make Choices</h3>
      <p class="centered"><i class="fa fa-space-shuttle fa-2x"></i></p>
      <blockquote>
        <p class="landing-quote">
          Begin doing what you want to do now. We are not living in eternity. We have only this moment, sparkling like a star in our hand and melting like a snowflake.
        </p>
        <footer class="pull-right">Sir Francis Bacon</footer>
      </blockquote>
      <p class="landing-feature-text">
        You rarely have time for everything you want in this life,<br>so you need to make choices.<br>Use Rakepage to oversee your essentials on one page.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Step 2</h2>
      <h3>Minimize Distractions</h3>
      <p class="centered"><i class="fa fa-bullseye fa-2x"></i></p>
      <p class="landing-feature-text">
        In the age of distractions we are drowning in a sea of irrelevance.<br>Choose only essential information sources and reduce wasting time online to get significant news.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Step 3</h2>
      <h3>Maximize Taking Action</h3>
      <p class="centered"><i class="fa fa-tasks fa-2x"></i></p>
      <p class="landing-feature-text">
        Track your progress, know what you want to do and get motivated to take action to achieve your goals.
      </p>
    </div>
  </div>
  <br><br><hr><br><br><br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "Take a look", master_rakes_path, { class: "btn btn-primary btn-lg centered", id: "take-a-look" } %>
    </div>
  </div>
  <br><br><br><br>
</div>

