<%= render 'shared/title' %>
<div class="jumbotron">
  <%= image_tag "logo_white_239x50.png", class: "landing-page-logo" %>
  <span class="pull-right">
    <%= link_to "Sign in", new_user_session_path, class: "sign-in-label" %>
    <%= link_to "<i class='fa fa-rocket fa-2x white'></i>".html_safe,
                new_user_session_path,
                class: "sign-in-icon" %> 
  </span>
  <%= render 'shared/share_buttons' %>
  <h1>Productive News & Bookmarking</h1>
  <br>
  <br>
  <h2>Get things done without distractions.</h2>
  <br>
  <br>
  <br>
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Join Rakepage", new_user_registration_path, { class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
  </div>
</div>
<div class="container landing-page" id="learnmore">
  <br><br>
  <div class="row">
    <h3>Why?</h3>
    <div class="col-md-6">
      <p class="landing-feature-text mobile-gap">
        <strong>Focus on a specific topic increases productivity</strong>
      </p>
        <p class="landing-feature-text landing-page-icon">
          <i class="fa fa-bullseye fa-2x purple"></i>
        </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Information overload keeps us distracted.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Unorganized bookmarks are never used.
      </p>
    </div>
    <div class="col-md-6">
      <p class="landing-feature-text">
        <strong>Join the mission to collectively gather the best web resources<strong>
      </p>
      <p class="landing-feature-text landing-page-icon">
        <i class="fa fa-space-shuttle fa-2x purple"></i>
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Human decisions are more meaningful than algorithms.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        We trust in the power of crowdsourced knowledge and experiences.
      </p>
    </div>
  </div>
  <br><br><hr><br>
  <div class="row">
    <h3>How?</h3>
    <div class="col-md-6">
      <p class="landing-feature-text">
        <strong>Keeping up-to-date for specific topics</strong>
      </p>
      <p class="landing-feature-text landing-page-icon">
        <i class="fa fa-flag-checkered fa-2x purple"></i>
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        You choose a topic of interest and get everything relevant in one place.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Reminders help you to get back to your collected resources
      </p>
    </div>
    <div class="col-md-6">
      <p class="landing-feature-text mobile-gap">
        <strong>Start creating the best information platform</strong>
      </p>
      <p class="landing-feature-text landing-page-icon">
        <i class="fa fa-thumb-tack fa-2x purple"></i>
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Keep your bookmarks organized and maintained.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Make the best web resources accessible for everyone in one place.
      </p>
    </div>
  </div>
  <br><br><hr><br>
  <div class="row">
    <h3>What?</h3>
      <div class="col-md-4">
        <p class="landing-feature-text mobile-gap">
          Power-up your blogs and subreddits.
        </p>
        <p class="landing-feature-text landing-page-icon">
          <i class="fa fa-rocket fa-2x purple"></i>
        </p>
        <p class="landing-feature-text">
          <strong>Get a combined news feed in one place.</strong>
        </p>
      </div>
      <div class="col-md-4">
        <p class="landing-feature-text">
          Activate and vitalize your bookmarks.
        </p>
        <p class="landing-feature-text landing-page-icon">
          <i class="fa fa-bolt fa-2x purple"></i>
        </p>
        <p class="landing-feature-text">
          <strong>Find relevant content in one place.</strong>
        </p>
      </div>
      <div class="col-md-4">
        <p class="landing-feature-text mobile-gap">
          Remember to get back to your bookmarks.
        </p>
        <p class="landing-feature-text landing-page-icon">
          <i class="fa fa-check fa-2x purple"></i>
        </p>
        <p class="landing-feature-text mobile-gap">
          <strong>Get the things done based on your bookmarks.</strong>
        </p>
      </div>
  </div>
  <br><br><hr><br><br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "Take a look", master_rakes_path, { class: "btn btn-primary btn-lg centered", id: "take-a-look" } %>
    </div>
  </div>
  <br><br>
</div>

