<%= render 'shared/title' %>
<div class="jumbotron">
  <%= image_tag "logo_white_239x50.png", class: "landing-page-logo" %>
  <span class="pull-right">
    <%= link_to "Sign in", new_user_session_path, class: "sign-in-label" %>
    <%= link_to "<i class='fa fa-rocket fa-2x white'></i>".html_safe,
                new_user_session_path,
                class: "sign-in-icon" %> 
  </span>
  <%= render 'shared/share_buttons' %>
  <h1>Productive Bookmarking</h1>
  <br>
  <br>
  <h2>Maximize your focus. Stay motivated. Get things done.</h2>
  <br>
  <br>
  <br>
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Start Now", new_user_registration_path, { class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
  </div>
</div>
<div class="container landing-page" id="learnmore">
  <br><br>
  <div class="row">
    <h3>Maximize Your Focus</h3>
    <div class="col-md-12">
      <p class="landing-feature-text mobile-gap">
        <strong>Why?</strong>
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        If you commit to nothing, you’re distracted by everything.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Discover the power of less and master your priorities.
      </p>
    </div>
  </div>
  <br><br><hr><br><br>
  <div class="row">
    <div class="col-md-6">
      <p class="landing-feature-text">
        <strong>How?<strong>
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Choose your most important topics on Rakepage.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Focusing on these topics develops productive knowledge.
      </p>
      <div class="landing-screenshot-left">
        <%= image_tag("screenshot_master_rakes_640x360.jpg", class: "img-responsive") %>
      </div>
    </div>
    <div class="col-md-6">
      <p class="landing-feature-text">
        <strong>What?<strong>
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Everything on Rakepage is topic-specific.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Get and keep relevant inspirations and know-how in one place.
      </p>
      <div class="landing-screenshot">
        <%= image_tag("screenshot_myrake_640x360.jpg", class: "img-responsive") %>
      </div>
    </div>
  </div>

  <br><br><hr><br><br><br>

  <div class="row">
    <h3>Being in Motion vs. Taking Action</h3>
    <div class="col-md-12">
      <p class="landing-feature-text mobile-gap">
        <strong>Why?</strong>
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Motion is when you’re busy doing something, but that task will never produce an outcome by itself.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Action, on the other hand, is the type of behavior that will get you a result.
      </p>
    </div>
  </div>
  <br><br><hr><br><br>
  <div class="row">
    <div class="col-md-6">
      <p class="landing-feature-text">
        <strong>How?<strong>
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Transform inspirations to motivation and actions.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Set a schedule for your actions.
      </p>
      <div class="landing-screenshot-left">
        <%= image_tag("screenshot_task_640x360.jpg", class: "img-responsive") %>
      </div>
    </div>
    <div class="col-md-6">
      <p class="landing-feature-text">
        <strong>What?<strong>
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Use Rakepage to set reminders for inspiring content.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bookmark-o purple"></i>&nbsp;
        Measure the change from being in motion to taking action.
      </p>
      <div class="landing-screenshot">
        <%= image_tag("screenshot_chains_640x360.jpg", class: "img-responsive") %>
      </div>
    </div>
  </div>
  <br><br><hr><br>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <blockquote>
        <p class="pull-right">
          <%= image_tag("Hemingway_portrait_120x120.jpg", size: "50x50", alt: "Never mistake motion for action.") %>
        </p>
        <p>
          Never mistake motion for action.
        </p>
        <br><br>
        <span class="pull-right"><small>by <cite>Ernest Hemingway</cite></small></span>
      </blockquote>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "Take a look", master_rakes_path, { class: "btn btn-primary btn-lg centered", id: "take-a-look" } %>
    </div>
  </div>
  <br><br>
</div>

