<%= render 'shared/title' %>
<div class="jumbotron">
  <%= image_tag "logo_white_239x50.png", class: "landing-page-logo" %>
  <span class="pull-right">
    <%= link_to "Sign in", new_user_session_path, class: "sign-in-label" %>
    <%= link_to "<i class='fa fa-rocket fa-2x white'></i>".html_safe,
                new_user_session_path,
                class: "sign-in-icon" %> 
  </span>
  <%= render 'shared/share_buttons' %>
  <br>
  <h1>
    Stay Focused &mdash; Be Awesome
  </h1>
  <h2>Commit to your priorities and take action</h2>
<!--   <div class="col-md-6 col-md-offset-3">
    <blockquote>
      <p class="pull-right">
        <%#= image_tag("Hemingway_portrait_120x120.jpg", size: "50x50", alt: "Never mistake motion for action.") %>
      </p>
      <h3>Never mistake motion for action.</h3>
      <br>
      <span class="pull-right"><small><cite>by Ernest Hemingway</cite></small></span>
    </blockquote>
  </div> -->
  <div class="col-md-4 col-md-offset-4">
    <br><br>
    <%= link_to "Start Today", new_user_registration_path, { class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
  </div>
</div>
<div class="container landing-page" id="learnmore">
  <br><br>
  <div class="row">
    <h2>What is Rakepage?</h2>
    <p class="centered">
      (Don't want to read? Watch the video below!)
    </p>
    <div class="col-md-8 col-md-offset-2">
      <p class="landing-feature-text">
        Rakepage is a productivity tool to maximize your focus on your priorities. Stay focused on what's really important to you. Build new habits to take action and get motivated based on a powerful accountability system.
      </p>
    </div>
  </div>
  <br><br><hr><br><br><br>

  <div class="row">
    <h2>Maximize Your Focus</h2>
    <div class="col-md-12">
      <p class="landing-feature-text">
        If you commit to nothing, you’re distracted by everything.
      </p>
      <p class="landing-feature-text">
        Discover the power of less and master your priorities.
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h3>Top 5 Topics</h3>
      <p class="landing-feature-text">
        <i class="fa fa-rocket purple"></i>&nbsp;
        Commit to your most important topics.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bullseye purple"></i>&nbsp;
        Less is more. And more likely to achieve.
      </p>
      <div class="landing-screenshot-left">
        <%= image_tag("screenshot_choose_topic.jpg", class: "img-responsive") %>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Stay Focused</h3>
      <p class="landing-feature-text">
        <i class="fa fa-star purple"></i>&nbsp;
        Get updated, motivated and take action.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-bolt purple"></i>&nbsp;
        All in one place without distractions.
      </p>
      <div class="landing-screenshot">
        <%= image_tag("screenshot_news_bookmarks_tasks.jpg", class: "img-responsive") %>
      </div>
    </div>
  </div>

  <br><br><hr><br><br><br>

  <div class="row">
    <h2>Take Action</h2>
    <div class="col-md-12">
      <p class="landing-feature-text">
        Motion is when you’re busy doing something, but that task will never produce an outcome by itself.
      </p>
      <p class="landing-feature-text">
        Action, on the other hand is the type of behavior that will get you a result.
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h3>Build New Habits</h3>
      <p class="landing-feature-text">
        <i class="fa fa-tasks purple"></i>&nbsp;
        Transform your findings from the Internet into tasks.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-calendar purple"></i>&nbsp;
        Set a schedule for your actions and qualify them.
      </p>
      <div class="landing-screenshot-left">
        <%= image_tag("screenshot_task.jpg", class: "img-responsive") %>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Accountability</h3>
      <p class="landing-feature-text">
        <i class="fa fa-flag-checkered purple"></i>&nbsp;
        See what you've accomplished and get motivated.
      </p>
      <p class="landing-feature-text">
        <i class="fa fa-line-chart purple"></i>&nbsp;
        Keep up with your priorities and stay focused.
      </p>
      <div class="landing-screenshot">
        <%= image_tag("screenshot_chains.jpg", class: "img-responsive") %>
      </div>
    </div>
  </div>
  <br><br><hr><br>
  <br><br>
  <h3>
    Watch the Getting Started Video
  </h3>
  <div class="row centered">
    <div class="col-md-6 col-md-offset-3 getting-started-video">
      <iframe width="560" height="315" src="//www.youtube.com/embed/LN7jb1opVYE" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <br><br><hr><br><br><br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "Getting Started Now", new_user_registration_path, { class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
    </div>
  </div>
  <br><br><br><br>
</div>

