<%= render 'shared/title' %>
<div class="jumbotron">
  <%= image_tag "logo_white_239x50.png", class: "landing-page-logo" %>
  <span class="pull-right">
    <%= link_to "Sign in", new_user_session_path, class: "sign-in-label" %>
    <%= link_to "<i class='fa fa-rocket fa-2x white'></i>".html_safe,
                new_user_session_path,
                class: "sign-in-icon" %> 
  </span>
  <%= render 'shared/share_buttons' %>
  <h1>Productive Bookmarking</h1>
  <br>
  <br>
  <h3>Get things done with your bookmarks.</h3>
  <br>
  <br>
  <br>
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Join Rakepage", new_user_registration_path, { class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
  </div>
</div>
<div class="container landing-page" id="learnmore">
  <br><br>
  <div class="row">
    <h3>Set reminders for your bookmarks so you don't forget to get back to them.</h3>
    <br>
    <br>
    <div class="col-md-6 col-md-offset-3">
      <%= image_tag("bookmark_reminders.png", class: "img-responsive") %>
    </div>
  </div>
  <br><br><hr><br>
  <div class="row">
    <h3>Easy and structured organization of your bookmarks.</h3>
    <br>
    <br>
    <div class="col-md-6 col-md-offset-3">
      <%= image_tag("bookmark_rake.png", class: "img-responsive") %>
    </div>
  </div>
  <br><br><hr><br>
  <div class="row">
    <h3>Read news from your bookmarked blogs and subreddits in one place.</h3>
    <br>
    <br>
    <div class="col-md-6 col-md-offset-3">
      <%= image_tag("bookmark_blogs.jpg", class: "img-responsive") %>
    </div>
  </div>
  <br><br><hr><br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "Take a look", master_rakes_path, { class: "btn btn-primary btn-lg centered", id: "take-a-look" } %>
    </div>
  </div>
  <br><br>
</div>

