<%= render 'shared/title' %>
<div class="jumbotron">
  <%= image_tag "logo_white_239x50.png", class: "landing-page-logo" %>
  <span class="pull-right">
    <%= link_to "Sign in", new_user_session_path, class: "sign-in-label" %>
    <%= link_to "<i class='fa fa-rocket fa-2x white'></i>".html_safe,
                new_user_session_path,
                class: "sign-in-icon" %> 
  </span>
  <%= render 'shared/share_buttons' %>
  <br>
  <h1>
    Be Focused
  </h1>
  <h2>An online tool for people who want to focus on their choices to reach their goals</h2>
  <div class="sign-up-button col-md-4 col-md-offset-4">
    <br><br>
    <%= link_to "Start Today", new_user_registration_path, { class: "btn btn-primary btn-lg centered", id: "sign-up" } %>
  </div>
</div>
<div class="container landing-page" id="learnmore">
  <br><br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Why?</h2>
    </div>
    <div class="col-md-6">
      <h3>Become committed</h3>
      <p class="centered"><i class="fa fa-bullseye fa-2x"></i></p>
      <p class="landing-feature-text">
        Making choices allows us to pay attention to the things that really count. Take mindful actions and build good habits.
      </p>
    </div>
    <div class="col-md-6">
      <h3>Stop wasting time</h3>
      <p class="centered"><i class="fa fa-history fa-2x"></i></p>
      <p class="landing-feature-text">
        In the age of distractions we are drowning in a sea of irrelevance. Take control what information you consume.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>How?</h2>
    </div>
    <div class="col-md-6">
      <h3>Measure accountability</h3>
      <p class="centered"><i class="fa fa-tasks fa-2x"></i></p>
      <p class="landing-feature-text">
        Make tracking your accountability a routine. See how persistently you take action for your choices.
      </p>
    </div>
    <div class="col-md-6">
      <h3>Reduce mindless browsing</h3>
      <p class="centered"><i class="fa fa-filter fa-2x"></i></p>
      <p class="landing-feature-text">
        Customize your news feeds for each of your choices. Get focused updates with fewer distractions.
      </p>
    </div>
  </div>
  <br><br><hr><br><br><br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "Take a look", master_rakes_path, { class: "btn btn-primary btn-lg centered", id: "take-a-look" } %>
    </div>
  </div>
  <br><br><br><br>
</div>

