<% title "Shared Recommendation Collections" %>
<div class="jumbotron">
  <%= image_tag "logo_white_239x50.png", class: "landing-page-logo" %>
  <span class="pull-right">
    <%= link_to "Sign in", new_user_session_path, class: "sign-in-label" %>
    <%= link_to "<i class='fa fa-rocket fa-2x white'></i>".html_safe,
                new_user_session_path,
                class: "sign-in-icon" %> 
  </span>
  <h2>Shared Recommendation Collections</h2>
  <br>
  <br>
  <p>Collect, organize and share your recommendations.</p>
  <p>Discover recommendations for all kind of topics.</p>
  <p>Read news from the best blogs and subreddits in one place.</p>
  <p>Stay up to date for the topics you're interested in.</p>
  <br>
  <br>
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Join Rakepage", new_user_registration_path, class: "btn btn-primary btn-lg center-block" %>
  </div>
</div>
<div class="container landing-page" id="learnmore">
  <br>
  <div class="row">
    <h3>This is a rake (recommendation collection) on Rakepage.</h3>
    <h3>It's your place for collecting the best resources and stay up to date for the specific topic.</h3>
    <br>
    <br>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= image_tag("myrake.jpg", class: "img-responsive") %>
    </div>
  </div>
  <br><br><br><br>
  <hr>
  <br>

  <div class="row">
    <div class="col-md-8">
      <h3>Add your recommendations to different types to keep organized.</h3>
    </div>
    <div class="col-md-4">
      <%= image_tag("add_recommendation.jpg", class: "img-responsive") %>
    </div>
  </div>
  <br><br><hr><br>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("blog_and_subreddits.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-8">
      <h3>Manage your favorite blogs and subreddits for a specific topic.</h3>
    </div>
  </div>
  <br><br><hr><br>
  <div class="row">
    <div class="col-md-8">
      <h3>Read news tailored to your settings.</h3>
    </div>
    <div class="col-md-4">
      <%= image_tag("news_feed.png", class: "img-responsive") %>
    </div>
  </div>
  <br><br><hr><br>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("related_rakes_view.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-8">
      <h3>Browse related rakes to discover new recommendations.</h3>
    </div>
  </div>
  <br><br><hr><br>
  <div class="row">
    <h3>Learn more about Rakepage:</h3>
    <br>
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "Getting started", "http://blog.rakepage.com/?p=195", class: "btn btn-primary btn-lg centered" %>
    </div>
  </div>
  <br><br><hr><br>
  <div class="row">
    <h2>Never forget again to get back to your bookmarks</h2>
    <h3>Have you ever forgotten to get back to your bookmarks?</h3>
    <h3>This doesn't happen anymore with setting a reminder.</h3>
    <h3>Rakepage allows you to keep track of the recommendations.</h3>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= image_tag("reminders_highlighted.png", class: "img-responsive") %>
      </div>
    </div>
    <br><br><hr><br>
    <h2>Rakepage is the place to easily find where all the relevant information is.</h2>
    <h3>No more analyzing of search results.</h3>
    <h3>No more restarting the same search on another website.</h3>
    <h3>Access the best blogs and subreddits</h3>
    <h3>Find the best resources in one place.</h3>
    <br><br><hr><br>
  </div>
</div>

<br><br><br>

<div class="jumbotron-2">
  <br><br>
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Visit Rakepage", master_rakes_path, class: "btn btn-primary btn-lg center-block" %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center footer-text">
      <h4>
        &copy;2014 - Rakepage. All rights reserved - <a href="http://blog.rakepage.com" target="_blank">Blog</a> - <%= link_to "Terms of Service", pages_path(section: "terms_of_service") %> - <%= link_to "Privacy Policy", pages_path(section: "privacy_policy") %>
      </h4>
    </div>
  </div>
</div>