<div class="jumbotron">
  <%= image_tag "logo_white_239x50.png", class: "landing-page-logo" %>
  <span class="pull-right">
    <%= link_to "Sign in", new_user_session_path, class: "sign-in-label" %>
    <%= link_to "<i class='fa fa-rocket fa-2x white'></i>".html_safe,
                new_user_session_path,
                class: "sign-in-icon" %> 
  </span>
  <h2>Collaborative Recommendation Sharing.</h2>
  <br>
  <br>
  <p>Share recommendations to specific topics in one place.</p>
  <p>Create your own customized recommendation collection.</p>
  <p>Get inspired and construct a Rakepage community.</p>
  <br>
  <br>
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Join the new community", new_user_registration_path, class: "btn btn-primary btn-lg center-block" %>
    <p class="scrolllearn" style="color:white; font-weight:300">
      Learn more  <%= image_tag("arrow-down.png", size: "32x32") %>
    </p>
  </div>
</div>
<div class="container landing-page" id="learnmore">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>What's a Rake?</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <p>
        <small><em>n.</em> <small><strong>1. a:</strong></small></small> An implement to gather material or smoothing loose soil or gravel. <small><small><strong>b:</strong></small></small> A device that resembles such an implement.
      </p>
    </div>
    <div class="col-md-5">
      <p>
        <small><em>v.tr.</em> <small><strong>2. a:</strong></small></small> To gather, smooth or scrape with a rake. <small><small><strong>b:</strong></small></small> To gain in abundance. <small><small><strong>c:</strong></small></small> To search or examine thoroughly.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Share recommendations to specific topics in one place.</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <%= image_tag("master_rakes_index_screenshot.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-5">
      <br>
      <p class="feature-center">
        <i class="fa fa-space-shuttle fa-2x"></i>
      </p>
      <p>
        Discover rakes to various topics with crowdsourced recommendations for an easy start.
      </p>
      <br>
      <p class="feature-center">
        <i class="fa fa-sitemap fa-2x"></i>
      </p>
      <p>
        People with the same interests collect recommendations with the same (master) rake. This keeps everything simple and in one place.
      </p>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Create your own customized recommendation collection.</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <br>
      <p class="feature-center">
        <i class="fa fa-sliders fa-2x"></i>
      </p>
      <p>
         Create your customized rake to adjust your where you get your recommendations from.
      </p>
      <br>
      <p class="feature-center">
        <i class="fa fa-bullseye fa-2x"></i>
      </p>
      <p>
        Getting updated to one specific topic helps you to be less distracted.
      </p>
      <br>
    </div>
    <div class="col-md-5">
      <%= image_tag("channels_screenshot.png", class: "img-responsive") %>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Get inspired and construct a Rakepage community.</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <%= image_tag("heaps_screenshot.png", class: "img-responsive") %>
    </div>
    <div class="col-md-5">
      <br>
      <p class="feature-center">
        <i class="fa fa-bullhorn fa-2x"></i>
      </p>
      <p>
        Be updated what other users recommend and provide your own recommendations.
      </p>
      <br>
      <p class="feature-center">
        <i class="fa fa-heart fa-2x"></i>
      </p>
      <p>
        Have an always up-to-date overview to your interests and see what people love on the Internet.
      </p>
    </div>
  </div>
</div>

<br><br><br><br>

<div class="jumbotron-2">
  <h2><br><br><br><br></h2>
  <h2>Stop searching. Start finding.</h2>
  <br>
  <br>
  <p>
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "Start now", new_user_registration_path, class: "btn btn-primary btn-lg center-block" %>
    </div>
  </p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="text-center">
    <h4>
      &copy;2014 - Rakepage. All rights reserved - <a href="http://blog.rakepage.com" target="_blank">Blog</a> - <%= link_to "Terms of Service", pages_path(section: "terms_of_service") %> - <%= link_to "Privacy Policy", pages_path(section: "privacy_policy") %>
    </h4>
  </div>
</div>