<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#my-rakes" data-toggle="tab">My Rakes</a></li>
  <li><a href="#new-master-rakes" data-toggle="tab">New Master Rakes</a></li>
  <li><a href="#new-leaflets" data-toggle="tab">New Leaflets</a></li>
</ul>
<br>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="my-rakes">
    <% if @rakes.empty? %>
      Tutorial here...
    <% else %>
      <% @rakes.each do |r| %>
        <div class="col-md-6">
          <div class="thumbnail">
            <div class="caption">
              <% master_rake = MasterRake.find(r.master_rake_id) %>
              <% if master_rake.image_url.nil? || master_rake.image_url.empty? %>
                <%= link_to image_tag("no_image.png"), rake_path(r.id), class: "load-rake", value: r.id %>
              <% else %>
                <%= link_to image_tag(master_rake.image_url), rake_path(r.id), class: "load-rake", value: r.id %>
              <% end %>
              <span class="rake-caption">
                <%= link_to r.name, rake_path(r.id), class: "load-rake", value: r.id %>
              </span>
              <span id="load-rake-<%= "#{r.id.to_s}" %>"></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="tab-pane" id="new-master-rakes">
    <br>
    <% @new_master_rakes.each do |m| %>
      <div class="col-md-6">
        <div class="thumbnail">
          <%= link_to master_rake_path(m.id) do %>
            <div class="caption load-rake" value="<%= m.id %>">
              <% if m.image_url.nil? || m.image_url.empty? %>
                <%= image_tag("no_image.png") %>
              <% else %>
                <%= image_tag(m.image_url) %>
              <% end %>
              <div class="rake-caption">
                <%= m.name %>
                <span id="load-rake-<%= "#{m.id.to_s}" %>"></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="tab-pane" id="new-leaflets">
    <%= render 'master_rakes/display_leaflets' %>
  </div>
</div>