<ul id="feed-list" class="leaflet-list">
  <% heap = @heaps.find_by_leaflet_type_id(locals[:leaflet_type_id]) %>
  <% heap.leaflets.order("published_at DESC").each do |l| %>
    <% channel = Channel.find(l.channel_id) %>
    <li class="rake-show-list" id="<%= "leaflet_" + l.id.to_s %>">
      <a class="pull-left" href="#">
        <% if channel.channel_type == 4 %>
          <%= image_tag "reddit-32.png", size: "16x16", class: "media-object img-feed-show" %>
        <% elsif channel.channel_type == 3 %>
          <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16", class: "media-object img-feed-show" %>
        <% else %>
          <% favicon_path = "http://www.google.com/s2/favicons?domain=" + channel.source %>
          <img class="media-object img-feed-show" src=<%= "#{favicon_path}" %> alt="media image">
        <% end %>
      </a>
      <div class="media-body">
        <span class="feed-timestamp">
          <% channel_name = channel.name %>
          <% if channel_name == "Title not available." %>
            <% channel_name = channel.source %>
          <% end %>
          Channel: <%= channel_name %>
          <span class="pull-right-menu">
            <% if !l.published_at.nil? %>
              <%= time_ago_in_words(l.published_at) %> ago 
            <% else %>
              <%= time_ago_in_words(l.created_at) %> ago 
            <% end %>
          </span>
        </span>
        <br>
        <% heap_leaflet = HeapLeafletMap.where("heap_id = ? AND leaflet_id = ?", heap.id, l.id).first %>
        <span class="leaflet-title">
          <% if !heap_leaflet.nil? %>
            <% title = heap_leaflet.leaflet_title %>
            <% if !title.nil? %>
              <%= link_to title, l.url, class: "external", value: l.id, target: "_blank" %>
            <% else %>
              <%= link_to l.title , l.url, class: "external", value: l.id, target: "_blank" %>
            <% end %>
          <% end %>
        </span>
        <!-- <p class="feed-body"><%#= highlight(l.content.html_safe, @rake_filter.split(",")) %></p> -->
        <p class="feed-body">
          <% if !heap_leaflet.nil? %>
            <% description = heap_leaflet.leaflet_desc %>
            <% if !description.nil? %>
              <%= description %>
            <% end %>
          <% end %>
        </p>
        <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="Viewed count"></i> <span class="v_count_<%= l.id %>"><%= l.view_count %></span>
        &nbsp;|&nbsp;
        <i class="fa fa-star" data-toggle="tooltip" data-placement="top" title="Saved count"></i> <span class="s_count_<%= l.id %>"><%= l.save_count %></span>
        &nbsp;|&nbsp;
        <i class="fa fa-eraser" data-toggle="tooltip" data-placement="top" title="Deleted count"></i> <span class="d_count_<%= l.id %>"><%= l.delete_count %></span>
        <span class="pull-right">
          <span class="feed-button">
            <span id="<%= 'feed-heart-icon-' + l.id.to_s %>">
              <% if user_signed_in? %>
                <% if History.where("user_id = ?", current_user.id).liked.pluck(:leaflet_id).include? l.id %>
                  &nbsp;<i class="fa fa-heart" data-toggle="tooltip" data-placement="top" title="Likes count"></i>
                <% else %>
                  &nbsp;<i class="fa fa-heart-o like" data-toggle="tooltip" data-placement="top" title="Like" value=<%= l.id %>></i>
                <% end %>
              <% else %>
                &nbsp;<i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="Likes count"></i>
              <% end %>
            </span>
            <span class="l_count_<%= l.id %>"><%= l.like_count %></span>
          </span>
          &nbsp;
          <% if user_signed_in? %>
            <span class="feed-button">
              <% if @rake.user_id == current_user.id %>
                <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete from Heap"></i>'.html_safe, 
                      remove_leaflet_heap_path(heap, leaflet_id: l.id),
                      :data => { :confirm => "Are you sure?" },
                      :method => :get, remote: true %>
              <% else %>
                <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save to a Heap"></i>'.html_safe, new_rake_path, 
                            data: { toggle: "modal", target: "#newCustomRakeAddLeafletModal", id: l.id, title: l.title }, class: "leaflet-save" %>

              <% end %>
            </span>
          <% end %>
          &nbsp;
        </span>
      </div>
      <hr>
    </li>
  <% end %>
</ul>
<%#= paginate @heaps.find_by_leaflet_type_id(locals[:leaflet_type_id]).leaflets %>