<!-- Modal -->
<div class="modal fade" id="newLeafletModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Leaflet</h4>
      </div>
      <%= bootstrap_form_for(@rake) do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :heap_id, class: "heap-id" %>
          <%= f.hidden_field :leaflet_type_id, class: "leaflet-type-id" %>
          <%= f.text_field :leaflet_title, { label: "Leaflet Title", class: "leaflet-custom-title" } %>
          <%= f.text_area :leaflet_desc, { label: "Leaflet Description (optional)" } %>
          <%= f.text_area :leaflet_url, { label: "URL (including leading http://)" } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Create Leaflet", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>