<div class="col-md-4">
  <h3 class="title-rake-show"><%= pluralize(@rakes.count.to_s, "Rake") %>
    <% if user_signed_in? %>
      <small>
        <%= link_to '<i class="fa fa-plus"></i>'.html_safe, add_rake_master_rakes_path %>
      </small>
    <% else %>
      <small><%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_user_session_path %></small>
    <% end %>
  </h3>
  <ul>
    <% @rakes.each do |r| %>
      <% if r.id == params[:rake_id].to_i %>
        <li class="rake-list-active" id="<%= 'rake_' + r.id.to_s %>">
      <% else %>
        <li class="rake-list" id="<%= 'rake_' + r.id.to_s %>">
      <% end %>
        <div class="media-body">
          <h5 class="media-heading channel-heading">
            <%= link_to r.name, rakes_path(rake_id: r.id) %>
             <span class="badge pull-right">
              <%= r.feed_leaflets("news").count %>
            </span>
          </h5>
        </div>
      </li>
    <% end %>
  </ul>
</div>
