<div class="col-md-4">
  <h3 class="title-rake-show"><%= pluralize(@rakes.count.to_s, "Rake") %>
    <% if user_signed_in? %>
      <small>
        <%= link_to '<i class="fa fa-plus"></i>'.html_safe, add_rake_master_rakes_path %>
      </small>
    <% else %>
      <small><%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_user_session_path %></small>
    <% end %>
  </h3>
  <ul class="leaflet-list">
    <% @rakes.each do |r| %>
      <li class="rake-show-list" id="<%= 'rake_' + r.id.to_s %>">
        <div class="media-body">
          <h5 class="media-heading channel-heading">
            <%= link_to r.name, rake_path(r.id) %>
             <span class="badge pull-right">
              <%= r.feed_leaflets("news").count %>
            </span>
          </h5>
        </div>
      </li>
    <% end %>
  </ul>
  <div>
    <strong>Channel Relevance</strong>
    <%= pie_chart(current_user.get_saves) %>
  </div>
</div>
