<%= render 'shared/navbar' %>

<nav>
  <ul class="nav-close-x">
    <li class="text-right"><a href="#" id="nav-close">X</a></li>
  </ul>
  <div class="panel-group" id="accordion">

    <% if !@rake.nil? %>
      <div class="panel-heading active panel-heading-menu">
        <h5 class="panel-title">
          <% href_id = "#rake" %>
          <i class='fa fa-code-fork green'></i>&nbsp;<%= @rake.name %>
          <span class="pull-right">
            <%= link_to '<i class="fa fa-cog green"></i>'.html_safe, href_id, :data => { :toggle => "collapse" } %>
          </span>
        </h5>
        <div id="rake" class="panel-collapse collapse">
          <div class="panel-body menu black">
            <h5><small>FILTERS</small></h5>
            <%= bootstrap_form_for(@rake) do |f| %>
              <%= f.text_field :rake_filters, hide_label: true, class: "tokenize", value: @rake_filter %>
              <%= f.submit "Refresh", class: "btn btn-primary" %>
            <% end %>
            <br>
            <h5>
              <small>
                CHANNELS
                &nbsp;|&nbsp;
                <%= link_to "ADD RSS FEED", new_channel_path(rake_id: @rake.id, channel_type: 0),
                            data: { toggle: "modal",
                                    target: "#addRssModal",
                                    rakeid: @rake.id,
                                    channeltype: 0 },
                            class: "add-rss-feed" %>
                &nbsp;|&nbsp;
                <%= link_to "ADD SUBREDDIT", new_channel_path(rake_id: @rake.id, channel_type: 4),
                            data: { toggle: "modal",
                                    target: "#addSubredditModal",
                                    rakeid: @rake.id,
                                    channeltype: 4 },
                            class: "add-subreddit-feed" %>
              </small>
            </h5>
            <ul class="leaflet-list">
              <% @rake.channels.each do |c| %>
                <li class="rake-show-list" id="<%= 'channel_' + c.id.to_s %>">
                  <span class="pull-left" >
                    <% favicon_path = "http://www.google.com/s2/favicons?domain=" + c.source %>
                    <img class="media-object img-rake-show" src=<%= "#{favicon_path}" %> alt="media image">
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading channel-heading">
                      <% if c.rake_channel_maps.find_by_rake_id(@rake.id).display %>
                        <%= link_to '<i class="fa fa-check-square-o"></i>'.html_safe,
                                    toggle_channel_display_rake_path(@rake, channel: c.id, display: false) %>
                      <% else %>
                        <%= link_to '<i class="fa fa-square-o"></i>'.html_safe,
                                    toggle_channel_display_rake_path(@rake, channel: c.id, display: true) %>
                      <% end %>
                      <%= c.name %>
                      <span class="pull-right">
                        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, remove_channel_rake_path(@rake, channel: c.id), :data => { :confirm => "Are you sure?" }, :method => :get %>
                      </span>
                    </h5>
                    <p>
                      <i class="fa fa-star"></i> <%= Leaflet.where("channel_id = '#{c.id}'").sum(:save_count) %>
                      <i class="fa fa-user"></i> <%= c.count_subscribers %>
                      <i class="fa fa-tasks"></i> <%= Leaflet.where("channel_id = '#{c.id}'").count %>
                    </p>
                  </div>
                </li>
              <% end %>
            </ul>
            <p><%= link_to "Delete Rake", rake_path(@rake),
                           :data => { :confirm => "Are you sure?" }, 
                           :method => :delete,
                           class: "btn btn-danger" %></p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default panel-menu">
      <div class="panel-heading panel-heading-menu">
        <h5 class="panel-title">
          <%= link_to "<i class='fa fa-globe white'></i>".html_safe + "  Master Rakes", master_rakes_path, class: "rake_title" %>
        </h5>
      </div>
    </div>

    <div class="panel panel-default panel-menu">
      <div class="panel-heading panel-heading-menu">
        <h5 class="panel-title">
          <% if user_signed_in? %>
            <i class="fa fa-user white"></i> <%= current_user.username %>
            <span class="pull-right">
            <% href_id = "#user" %>
              <%= link_to '<i class="fa fa-cog white"></i>'.html_safe, href_id, :data => { :toggle => "collapse" } %>
            </span>
            <div id="user" class="panel-collapse collapse">
              <div class="panel-body menu black">
                <ul class="leaflet-list">
                  <li class="rake-show-list">
                    <%= link_to "Social Accounts", authentications_path %>
                  </li>
                  <li class="rake-show-list">
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "purple" %>
                  </li>
                </ul>
              </div>
            </div>
          <% else %>
            <%= link_to "<i class='fa fa-user white'></i>".html_safe + "  Sign in", new_user_session_path %>
          <% end %>
        </h5>
      </div>
    </div>

  </div>

</nav>
<%= render 'master_rakes/add_rss_modal' %>
<%= render 'master_rakes/add_subreddit_modal' %>