<div class="container-fluid">
<%= render 'rakes/rakes_menu' %>
<div class="row">
  <div class="col-md-3">
    <h5><small>MY RAKES | CATEGORIES</small></h5>
    <div class="panel-group" id="accordion">
      <% @categories.each do |c| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">
              <%= link_to c.desc, rakes_path(category_id: c.id) %>
              <% href_id = "#category_" + c.id.to_s %>
              <% if !@category.nil? %>
                <% if c.id == params[:category_id].to_i %>
                  <span class="pull-right">
                    <%= link_to '<i class="fa fa-info"></i>'.html_safe, href_id,
                                 :data => { :toggle => "collapse" },
                                 id: "feed-chevron" %>
                  </span>
                <% end %>
              <% end %>
            </h5>
          </div>
          <% if !@category.nil? %>
            <% if c.id == params[:category_id].to_i %>
              <div id="category_<%= "#{c.id.to_s}" %>" class="panel-collapse collapse in">
            <% else %>
              <div id="category_<%= "#{c.id.to_s}" %>" class="panel-collapse collapse">
            <% end %>
          <% else %>
            <div id="category_<%= "#{c.id.to_s}" %>" class="panel-collapse collapse">
          <% end %>
            <div class="panel-body">
              <% if !@category.nil? %>
                <h5><small><%= c.comment %></small></h5>
              <% end %> 
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <% if !@category.nil? %>
      <h5><small><%= @category.desc.upcase %></small></h5>
      <div class="row">
        <% master_rake_ids = MasterRake.where("category_id = ?", @category.id).pluck(:id) %>
        <% @rakes.where("master_rake_id IN (?)", master_rake_ids).each do |r| %>
          <div class="col-md-6">
            <div class="thumbnail">
              <div class="caption">
                <%= link_to r.name, rake_path(r) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%#= render 'rakes/social_modal' %>
</div>