<% title @rake.name + " Recommendations" %>
<div class="container-fluid">
  <%= render 'rakes/rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>
        <%= @rake.name %> Recommendations
        <span class="pull-right">
          <% if !current_user.nil? %>
            <%= link_to "<i class='fa fa-sitemap white'></i>".html_safe + " Show Master Rake",
                          master_rake_path(@rake.master_rake_id),
                          class: "btn btn-xs btn-primary" %>
          <% end %>
        </span>
      </h1>
      <%= render 'news' %>
      <%= render 'feed' %>
      <%= render 'recommendations' %>
    </div>
  </div>

  <%= render 'rakes/leaflet_save_modal' %>
  <%= render 'rakes/leaflet_create_modal' %>
  <% if user_signed_in? %>
    <%= render 'rakes/leaflet_move_modal' %>
  <% end %>
  <%= render 'rakes/heap_add_modal' %>
  <%#= render 'rakes/social_modal' %>
  <%= render 'new_rake_modal' %>
</div>

