<%= render 'dashboard/dashboard_menu' %>
<div class="container-fluid">
  <div class="row">
    <%= render 'dashboard/dashboard_nav' %>
    <div class="col-md-10">
      <h1>Users (<%= User.all.count.to_s %>)</h1>
      <table class="table">
        <thead>
          <tr>
            <th>User name</th>
            <th># of rakes</th>
            <th>Due tasks</th>
            <th>Scheduled tasks</th>
            <th>No date tasks</th>
            <th>Last sign in</th>
            <th>Created at</th>
          <tr>
        <thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.username, dashboard_user_path(user) %> (<%= user.id.to_s %>)</td>
              <td><%= user.myrakes.count.to_s %></td>
              <td><%= user.due_tasks_count.to_s %></td>
              <td><%= user.scheduled_tasks_count.to_s %></td>
              <td><%= user.no_reminder_tasks_count.to_s %></td>
              <td><%= user.last_sign_in_at %></td>
              <td><%= user.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>