<h1>Feed Refreshes</h1>
<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Feed Refreshed</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @histories.each do |history| %>
      <% if User.where(id: history.user_id).count > 0 %>
        <tr>
          <td><%= User.find(history.user_id).username %></td>
          <% if !history.rake_id.nil? %>
            <% if Myrake.where(id: history.rake_id).count > 0 %>
              <td><%= Myrake.find(history.rake_id).name %></td>
            <% else %>
              <td>Rake deleted</td>
            <% end %>
          <% else %>
            <td><%= MasterRake.find(history.master_rake_id).name %></td>
          <% end %>
          <td><%= history.created_at %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @histories %>