<%= render 'dashboard/dashboard_menu' %>
<div class="container-fluid">
  <div class="row">
    <%= render 'dashboard/dashboard_nav' %>
    <div class="col-md-10">
      <% if params[:view] == "requests" %>
        <%= render 'requests' %>
      <% elsif params[:view] == "feed_refreshes" %>
        <%= render 'feed_refreshes' %>
      <% elsif params[:view] == "tasks" %>
        <%= render 'tasks' %>
      <% else %>
        <h1>Histories</h1>
        <table class="table">
          <thead>
            <tr>
              <th>History</th>
            </tr>
          </thead>
          <tbody>
            <% @histories.each do |history| %>
              <tr>
                <td><%= history.history_code %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>