<!DOCTYPE html>
<html>
  <head>
    <title>Rakepage2</title>
    <%# Mobile responsivenes %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <%#= include_gon %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true, :async => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true, :async => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick", :async => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%#= render 'shared/navbar' %>
    <div class="container-fluid">
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
