<!DOCTYPE html>
<html>
  <head>
    <title>Rakepage</title>
    <%# Mobile responsivenes %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <%#= include_gon %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700,900,300' rel='stylesheet' type='text/css'>
    <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true, :async => true %>
    <%#= javascript_include_tag "application", "data-turbolinks-track" => true, :async => true %>
    <%= stylesheet_link_tag    "application", media: "all", :async => false %>
    <%= javascript_include_tag "application", :async => false %>    
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick", :async => false %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%#= render 'shared/navbar' %>
    <!-- <div class="container-fluid"> -->
      <% if !flash.empty? %>
        <%#= render 'shared/flash_message' %>
      <% end %>
      <%= yield %>
    <!-- </div> -->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43830268-3', 'rakepage.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
