<div class="hidden" id="edit-action-<%= leaflet_id %>">
  <br>
  <%= bootstrap_form_for(@rake, remote: true) do |f| %>
    <%= f.hidden_field :leaflet_id, class: "leaflet-id" %>
    <%= f.hidden_field :heap_id, class: "heap-id" %>
    <%= f.hidden_field :collapse, class: "collapse-section" %>
    <%= f.hidden_field :origin, class: "origin" %>
    <%= f.hidden_field :leaflet_url, { label: "URL", disabled: true, class: "leaflet-url" } %>
    <%= f.hidden_field :leaflet_title, { label: "Bookmark Title", class: "leaflet-custom-title" } %>
    <%= f.hidden_field :leaflet_desc, { label: "Bookmark Description (optional)", class: "leaflet-description" } %>
    <%= f.label "Description", class: "rakepage-form-label" %>
    <%= f.text_field :leaflet_goal, { hide_label: true, class: "leaflet-goal" } %>
    <% reminder_period = [] %>
    <% reminder_period << ["in 1 hour", 1] %>
    <% reminder_period << ["in 1 day", 2] %>
    <% reminder_period << ["in 3 days", 3] %>
    <% reminder_period << ["in 1 week", 4] %>
    <% reminder_period << ["in 1 month", 5] %>
    <%= f.label "Set a reminder", class: "rakepage-form-label" %>
    <%= f.select :reminder_at, options_for_select(reminder_period), { hide_label: true }, id: "reminder_at", class: "reminderat" %>
    <%#= f.label "Notes", class: "rakepage-form-label" %>
    <%#= f.text_area :leaflet_note, { hide_label: true, rows: 5, class: "leaflet-note" } %>
    <%#= f.label "Qualify your action", class: "score-label rakepage-form-label" %>
    <%#= f.hidden_field :current_score, value: 0, class: "current-score" %>
<!--     <div class="btn-group btn-group-justified" data-toggle="buttons">
      <label class="btn btn-default label-score-0">
        <input type="radio" name="options" id="option1" autocomplete="off" checked>
        None
      </label>
      <label class="btn btn-default label-score-1">
        <input type="radio" name="options" id="option2" autocomplete="off">
        Steps&nbsp;|&nbsp;<span class="motion-counter">0</span>
      </label>
      <label class="btn btn-default label-score-2">
        <input type="radio" name="options" id="option3" autocomplete="off">
        Goals&nbsp;|&nbsp;<span class="action-counter">0</span>
      </label>
    </div> -->
    <%#= f.hidden_field :current_rating, { hide_label: true,
                                          data: { min: "1", 
                                                  max: "5", 
                                                  clearable: " ",
                                                  'icon-lib' =>"fa",
                                                  'active-icon' => "fa-star fa-2x",
                                                  'inactive-icon' => "fa-star-o fa-2x",
                                                  'clearable-icon' => "fa-times" },
                                          class: "rating" } %>
    <%= f.label "Journal entry", class: "rakepage-form-label" %>
    <%= f.text_area :task_comment, { hide_label: true, placeholder: "You can write journal entries, getting access to the entries is an upcoming feature.", class: "task-comment" } %>
    <span class="pull-right">
      <button type="button" class="btn btn-default btn-xs abort-edit-action">Cancel</button>
      <%= f.button "Update",
                    class: "btn btn-primary btn-xs",
                    name: "commit",
                    value: "Commit Action",
                    data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Committing..." } %>
    </span>
  <% end %>
  <br><br>
</div>