<!-- Modal -->
<div class="modal fade" id="setReminderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Bookmark</h4>
      </div>
      <%= bootstrap_form_for(current_user, remote: true) do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :leaflet_id, class: "leaflet-id" %>
          <%= f.hidden_field :heap_id, class: "heap-id" %>
          <%= f.hidden_field :collapse, class: "collapse-section" %>
          <%= f.hidden_field :leaflet_title, { disabled: true, label: "Bookmark Title", class: "leaflet-custom-title" } %>
          <%= f.hidden_field :leaflet_desc, { label: "Bookmark Description (optional)", class: "leaflet-description" } %>
          <%= f.hidden_field :leaflet_url, { disabled: true, label: "URL (including leading http://)", class: "leaflet-url" } %>
          <%= f.hidden_field :origin, class: "origin" %>
          <% reminder_period = [] %>
          <% reminder_period << ["no reminder", 0] %>
          <% reminder_period << ["in 1 hour", 1] %>
          <% reminder_period << ["in 1 day", 2] %>
          <% reminder_period << ["in 3 days", 3] %>
          <% reminder_period << ["in 1 week", 4] %>
          <% reminder_period << ["in 1 month", 5] %>
          <%= f.select :reminder_at, options_for_select(reminder_period), { label: "Set Reminder" }, id: "reminder_at", class: "reminderat" %>
          <%= f.hidden_field :current_reminder, class: "current-reminder" %>
          <%= f.text_field :leaflet_goal, { label: "Define a goal or task (optional)", class: "leaflet-goal" } %>
          <%= f.text_area :leaflet_note, { label: "Notes (optional)", rows: 5, class: "leaflet-note" } %>
          <label class="score-label">Score/Rating</label>
          <text class="score centered" id="W1">0</text>
          <%= f.range_field :current_score, in: 0..100, step: "1", value: 0, hide_label: true, class: "modal-slider", id: "slider1" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Update Bookmark", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>