<!-- Modal -->
<div class="modal fade" id="copyLeafletModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Copy Bookmark</h4>
      </div>
      <%= bootstrap_form_for(@rake) do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :leaflet_id, class: "leaflet-id" %>
          <%= f.hidden_field :heap_id, class: "heap-id" %>
          <% rake_ids = current_user.myrakes.pluck(:id) %>
          <% rake_array = Myrake.where("id IN (?)", rake_ids).map { |rake| [rake.name, rake.master_rake.category_id] } %>
          <%= f.select :id, options_for_select(rake_array),
                { label: "Choose a Rake", include_blank: "Select a Rake" } %>
          <%= f.hidden_field :name, class: "rake-name" %>
          <% category_array = Category.pluck(:id, :desc) %>
          <% category_array.map! { |category| [category[0], CategoryLeafletTypeMap.where(category_id: category[0]).pluck(:leaflet_type_id).map { |leaflet_type| [LeafletType.find(leaflet_type).leaflet_type_desc, leaflet_type] }] } %>
          <%= f.select :leaflet_type_id, grouped_options_for_select(category_array), { label: "Bookmark category", include_blank: "Select a category" }, id: "leaflet-type-id" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button "Copy Bookmark",
                        class: "btn btn-primary",
                        name: "commit",
                        value: "Copy Bookmark",
                        data: { disable_with: "<i class='fa fa-spinner fa-spin white'></i> Copying..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>