<!-- Modal -->
<div class="modal fade" id="editLeafletModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Recommendation</h4>
      </div>
      <%= bootstrap_form_for(@rake) do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :leaflet_id, class: "leaflet-id" %>
          <%= f.hidden_field :heap_id, class: "heap-id" %>
          <%= f.hidden_field :collapse, class: "collapse-section" %>
          <%= f.text_area :leaflet_url, { label: "URL", disabled: true, class: "leaflet-url" } %>
          <%= f.text_field :leaflet_title, { label: "Recommendation Title", class: "leaflet-custom-title" } %>
          <%= f.text_area :leaflet_desc, { label: "Recommendation Description (optional)", class: "leaflet-description" } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Update Recommendation", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>