<!-- Modal -->
<div class="modal fade" id="newLeafletModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Recommendation</h4>
      </div>
      <%= bootstrap_form_for(@rake) do |f| %>
        <div class="modal-body">
          <%# if params[:heap_type].nil? || params[:heap_type].to_i == 0 %>
            <%# leaflet_type_array = LeafletType.where("id IN (?)", CategoryLeafletTypeMap.where("category_id IN (?)", @rake.master_rake.category_id).pluck(:leaflet_type_id)).map { |lt| [lt.leaflet_type_desc, lt.id] } %>
            <%# if !current_user.admin? %>
              <%# leaflet_type_array.delete_if { |x| x[1] == 15 } %>
            <%# end %>
            <div class="category-select">
              <%#= f.select :leaflet_type_id, options_for_select(leaflet_type_array), { label: "Choose a Recommendation Category" } %>
            </div>
          <%# else %>
            <%= f.hidden_field :leaflet_type_id, class: "leaflet-type-id" %>
          <%# end %>
          <%= f.hidden_field :heap_id, class: "heap-id" %>
          <%= f.hidden_field :collapse, class: "collapse-section" %>
          <%= f.text_field :leaflet_url, { disabled: true, label: "Recommended URL", class: "leaflet-url" } %>
          <%= f.text_field :leaflet_title, { label: "Recommendation Title", placeholder: "Automatically filled if empty*", class: "leaflet-custom-title" } %>
          <%= f.text_area :leaflet_desc, { label: "Recommendation Description (optional)", placeholder: "Automatically filled if empty*", class: "leaflet-description" } %>
          <h5>
            <small>*) You can add or change the title and description any time later as well.
          </h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Create Recommendation", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>