<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Save Leaflet</h4>
      </div>
      <%= bootstrap_form_for(@rake) do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :leaflet_id, class: "leaflet-id" %>
          <%= f.hidden_field :collapse, class: "collapse-section" %>
          <% leaflet_types_array = LeafletType.where("id IN (?)", CategoryLeafletTypeMap.where(category_id: MasterRake.find(@rake.master_rake_id).category_id).pluck(:leaflet_type_id)).map { |lt| [lt.leaflet_type_desc, lt.id] } %>
          <%= f.select :leaflet_type_id, options_for_select(leaflet_types_array), { label: "Choose a Recommendation Category" } %>
          <%= f.text_field :leaflet_title, { label: "Leaflet Title", class: "leaflet-custom-title" } %>
          <%= f.text_area :leaflet_desc, { label: "Leaflet Description (optional)" } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Save Leaflet", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>