<div class="panel panel-default">
  <div class="panel-heading panel-my-rakes">
    <h5 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion-overview" 
         href="#collapse-my-rakes">
         My Recommendation Rakes
      </a>
    </h5>
  </div>
  <div class="panel-collapse collapse in" id="collapse-my-rakes">
    <div class="panel-body">
      <% if @rakes.empty? %>
        Tutorial here...
      <% else %>
        <div class="col-md-6">
          <div class="thumbnail">
            <%= link_to new_master_rake_path, data: { 
                        toggle: "modal",
                        target: "#newMasterRakeModal",
                        user: current_user.id },
                        class: "masterrake-create" do %>
              <div class="caption">
                <%= image_tag("add_master_rake.png") %>
                <div class="rake-caption">
                  Add New Rake
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% @rakes.each do |r| %>
          <div class="col-md-6">
            <div class="thumbnail">
              <%= link_to myrake_path(r.id, refresh: "no") do %>
                <% master_rake = MasterRake.find(r.master_rake_id) %>
                <div class="caption load-rake" value="<%= r.id %>">
                  <% if master_rake.image_url.nil? || master_rake.image_url.empty? %>
                    <%= image_tag("no_image.png") %>
                  <% else %>
                    <%= image_tag(master_rake.image_url) %>
                  <% end %>
                  <div class="rake-caption">
                    <%= r.name %>
                    <span id="load-rake-<%= "#{r.id.to_s}" %>"></span>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <%= render 'master_rakes/new_modal' %>
<% end %>