<ul id="feed-list" class="leaflet-list">
  <% leaflet_duplication_array = [] %>
  <% @overdue_leaflets.each do |lm| %>
    <% l = Leaflet.find(lm.leaflet_id) %>
    <% if !leaflet_duplication_array.include? l.id %>
      <% leaflet_duplication_array << l.id %>
      <% myrake = lm.heap.myrake %>

      <li class="rake-show-list">
        <a class="pull-left" href="#">
          <% channel = Channel.find(l.channel_id) %>
          <% if channel.channel_type == 4 %>
            <%= image_tag "reddit-32.png", size: "16x16", class: "media-object img-feed-show" %>
          <% elsif channel.channel_type == 3 %>
            <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16", class: "media-object img-feed-show" %>
          <% else %>
            <% favicon_path = "http://www.google.com/s2/favicons?domain=" + channel.source %>
            <img class="media-object img-feed-show" src=<%= "#{favicon_path}" %> alt="media image">
          <% end %>
        </a>
        <div class="media-body">
          <span class="feed-timestamp">
            <%#= Channel.find(l.channel_id).name %>
            <%= link_to myrake.name, myrake_path(myrake) %>
            <%# if l.leaflet_type_id != 0 %>
              &nbsp;|&nbsp;
              <%#= LeafletType.find_by_leaflet_type(l.leaflet_type_id).leaflet_type_desc %>
              <%= link_to LeafletType.find_by_leaflet_type(lm.heap.leaflet_type_id).leaflet_type_desc,
                          myrake_path(myrake, collapse: "heap_" + lm.leaflet_type_id.to_s) %>
              <% if !l.created_by.nil? %>
                &nbsp;|&nbsp;
                added by <%= User.find(l.created_by).username %>
              <% end %>
            <%# end %>
            <span class="pull-right-menu new-rec-alert">
              <%= time_ago_in_words(lm.reminder_at) %> ago 
            </span>
          </span>
          <br>
          <span class="leaflet-title">
            <%= link_to l.title.html_safe, l.url, class: "external", value: l.id, target: "_blank" %>
          </span>
          <p class="feed-body">
            <% description = lm.leaflet_desc %>
            <% if !description.nil? %>
              <%= description %><br><br>
            <% end %>
            <% reminder_at = lm.reminder_at %>
            <% if reminder_at.nil? %>
              <% reminder_at = "no reminder" %>
            <% else %>
              <% reminder_at = reminder_at.to_formatted_s(:short) %>
            <% end %>
            <%= raw l.content unless l.content == "No content details to display." %>
          </p>
          <br>
          <span class="leaflet-metrics">
            Viewed <span class="v_count_<%= l.id %>"><%= l.view_count %></span>
            &nbsp;|&nbsp;
            Saved <span class="s_count_<%= l.id %>"><%= l.save_count %></span>
            &nbsp;|&nbsp;
            Deleted <span class="d_count_<%= l.id %>"><%= l.delete_count %></span>
          </span>
          <% if l.identifier.nil? %>
            <% modalType = "#editLeafletModal2" %>
          <% else %>
            <% modalType = "#editRestrictedLeafletModal2" %>
          <% end %>
          <span class="pull-right feed-button">
            <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Edit"></i>&nbsp;'.html_safe,
                        "#",
                        data: { toggle: "modal",
                                target: "#{modalType}",
                                id: l.id,
                                heapid: lm.heap.id,
                                collapse: "heap_" + "#{lm.heap.leaflet_type_id}",
                                title: l.title,
                                content: l.content,
                                description: description,
                                url: l.url,
                                reminder: reminder_at,
                                access: "full" },
                        :method => :put, 
                        :action => :update, 
                        remote: true,
                        class: "leaflet-edit" %>
          </span>
        </div>
        <hr>
      </li>
    <% end %>
  <% end %>
</ul>