<div class="row">
  <br>
  <div class="col-lg-6">
    <div class="thumbnail">
      <%= link_to new_master_rake_path, data: { 
                  toggle: "modal",
                  target: "#newMasterRakeModal",
                  category: "none",
                  user: current_user.id },
                  class: "masterrake-create" do %>
        <div class="media">
          <span class="pull-left">
            <%= image_tag("add_master_rake.png", size: "96x54") %>
          </span>
          <div class="media-body">
            <h5 class="media-heading">Add new Master Rake</h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% @rakes.each do |r| %>
    <div class="col-lg-6">
      <div class="thumbnail">
        <%= link_to myrake_path(r.id, refresh: "no") do %>
          <% master_rake = MasterRake.find(r.master_rake_id) %>
          <div class="media load-rake" value="<%= r.id %>">
            <span class="pull-left">
              <% if master_rake.image_url.nil? || master_rake.image_url.empty? %>
                <%= image_tag("no_image.png", size: "96x54") %>
              <% else %>
                <%= image_tag(master_rake.image_url, size: "96x54") %>
              <% end %>
            </span>
            <div class="media-body">
              <h5 class="media-heading"><%= r.name %></h5>
              <p>
                <%= pluralize(master_rake.myrakes.count, "Raker") %>
                &nbsp;|&nbsp;
                <%= pluralize(HeapLeafletMap.where("heap_id IN (?)", r.heaps.pluck(:id)).count, "Rec") %>
              </p>
              <p>
                <% new_count = MasterHeapLeafletMap.where("master_heap_id IN (?) AND created_at > ?", r.master_rake.master_heaps.pluck(:id), current_user.last_sign_in_at).count %>
                <span class="new-rec-alert">
                  <%= pluralize(new_count, "New Rec") unless new_count == 0 %>
                </span>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= render 'master_rakes/new_modal' %>
<% end %>