<div class="row">
  <% if @rakes.empty? %>
    <div class="col-md-12">
      <ul class="info-list">
        <li><strong>Create your personal rakes to manage your own bookmarks,</strong></li>
        <li><strong>to set reminders for your bookmarks</strong></li>
        <li><strong>to customize your own aggregated news feed for a specific topic</strong></li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <%= link_to master_rakes_path do %>
          <div class="media">
            <span class="pull-left">
              <%= image_tag("rakes_all.png", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Explore existing Master Rakes</h5>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <%= link_to new_master_rake_path, data: { 
                    toggle: "modal",
                    target: "#newMasterRakeModal",
                    category: "none",
                    user: current_user.id },
                    class: "masterrake-create" do %>
          <div class="media">
            <span class="pull-left">
              <%= image_tag("add_master_rake.png", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Add new Master Rake</h5>
              <p>
                Your contribution is highly appreciated!
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% @rakes.each do |r| %>
    <div class="col-md-12 col-lg-6">
      <div class="thumbnail">
        <%= link_to myrake_path(r) do %>
          <% master_rake = MasterRake.find(r.master_rake_id) %>
          <div class="media load-rake" value="<%= r.id %>">
            <span class="pull-left">
              <% if master_rake.image_url.nil? || master_rake.image_url.empty? %>
                <%= image_tag("no_image.png", size: "96x54") %>
              <% else %>
                <%= image_tag(master_rake.image_url, size: "96x54") %>
              <% end %>
            </span>
            <div class="media-body">
              <h5 class="media-heading"><%= r.name %></h5>
              <p>
                <%= master_rake.myrakes.count.to_s %>&nbsp;<i class="fa fa-user purple"></i>
                &nbsp;|&nbsp;
                <%= HeapLeafletMap.where("heap_id IN (?)", r.heaps.pluck(:id)).count.to_s %>
                <i class="fa fa-bookmark purple"></i>
                &nbsp;|&nbsp;
                <%= r.channels.count.to_s %>&nbsp;<i class="fa fa-rss purple"></i>
              </p>
              <p>
                <% new_count = MasterHeapLeafletMap.where("master_heap_id IN (?) AND created_at > ?", r.master_rake.master_heaps.pluck(:id), current_user.last_sign_in_at).count %>
                  <% if new_count == 0 %>
                    <% if !r.refreshed_at.nil? %>
                      <small>viewed: <%= time_ago_in_words(r.refreshed_at) %> ago</small>
                    <% end %>
                  <% else %>
                    <span class="new-rec-alert">
                      <%= pluralize(new_count, "New Bookmark") %>
                    </span>
                  <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>