<ul class="nav nav-tabs nav-thumbnails" role="tablist">
  <a href="#current-reminders" data-toggle="tab">
    <li class="col-md-6">
      <div class="thumbnail">
        <div class="media">
          <span class="pull-left">
            <p class="reminder-month">
              <%= Date.today.strftime("%B") %>
            </p>
            <p class="reminder-day">
              <%= Time.now.day %>
            </p>
          </span>
          <div class="media-body">
            <h5 class="media-heading">
              Reminders
              <span class="badge badge-reminders alert-danger"><%= (@other_overdue_leaflets.count + @top_overdue_leaflets.count).to_s %></span>
            </h5>
            <p>
            </p>
          </div>
        </div>
      </div>
    </li>
  </a>
  <%= link_to myrakes_path(collapse: "scheduled_reminders") do %>
    <li class="col-md-6">
      <div class="thumbnail">
        <div class="media">
          <span class="pull-left">
            <p class="reminder-month">
              Upcoming
            </p>
            <p class="reminder-day">
              >>
            </p>
          </span>
          <div class="media-body">
            <h5 class="media-heading">
              Scheduled
              <span class="badge badge-scheduled alert-warning"><%= @scheduled_leaflets.count.to_s %></span>
            </h5>
            <p>
            </p>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane <%= "active" unless @scheduled_reminders_collapse == "active" %>" id="current-reminders">
    <a class="anchor" name="current-reminders"></a>
    <% (@other_overdue_leaflets.count + @top_overdue_leaflets.count) > 0 ? empty_list = "hidden" : emtpy_list = "" %>
    <p class="centered <%= empty_list %>" id="empty-reminders">
      Yay, nothing here. You must be up-to-date with everything, check the news for inspirations!
    </p>
    <% if @top_overdue_leaflets.count > 0 %>
      <%= render 'toprake_overdue_recommendations' %>
      <br><br><br>
    <% end %>
    <% if @other_overdue_leaflets.count > 0 %>
      <%= render 'my_overdue_recommendations' %>
    <% end %>
    <br><br><br><br><br>
  </div>
  <div class="tab-pane <%= @scheduled_reminders_collapse %>" id="scheduled-reminders">
    <a class="anchor" name="scheduled-reminders"></a>
    <% @scheduled_leaflets.count > 0 ? empty_list = "hidden" : emtpy_list = "" %>
    <p class="centered <%= empty_list %>" id="empty-scheduled">
      Yay, nothing here. You must be up-to-date with everything, check the news for inspirations!
    </p>
    <%= render 'my_scheduled_recommendations' %>
    <br><br><br><br><br>
  </div>
</div>