<div class="row">
  <br>
  <% if @rakes.empty? %>
    <div class="col-md-12 col-lg-6">
      <span class="info-text">
        Get things done based on bookmarks. You get the most benefit by creating personal rakes. You can then add bookmarks with reminders. Start with exploring existing rakes. If you don't find a topic of your interest, you're welcome to create a new one! 
      </span>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="thumbnail">
        <%= link_to master_rakes_path do %>
          <div class="media">
            <span class="pull-left">
              <%= image_tag("rakes_all.png", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Explore existing Master Rakes</h5>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% @rakes.each do |r| %>
    <div class="col-md-12 col-lg-6">
      <div class="thumbnail">
        <%= link_to myrake_path(r) do %>
          <% master_rake = MasterRake.find(r.master_rake_id) %>
          <div class="media load-rake" value="<%= r.id %>">
            <span class="pull-left">
              <% if master_rake.image_url.nil? || master_rake.image_url.empty? %>
                <%= image_tag("no_image.png", size: "96x54") %>
              <% else %>
                <%= image_tag(master_rake.image_url, size: "96x54") %>
              <% end %>
            </span>
            <div class="media-body">
              <h5 class="media-heading"><%= r.name %></h5>
              <p>
                <%= pluralize(master_rake.myrakes.count, "Raker") %>
                &nbsp;|&nbsp;
                <%= pluralize(HeapLeafletMap.where("heap_id IN (?)", r.heaps.pluck(:id)).count, "Rec") %>
              </p>
              <p>
                <% new_count = MasterHeapLeafletMap.where("master_heap_id IN (?) AND created_at > ?", r.master_rake.master_heaps.pluck(:id), current_user.last_sign_in_at).count %>
                  <% if new_count == 0 %>
                    <% if !r.refreshed_at.nil? %>
                      <small>last news checked: <%= time_ago_in_words(r.refreshed_at) %> ago</small>
                    <% end %>
                  <% else %>
                    <span class="new-rec-alert">
                      <%= pluralize(new_count, "New Rec") %>
                    </span>
                  <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= render 'master_rakes/new_modal' %>
<% end %>