<div class="row">
  <% if @rakes.empty? %>
    <div class="col-md-12">
      <h3 class="centered">Welcome, <%= current_user.username %></h2>
      <p class="centered">
      Create a rake to start the Rakepage experience:
      </p>
      <ul class="info-list">
        <li class="centered">Manage and read your customized news feed.</li>
        <li class="centered">Save your bookmarks in pre-defined categories.
        <li class="centered">Discover what other people find on the Internet.</li>
        <li class="centered">Set reminders for your bookmarks.</li>
      </ul>
      <br>
      <br>
      <p class="centered">
      To create a rake, start with choosing a topic here:
      </p>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= link_to "View Topics", master_rakes_path, class: "btn btn-primary btn-lg centered" %>
        </div>
      </div>
      <br><br><br><br>
    </div>
  <% end %>
  <% @rakes.each do |r| %>
    <div class="col-md-12 col-lg-6">
      <div class="thumbnail">
        <%= link_to myrake_path(r) do %>
          <% master_rake = MasterRake.find(r.master_rake_id) %>
          <div class="media load-rake" value="<%= r.id %>">
            <span class="pull-left">
              <% if master_rake.image_url.nil? || master_rake.image_url.empty? %>
                <%= image_tag("no_image.png", size: "96x54") %>
              <% else %>
                <%= image_tag(master_rake.image_url, size: "96x54") %>
              <% end %>
            </span>
            <div class="media-body">
              <h5 class="media-heading"><%= r.name %></h5>
              <p>
                <%= master_rake.myrakes.count.to_s %>&nbsp;<i class="fa fa-user purple"></i>
                &nbsp;|&nbsp;
                <%= HeapLeafletMap.where("heap_id IN (?)", r.heaps.pluck(:id)).count.to_s %>
                <i class="fa fa-bookmark purple"></i>
                &nbsp;|&nbsp;
                <%= r.channels.count.to_s %>&nbsp;<i class="fa fa-rss purple"></i>
              </p>
              <p>
                <% new_count = MasterHeapLeafletMap.where("master_heap_id IN (?) AND created_at > ?", r.master_rake.master_heaps.pluck(:id), current_user.last_sign_in_at).count %>
                  <% if new_count == 0 %>
                    <% if !r.refreshed_at.nil? %>
                      <small>viewed: <%= time_ago_in_words(r.refreshed_at) %> ago</small>
                    <% end %>
                  <% else %>
                    <span class="new-rec-alert">
                      <%= pluralize(new_count, "New Bookmark") %>
                    </span>
                  <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>