<!-- Nav tabs -->
<div class="row">
  <ul class="nav nav-tabs nav-thumbnails" role="tablist">
    <li class="col-lg-6">
      <%= link_to master_rake_path(@rake.master_rake_id) do %>
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag(@rake.master_rake.image_url, size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Master Rake</h5>
            </div>
          </div>
        </div>
      <% end %>
    </li>
    <li class="<%= @stats_collapse %> col-lg-6">
      <a href="#stats" role="tab" data-toggle="tab">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag("charts.png", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Stats</h5>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="<%= @feed_collapse %> col-lg-6">
      <a href="#feed" role="tab" data-toggle="tab">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag("newsfeed.jpg", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">News</h5>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="col-lg-6">
      <a href="#channels" data-toggle="tab">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag("channels.jpg", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Blogs & Subreddits</h5>
              <p>
                <%= pluralize(@rake.channels.where("channel_type <> 3 AND channel_type <> 5").count, "Channel") %>
              </p>
            </div>
          </div>
        </div>
      </a>
    </li>

    <% @leaflet_types.each do |lt| %>
      <% if @heaps.pluck(:leaflet_type_id).include? lt %>
        <% heap = @heaps.find_by_leaflet_type_id(lt) %>
      <% end %>
      <% leaflet_type = LeafletType.find_by_leaflet_type(lt) %>
      <% leaflet_type_desc = leaflet_type.leaflet_type_desc %>
      <li class="<%= @heap_collapse if @heap_id == heap.leaflet_type_id.to_s %> col-lg-6">
        <a href="#heap_<%= leaflet_type_desc.gsub(/\W/, "") %>" data-toggle="tab">
          <div class="thumbnail">
            <div class="media">
            <span class="pull-left">
              <%= image_tag(leaflet_type.image_url, size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading"><%= leaflet_type_desc %></h5>
              <p><%= pluralize(heap.leaflets.count, "Recommendation") if !heap.nil? %></p>
            </div>
            </div>
          </div>
        </a>
      </li>
    <% end %>

  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane <%= @stats_collapse %>" id="stats">
    <br>
    <h5><small>Most active Co-Rakers</small></h5>
    <% data = MasterRake.find(@rake.master_rake_id).get_corakers.first(5) %>
    <% if data.count == 0 %>
      <% chart_height = "30px" %>
    <% else %>
      <% chart_height = (data.count * 40).to_s + "px" %>
    <% end %>
    <%= bar_chart data, { height: "#{chart_height}", library: { colors: ['#6e2384'], title: "# of Recommendations", chartArea: { top: 20, bottom: 10, left: 100 }, vAxis: { format: "#" }}} %>
  </div>
  <div class="tab-pane <%= @feed_collapse %>" id="feed">
    <%= render 'feed' %>
  </div>
  <div class="tab-pane" id="channels">
    <%= render 'channels' %>
  </div>

  <% @leaflet_types.each do |lt| %>
    <% if @heaps.pluck(:leaflet_type_id).include? lt %>
      <% heap = @heaps.find_by_leaflet_type_id(lt) %>
    <% end %>
    <% leaflet_type = LeafletType.find_by_leaflet_type(lt) %>
    <% leaflet_type_desc = leaflet_type.leaflet_type_desc %>
    <div class="tab-pane <%= @heap_collapse if @heap_id == heap.leaflet_type_id.to_s %>" id="heap_<%= leaflet_type_desc.gsub(/\W/, "") %>">
      <h5><%= leaflet_type_desc %></h5>
      <% if user_signed_in? && @rake.user_id == current_user.id %>
        <% if lt != 15 %>
          <%= link_to "Add recommendation", new_leaflet_path, 
                      data: {
                        toggle: "modal",
                        target: "#newLeafletModal",
                        heapid: heap.id,
                        collapse: "heap_" + "#{heap.leaflet_type_id}",
                        typeid: lt
                      },
                      class: "btn btn-xs btn-primary leaflet-create" %>
        <% else %>
          <% if current_user.admin? %>
            <%= link_to "Add recommendation", new_leaflet_path, 
                        data: {
                          toggle: "modal",
                          target: "#newLeafletModal",
                          heapid: heap.id,
                          collapse: "heap_" + "#{heap.leaflet_type_id}",
                          typeid: lt
                        },
                        class: "btn btn-xs btn-primary leaflet-create" %>
          <% end %>
        <% end %>
      <% else %>
        <% if lt != 15 %>
          <%= link_to "Add recommendation", new_user_session_path, class: "btn btn-xs btn-primary" %>
        <% end %>
      <% end %>
      <br><br>
      <% if @heaps.pluck(:leaflet_type_id).include? lt %>
        <ul id="feed-list" class="leaflet-list">
          <% heap.leaflets.order("published_at DESC").each do |l| %>
            <% channel = Channel.find(l.channel_id) %>
            <a class="anchor" id="<%= 'leaflet_' + l.id.to_s %>"></a>
            <li class="rake-show-list" id="<%= "leaflet_" + l.id.to_s %>">
              <% if channel.channel_type == 4 %>
                <% reddit_link = "http://reddit.com/" + l.identifier %>
              <% else %>
                <% reddit_link = "#" %>
              <% end %>
              <a class="pull-left" href=<%= reddit_link %> target="_blank">
                <% if channel.channel_type == 4 %>
                  <%= image_tag "reddit-32.png", size: "16x16", class: "media-object img-feed-show" %>
                <% elsif channel.channel_type == 3 %>
                  <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16", class: "media-object img-feed-show" %>
                <% else %>
                  <% favicon_path = "http://www.google.com/s2/favicons?domain=" + channel.source %>
                  <img class="media-object img-feed-show" src=<%= "#{favicon_path}" %> alt="media image">
                <% end %>
              </a>
              <div class="media-body">
                <span class="feed-timestamp">
                  <% channel_name = channel.name %>
                  <% if channel_name == "Title not available." %>
                    <% channel_name = channel.source %>
                  <% end %>
                  Channel: <%= channel_name %>
                  <% heap_leaflet = "" %>
                  <% HeapLeafletMap.where("leaflet_id = ?", l.id).each do |hl| %>
                    <% if hl.heap.myrake.user_id == @rake.user_id && hl.heap.leaflet_type_id == lt %>
                      <% heap_leaflet = hl %>
                    <% end %>
                  <% end %>
                  <% if !l.created_by.nil? %>
                    &nbsp;|&nbsp;
                    added by <%= User.find(l.created_by).username %>
                  <% end %>
                  <span class="pull-right">
                    <% if !l.published_at.nil? %>
                      <%= time_ago_in_words(l.published_at) %> ago 
                    <% else %>
                      <%= time_ago_in_words(l.created_at) %> ago 
                    <% end %>
                    <%#= link_to '<i class="fa fa-trash-o"></i>'.html_safe, 
                          remove_leaflet_heap_path(heap, leaflet_id: l.id),
                          :data => { :confirm => "Are you sure?" },
                          :method => :get, remote: true %>
                  </span>
                </span>
                <br>
                <span class="leaflet-title">
                  <% if heap_leaflet != "" %>
                    <% title = heap_leaflet.leaflet_title %>
                    <% if !title.nil? %>
                      <% if lt == 15 %>
                        <%= link_to title, l.url, class: "external", value: l.id %>
                      <% else %>
                        <%= link_to title, l.url, class: "external", value: l.id, target: "_blank" %>
                      <% end %>
                    <% else %>
                      <% if lt == 15 %>
                        <%= link_to title, l.url, class: "external", value: l.id %>
                      <% else %>
                        <%= link_to title, l.url, class: "external", value: l.id, target: "_blank" %>
                      <% end %>
                    <% end %>
                  <% end %>
                </span>
                <!-- <p class="feed-body"><%#= highlight(l.content.html_safe, @rake_filter.split(",")) %></p> -->
                <p class="feed-body">
                  <% if heap_leaflet != "" %>
                    <% description = heap_leaflet.leaflet_desc %>
                    <% if !description.nil? %>
                      <span class="feed-timestamp"><%= description %></span>
                    <% end %>
                  <% end %>
                  <% content = l.content.gsub(/\<a href=["'](.*?)["']\>(.*?)\<\/a\>/mi, '<a href="\1" target="_blank" >\2</a>') %>
                  <% content = content.gsub(/<a href=\"\/r\//, '<a href="http://reddit.com/r/') %>
                  <% content = content.gsub(/<a href=\"\/u\//, '<a href="http://reddit.com/u/') %>
                  <p><%= raw content unless l.content == description %></p>
                </p>
                <br>
                <span class="leaflet-metrics">
                  Viewed <span class="v_count_<%= l.id %>"><%= l.view_count %></span>
                  &nbsp;|&nbsp;
                  Saved <span class="s_count_<%= l.id %>"><%= l.save_count %></span>
                  &nbsp;|&nbsp;
                  Deleted <span class="d_count_<%= l.id %>"><%= l.delete_count %></span>
                </span>
                <span class="pull-right">

                <% if user_signed_in? %>
                  <% if @rake.user_id == current_user.id %>
                    <% if l.identifier.nil? %>
                      <% modalType = "#editLeafletModal" %>
                    <% else %>
                      <% modalType = "#editRestrictedLeafletModal" %>
                    <% end %>
                    <span class="feed-button">
                      <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Edit"></i>'.html_safe,
                                  "#",
                                  data: { toggle: "modal",
                                          target: "#{modalType}",
                                          id: l.id,
                                          heapid: heap.id,
                                          collapse: "heap_" + "#{heap.leaflet_type_id}",
                                          title: l.title,
                                          content: l.content,
                                          description: description,
                                          url: l.url,
                                          access: "full" },
                                  :method => :put, 
                                  :action => :update, 
                                  remote: true,
                                  class: "leaflet-edit" %>
                    </span>
                    &nbsp;
                    <span class="feed-button">
                      <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-long-arrow-right" data-toggle="tooltip" data-placement="top" title="Move"></i>'.html_safe, "#", data: { toggle: "modal", target: "#moveLeafletModal", id: l.id, heapid: heap.id, title: l.title }, :method => :put, :action => :update, remote: true, class: "leaflet-move" %>
                    </span>
                    &nbsp;
                    <span class="feed-button">
                      <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete"></i>'.html_safe, 
                            remove_leaflet_heap_path(heap, leaflet_id: l.id),
                            :data => { :confirm => "Are you sure?" },
                            :method => :get, remote: true %>
                    </span>
                  <% else %>
                    <span class="feed-button">
                      <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save"></i>'.html_safe, new_myrake_path, 
                                  data: { toggle: "modal", target: "#newCustomRakeAddLeafletModal", id: l.id, title: l.title }, class: "leaflet-save" %>
                    </span>
                  <% end %>
                <% end %>
                &nbsp;
                </span>
              </div>
              <hr>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>