<% @new_channels = MasterRake.find(@rake.master_rake_id).channels
                            .where("channel_type <> 3 AND channel_type <> 5")
                            .order("created_at DESC")
                            .limit(5) %>

<!-- Nav tabs -->
<div class="row">
  <ul class="nav nav-tabs nav-thumbnails" role="tablist">
    <%= link_to master_rake_path(@rake.master_rake_id) do %>
      <li class="col-md-12 col-lg-6">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag(@rake.master_rake.image_url, size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">View Master Rake</h5>
            </div>
          </div>
        </div>
      </li>
    <% end %>
    
    <a href="#stats" role="tab" data-toggle="tab">
      <li class="<%= @stats_collapse %> col-md-12 col-lg-6">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag("charts.png", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Related Rakes & Stats</h5>
              <p>
                <%= (@parent_master_rakes.count + @sibling_master_rakes.count + @children_master_rakes.count).to_s %>
                Rakes (
                <i class="fa fa-level-up"></i>&nbsp;<%= @parent_master_rakes.count.to_s %>&nbsp;|&nbsp;
                <i class="fa fa-long-arrow-right"></i>&nbsp;<%= @sibling_master_rakes.count.to_s %>&nbsp;|&nbsp;
                <i class="fa fa-level-down"></i>&nbsp;<%= @children_master_rakes.count.to_s %>
                )
              </p>
              <p>
                <%= pluralize(@rake.master_rake.myrakes.count, "Co-Raker") %>
                &nbsp;|&nbsp;
                <%= pluralize(@heap_leaflets.count, 
                              "Rec") %>
              </p>
            </div>
          </div>
        </div>
      </li>
    </a>
    <a href="#feed" role="tab" data-toggle="tab">
      <li class="<%= @feed_collapse %> col-md-6" id="test">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag("newsfeed.jpg", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">
                News
                <small>
                  <% if !@rake.refreshed_at.nil? %>
                    <%= "updated: " + time_ago_in_words(@rake.refreshed_at) + " ago" %>
                  <% else %>
                    (never updated)
                  <% end %>
                </small>
              </h5>
              <p>
                <%= pluralize(@feed_leaflets.count, "Post") %>
              </p>
              <p>
                <% if user_signed_in? %>
                  <% new_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?) AND created_at > ?", 
                                                            @rake.master_rake.master_heaps.pluck(:id), 
                                                            current_user.last_sign_in_at).pluck(:leaflet_id) %>
                  <% new_leaflets -= @leaflet_ids %>
                  <% new_count = new_leaflets.count %>
                  <span class="new-rec-alert">
                    <%= pluralize(new_count, "New Rec") unless new_count == 0 %>
                  </span>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </li>
    </a>
    <a href="#channels" data-toggle="tab">
      <li class="col-md-6">
        <div class="thumbnail">
          <div class="media">
            <span class="pull-left">
              <%= image_tag("channels.jpg", size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading">Blogs & Subreddits</h5>
              <p>
                <%= pluralize(@rake.channels.where("channel_type <> 3 AND channel_type <> 5").count, "Channel") %>
              </p>
              <p>
                <% if user_signed_in? %>
                  <% new_count = @new_channels.where("created_at > ?", current_user.last_sign_in_at) %>
                  <% new_count -= @rake.channels %>
                  <% new_count = new_count.count %>
                  <span class="new-rec-alert">
                    <%= pluralize(new_count, " New Channel") unless new_count == 0 %>
                  </span>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </li>
    </a>

    <% @leaflet_types.each do |lt| %>
      <% if @heaps.pluck(:leaflet_type_id).include? lt %>
        <% heap = @heaps.find_by_leaflet_type_id(lt) %>
      <% end %>
      <% leaflet_type = LeafletType.find_by_leaflet_type(lt) %>
      <% leaflet_type_desc = leaflet_type.leaflet_type_desc %>
      <a href="#heap_<%= leaflet_type_desc.gsub(/\W/, "") %>" data-toggle="tab">
        <li class="<%= @heap_collapse if @heap_id == heap.leaflet_type_id.to_s %> col-md-6">
          <div class="thumbnail">
            <div class="media">
            <span class="pull-left">
              <%= image_tag(leaflet_type.image_url, size: "96x54") %>
            </span>
            <div class="media-body">
              <h5 class="media-heading"><%= leaflet_type_desc %></h5>
              <p><%= pluralize(heap.leaflets.count, "Rec") if !heap.nil? %></p>
              <p>
                <%# new_count = MasterHeapLeafletMap.where("master_heap_id = ? AND created_at > ?", 
                                                          @rake.master_rake.master_heaps.find_by_leaflet_type_id(lt), 
                                                          current_user.last_sign_in_at).count %>
                <span class="new-rec-alert">
                  <%#= pluralize(new_count, "New Rec") unless new_count == 0 %>
                </span>
              </p>
            </div>
            </div>
          </div>
        </li>
      </a>
    <% end %>

  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane <%= @stats_collapse %>" id="stats">
    <div class="row">
      <div class="col-md-12">
        <a class="anchor" name="stats"></a>
        <h5>Related Rakes & Stats</h5>
      </div>
    </div>

    <% if @parent_master_rakes.count > 0 %>
      <div class="row">
        <div class="col-md-12">
          <h5><small><i class="fa fa-level-up"></i> Parent Rakes</small></h5>
        </div>
      </div>
      <div class="row">
        <% @parent_master_rakes.each do |pmr| %>
          <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", pmr.master_heaps.pluck(:id)) %>
          <% if user_signed_in? %>
            <% if pmr.myrakes.pluck(:user_id).include? current_user.id %>
              <%= link_to myrake_path(pmr.myrakes.find_by_user_id(current_user.id)) do %>
                <div class="col-md-6">
                  <div class="thumbnail">
                    <div class="media">
                      <span class="pull-left">
                        <%= image_tag(pmr.image_url, size: "96x54") %>
                      </span>
                      <div class="media-body">
                        <h5 class="media-heading">
                          <% if user_signed_in? %>
                            <% if pmr.myrakes.pluck(:user_id).include? current_user.id %>
                              <i class="fa fa-star"></i>
                            <% end %>
                          <% end %>
                          <%= pmr.name %>
                        </h5>
                        <p>
                          <%= pluralize(pmr.myrakes.count, "Raker") %>
                          &nbsp;|&nbsp;
                          <%= pluralize(MasterHeapLeafletMap.where("master_heap_id IN (?)", pmr.master_heaps.pluck(:id)).count,
                                        "Rec") %>
                        </p>
                        <p>
                          <span class="new-rec-alert">
                            <% user_rake = pmr.myrakes.find_by_user_id(current_user.id) %>
                            <% if !user_rake.nil? %>
                              <% new_channels = pmr.channels.where("channel_type <> 3 AND channel_type <> 5 AND created_at > ?", current_user.last_sign_in_at ) %>
                              <% new_channels -= user_rake.channels %>
                              <% @new_count = new_channels.count %>
                              <%= pluralize(@new_count, "New Channel") unless @new_count == 0 %>
                              <% new_count = master_leaflets.where("created_at > ?", current_user.last_sign_in_at).count %>
                              <% if @new_count > 0 && new_count > 0 %>
                                &nbsp;|&nbsp;
                              <% end %>
                              <%= pluralize(new_count, "New Rec") unless new_count == 0 %>
                            <% end %>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <%= link_to master_rake_path(pmr) do %>
                <div class="col-md-6">
                  <div class="thumbnail">
                    <div class="media">
                      <span class="pull-left">
                        <%= image_tag(pmr.image_url, size: "96x54") %>
                      </span>
                      <div class="media-body">
                        <h5 class="media-heading">
                          <% if user_signed_in? %>
                            <% if pmr.myrakes.pluck(:user_id).include? current_user.id %>
                              <i class="fa fa-star"></i>
                            <% end %>
                          <% end %>
                          <%= pmr.name %>
                        </h5>
                        <p>
                          <%= pluralize(pmr.myrakes.count, "Raker") %>
                          &nbsp;|&nbsp;
                          <%= pluralize(MasterHeapLeafletMap.where("master_heap_id IN (?)", pmr.master_heaps.pluck(:id)).count, "Rec") %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to master_rake_path(pmr) do %>
              <div class="col-md-6">
                <div class="thumbnail">
                  <div class="media">
                    <span class="pull-left">
                      <%= image_tag(pmr.image_url, size: "96x54") %>
                    </span>
                    <div class="media-body">
                      <h5 class="media-heading">
                        <% if user_signed_in? %>
                          <% if pmr.myrakes.pluck(:user_id).include? current_user.id %>
                            <i class="fa fa-star"></i>
                          <% end %>
                        <% end %>
                        <%= pmr.name %>
                      </h5>
                      <p>
                        <%= pluralize(pmr.myrakes.count, "Raker") %>
                        &nbsp;|&nbsp;
                        <%= pluralize(MasterHeapLeafletMap.where("master_heap_id IN (?)", pmr.master_heaps.pluck(:id)).count, "Rec") %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @sibling_master_rakes.count > 0 %>
      <div class="row">
        <div class="col-md-12">
          <h5><small><i class="fa fa-long-arrow-right"></i> Sibling Rakes</small></h5>
        </div>
      </div>
      <div class="row">
        <% @sibling_master_rakes.each do |smr| %>
          <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", smr.master_heaps.pluck(:id)) %>
          <% if user_signed_in? %>
            <% if smr.myrakes.pluck(:user_id).include? current_user.id %>
              <%= link_to myrake_path(smr.myrakes.find_by_user_id(current_user.id)) do %>
                <div class="col-md-6">
                  <div class="thumbnail">
                    <div class="media">
                      <span class="pull-left">
                        <%= image_tag(smr.image_url, size: "96x54") %>
                      </span>
                      <div class="media-body">
                        <h5 class="media-heading">
                          <% if user_signed_in? %>
                            <% if smr.myrakes.pluck(:user_id).include? current_user.id %>
                              <i class="fa fa-star"></i>
                            <% end %>
                          <% end %>
                          <%= smr.name %>
                        </h5>
                        <p>
                          <%= pluralize(smr.myrakes.count, "Raker") %>
                          &nbsp;|&nbsp;
                          <%= pluralize(MasterHeapLeafletMap.where("master_heap_id IN (?)", smr.master_heaps.pluck(:id)).count, "Rec") %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <%= link_to master_rake_path(smr) do %>
                <div class="col-md-6">
                  <div class="thumbnail">
                    <div class="media">
                      <span class="pull-left">
                        <%= image_tag(smr.image_url, size: "96x54") %>
                      </span>
                      <div class="media-body">
                        <h5 class="media-heading">
                          <% if user_signed_in? %>
                            <% if smr.myrakes.pluck(:user_id).include? current_user.id %>
                              <i class="fa fa-star"></i>
                            <% end %>
                          <% end %>
                          <%= smr.name %>
                        </h5>
                        <p>
                          <%= pluralize(smr.myrakes.count, "Raker") %>
                          &nbsp;|&nbsp;
                          <%= pluralize(MasterHeapLeafletMap.where("master_heap_id IN (?)", smr.master_heaps.pluck(:id)).count, "Rec") %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to master_rake_path(smr) do %>
              <div class="col-md-6">
                <div class="thumbnail">
                  <div class="media">
                    <span class="pull-left">
                      <%= image_tag(smr.image_url, size: "96x54") %>
                    </span>
                    <div class="media-body">
                      <h5 class="media-heading">
                        <% if user_signed_in? %>
                          <% if smr.myrakes.pluck(:user_id).include? current_user.id %>
                            <i class="fa fa-star"></i>
                          <% end %>
                        <% end %>
                        <%= smr.name %>
                      </h5>
                      <p>
                        <%= pluralize(smr.myrakes.count, "Raker") %>
                        &nbsp;|&nbsp;
                        <%= pluralize(MasterHeapLeafletMap.where("master_heap_id IN (?)", smr.master_heaps.pluck(:id)).count, "Rec") %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @children_master_rakes.count > 0 %>
      <div class="row">
        <div class="col-md-12">
          <h5><small><i class="fa fa-level-down"></i> Children Rakes</small></h5>
        </div>
      </div>
      <div class="row">
        <% @children_master_rakes.each do |cmr| %>
          <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", cmr.master_heaps.pluck(:id)) %>
          <% if user_signed_in? %>
            <% if cmr.myrakes.pluck(:user_id).include? current_user.id %>
              <%= link_to myrake_path(cmr.myrakes.find_by_user_id(current_user.id)) do %>
                <div class="col-md-6">
                  <div class="thumbnail">
                    <div class="media">
                      <span class="pull-left">
                        <%= image_tag(cmr.image_url, size: "96x54") %>
                      </span>
                      <div class="media-body">
                        <h5 class="media-heading">
                          <% if user_signed_in? %>
                            <% if cmr.myrakes.pluck(:user_id).include? current_user.id %>
                              <i class="fa fa-star"></i>
                            <% end %>
                          <% end %>
                          <%= cmr.name %>
                        </h5>
                        <p>
                          <%= pluralize(cmr.myrakes.count, "Raker") %>
                          &nbsp;|&nbsp;
                          <%= pluralize(MasterHeapLeafletMap.where("master_heap_id IN (?)", cmr.master_heaps.pluck(:id)).count, "Rec") %>
                        </p>
                        <p>
                          <span class="new-rec-alert">
                            <% user_rake = cmr.myrakes.find_by_user_id(current_user.id) %>
                            <% if !user_rake.nil? %>
                              <% new_channels = cmr.channels.where("channel_type <> 3 AND channel_type <> 5 AND created_at > ?", current_user.last_sign_in_at ) %>
                              <% new_channels -= user_rake.channels %>
                              <% @new_count = new_channels.count %>
                              <%= pluralize(@new_count, "New Channel") unless @new_count == 0 %>
                              <% new_count = master_leaflets.where("created_at > ?", current_user.last_sign_in_at).count %>
                              <% if @new_count > 0 && new_count > 0 %>
                                &nbsp;|&nbsp;
                              <% end %>
                              <%= pluralize(new_count, "New Rec") unless new_count == 0 %>
                            <% end %>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <%= link_to master_rake_path(cmr) do %>
                <div class="col-md-6">
                  <div class="thumbnail">
                    <div class="media">
                      <span class="pull-left">
                        <%= image_tag(cmr.image_url, size: "96x54") %>
                      </span>
                      <div class="media-body">
                        <h5 class="media-heading">
                          <% if user_signed_in? %>
                            <% if cmr.myrakes.pluck(:user_id).include? current_user.id %>
                              <i class="fa fa-star"></i>
                            <% end %>
                          <% end %>
                          <%= cmr.name %>
                        </h5>
                        <p>
                          <%= pluralize(cmr.myrakes.count, "Raker") %>
                          &nbsp;|&nbsp;
                          <%= pluralize(MasterHeapLeafletMap.where("master_heap_id IN (?)", cmr.master_heaps.pluck(:id)).count,
                                        "Rec") %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to master_rake_path(cmr) do %>
              <div class="col-md-6">
                <div class="thumbnail">
                  <div class="media">
                    <span class="pull-left">
                      <%= image_tag(cmr.image_url, size: "96x54") %>
                    </span>
                    <div class="media-body">
                      <h5 class="media-heading">
                        <% if user_signed_in? %>
                          <% if cmr.myrakes.pluck(:user_id).include? current_user.id %>
                            <i class="fa fa-star"></i>
                          <% end %>
                        <% end %>
                        <%= cmr.name %>
                      </h5>
                      <p>
                        <%= pluralize(cmr.myrakes.count, "Raker") %>
                        &nbsp;|&nbsp;
                        <%= pluralize(MasterHeapLeafletMap.where("master_heap_id IN (?)", cmr.master_heaps.pluck(:id)).count,
                                      "Rec") %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    
    <h5><small>Most active Co-Rakers</small></h5>
    <% data = MasterRake.find(@rake.master_rake_id).get_corakers.first(5) %>
    <% if data.count == 0 %>
      <% chart_height = "30px" %>
    <% else %>
      <% chart_height = (data.count * 40).to_s + "px" %>
    <% end %>
    <%= bar_chart data, { height: "#{chart_height}", library: { colors: ['#6e2384'], title: "# of Recommendations", chartArea: { top: 20, bottom: 10, left: 100 }, vAxis: { format: "#" }}} %>
  </div>
  
  <div class="tab-pane <%= @feed_collapse %>" id="feed">
    <a class="anchor" name="feed"></a>
    <%= render 'feed' %>
  </div>
  <div class="tab-pane" id="channels">
    <a class="anchor" name="channels"></a>
    <%= render 'channels' %>
  </div>

  <% @leaflet_types.each do |lt| %>
    <% if @heaps.pluck(:leaflet_type_id).include? lt %>
      <% heap = @heaps.find_by_leaflet_type_id(lt) %>
    <% end %>
    <% leaflet_type = LeafletType.find_by_leaflet_type(lt) %>
    <% leaflet_type_desc = leaflet_type.leaflet_type_desc %>
    <div class="tab-pane <%= @heap_collapse if @heap_id == heap.leaflet_type_id.to_s %>" id="heap_<%= leaflet_type_desc.gsub(/\W/, "") %>">
      <a class="anchor" name="heap_<%= leaflet_type_desc.gsub(/\W/, "") %>"></a>
      <h5>
        <%= leaflet_type_desc %>
        <small><%= link_to "Add Recommendation", "#", class: "add-recommendation" %></small>
      </h5>
      <div class="add-recommendation-form">
        <% if user_signed_in? && @rake.user_id == current_user.id %>
          <% if lt != 15 %>

            <%#= bootstrap_form_for(Leaflet.new, layout: :inline) do |f| %>
              <%#= f.text_field :url, { hide_label: true, label: "Add a new recommendation", placeholder: "Enter a valid URL (http://...)", id: "url-#{lt}"} %>
            <%= form_tag Leaflet.new do %>
              <div class="input-group">
                <input type="text" class="form-control url-input" id="url-<%= lt.to_s %>" placeholder="Enter URL (http://...)">
                <span class="input-group-btn">
                  <%= link_to "Go!", "#", 
                              data: {
                                toggle: "modal",
                                target: "#newLeafletModal",
                                heapid: heap.id,
                                collapse: "heap_" + "#{heap.leaflet_type_id}",
                                typeid: lt
                              },
                              class: "btn btn-primary leaflet-create", id: "js-test", remote: true %>
                </span>
              </div>
            <% end %>
            <br><br>
          <% else %>
            <% if current_user.admin? %>
              <%= form_tag Leaflet.new do %>
                <div class="input-group">
                  <input type="text" class="form-control url-input" id="url-<%= lt.to_s %>" placeholder="Enter URL (http://...)">
                  <span class="input-group-btn">
                    <%= link_to "Go!", "#", 
                                data: {
                                  toggle: "modal",
                                  target: "#newLeafletModal",
                                  heapid: heap.id,
                                  collapse: "heap_" + "#{heap.leaflet_type_id}",
                                  typeid: lt
                                },
                                class: "btn btn-primary leaflet-create inline-group-btn", id: "js-test", remote: true %>
                  </span>
                </div>
              <% end %>
            <% end %>
            <br><br>
          <% end %>
        <% else %>
          <% if lt != 15 %>
            <%= link_to "Go!", new_user_session_path, class: "btn btn-xs btn-primary" %>
          <% end %>
        <% end %>
      </div>

      <% if @heaps.pluck(:leaflet_type_id).include? lt %>
        <ul id="feed-list" class="leaflet-list">
          <% heap.leaflets.order("published_at DESC").each do |l| %>
            <% channel = Channel.find(l.channel_id) %>
            <a class="anchor" id="<%= 'anchor_leaflet_' + lt.to_s + '_' + l.id.to_s %>"></a>
            <li class="rake-show-list" id="<%= "leaflet_" + l.id.to_s %>">
              <% if channel.channel_type == 4 %>
                <% reddit_link = "http://reddit.com/" + l.identifier %>
              <% else %>
                <% reddit_link = "#" %>
              <% end %>
              <a class="pull-left" href=<%= reddit_link %> target="_blank">
                <% if channel.channel_type == 4 %>
                  <%= image_tag "reddit-32.png", size: "16x16", class: "media-object img-feed-show" %>
                <% elsif channel.channel_type == 3 %>
                  <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16", class: "media-object img-feed-show" %>
                <% else %>
                  <% favicon_path = "http://www.google.com/s2/favicons?domain=" + channel.source %>
                  <img class="media-object img-feed-show" src=<%= "#{favicon_path}" %> alt="media image">
                <% end %>
              </a>
              <div class="media-body">
                <span class="feed-timestamp">
                  <% channel_name = channel.name %>
                  <% if channel_name == "Title not available." %>
                    <% channel_name = channel.source %>
                  <% end %>
                  Channel: <%= channel_name %>
                  <% heap_leaflet = "" %>
                  <% HeapLeafletMap.where("leaflet_id = ?", l.id).each do |hl| %>
                    <% if hl.heap.myrake.user_id == @rake.user_id && hl.heap.leaflet_type_id == lt %>
                      <% heap_leaflet = hl %>
                    <% end %>
                  <% end %>
                  <% if !l.created_by.nil? %>
                    &nbsp;|&nbsp;
                    added by <%= User.find(l.created_by).username %>
                  <% end %>
                  <span class="pull-right">
                    <% if !l.published_at.nil? %>
                      <%= time_ago_in_words(l.published_at) %> ago 
                    <% else %>
                      <%= time_ago_in_words(l.created_at) %> ago 
                    <% end %>
                    <%#= link_to '<i class="fa fa-trash-o"></i>'.html_safe, 
                          remove_leaflet_heap_path(heap, leaflet_id: l.id),
                          :data => { :confirm => "Are you sure?" },
                          :method => :get, remote: true %>
                  </span>
                </span>
                <br>
                <span class="leaflet-title">
                  <% if heap_leaflet != "" %>
                    <% title = heap_leaflet.leaflet_title %>
                    <% if !title.nil? %>
                      <% if lt == 15 %>
                        <%= link_to title, l.url, class: "external", value: "#{lt}_#{l.id}" %>
                      <% else %>
                        <%= link_to title, l.url, class: "external", value: "#{lt}_#{l.id}", target: "_blank" %>
                      <% end %>
                    <% else %>
                      <% if lt == 15 %>
                        <%= link_to l.title, l.url, class: "external", value: "#{lt}_#{l.id}" %>
                      <% else %>
                        <%= link_to l.title, l.url, class: "external", value: "#{lt}_#{l.id}", target: "_blank" %>
                      <% end %>
                    <% end %>
                  <% end %>
                </span>
                <!-- <p class="feed-body"><%#= highlight(l.content.html_safe, @rake_filter.split(",")) %></p> -->
                <p class="feed-body">
                  <% if heap_leaflet != "" %>
                    <% description = heap_leaflet.leaflet_desc %>
                    <% if !description.nil? %>
                      <span class="feed-timestamp"><%= description %></span>
                    <% end %>
                    <% reminder_at = heap_leaflet.reminder_at %>
                    <% if reminder_at.nil? %>
                      <% reminder_at = "no reminder" %>
                    <% else %>
                      <% reminder_at = reminder_at.to_formatted_s(:short) %>
                    <% end %> 
                  <% end %>
                  <% content = l.content.gsub(/\<a href=["'](.*?)["']\>(.*?)\<\/a\>/mi, '<a href="\1" target="_blank" >\2</a>') %>
                  <% content = content.gsub(/<a href=\"\/r\//, '<a href="http://reddit.com/r/') %>
                  <% content = content.gsub(/<a href=\"\/u\//, '<a href="http://reddit.com/u/') %>
                  <% content = content.gsub(/img src=http:\/\/b.thumbs.redditmedia.com/, 'img class="reddit-thumbnail" src=http://b.thumbs.redditmedia.com') %>
                  <% content = content.gsub(/img src=http:\/\/a.thumbs.redditmedia.com/, 'img class="reddit-thumbnail" src=http://a.thumbs.redditmedia.com') %>
                  <p><%= raw content unless l.content == description %></p>
                </p>
                <br>
                <span class="leaflet-metrics">
                  Viewed <span class="v_count_<%= lt.to_s + "_" + l.id.to_s %>"><%= l.view_count %></span>
                  &nbsp;|&nbsp;
                  Saved <span class="s_count_<%= lt.to_s + "_" + l.id.to_s %>"><%= l.save_count %></span>
                  &nbsp;|&nbsp;
                  Deleted <span class="d_count_<%= lt.to_s + "_" + l.id.to_s %>"><%= l.delete_count %></span>
                </span>
                <span class="pull-right">

                <% if user_signed_in? %>
                  <% if @rake.user_id == current_user.id %>
                    <% if l.identifier.nil? %>
                      <% modalType = "#editLeafletModal" %>
                    <% else %>
                      <% modalType = "#editRestrictedLeafletModal" %>
                    <% end %>
                    <span class="feed-button">
                      <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Edit"></i>'.html_safe,
                                  "#",
                                  data: { toggle: "modal",
                                          target: "#{modalType}",
                                          id: l.id,
                                          heapid: heap.id,
                                          collapse: "heap_" + "#{heap.leaflet_type_id}",
                                          title: l.title,
                                          content: l.content,
                                          description: description,
                                          reminder: reminder_at,
                                          url: l.url,
                                          access: "full" },
                                  :method => :put, 
                                  :action => :update, 
                                  remote: true,
                                  class: "leaflet-edit" %>
                    </span>
                    &nbsp;
                    <span class="feed-button">
                      <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-clipboard" data-toggle="tooltip" data-placement="top" title="Move"></i>'.html_safe, "#", data: { toggle: "modal", target: "#moveLeafletModal", id: l.id, heapid: heap.id, title: l.title }, :method => :put, :action => :update, remote: true, class: "leaflet-move" %>
                    </span>
                    &nbsp;
                    <span class="feed-button">
                      <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete"></i>'.html_safe, 
                            remove_leaflet_heap_path(heap, leaflet_id: l.id),
                            :data => { :confirm => "Are you sure?" },
                            :method => :get, remote: true %>
                    </span>
                  <% else %>
                    <span class="feed-button">
                      <%= link_to '&nbsp;'.html_safe + '<i class="fa fa-save" data-toggle="tooltip" data-placement="top" title="Save"></i>'.html_safe, new_myrake_path, 
                                  data: { toggle: "modal", target: "#newCustomRakeAddLeafletModal", id: l.id, title: l.title }, class: "leaflet-save" %>
                    </span>
                  <% end %>
                <% end %>
                &nbsp;
                </span>
              </div>
              <hr>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>