<div class="panel panel-default">
  <div class="panel-heading panel-overview">
    <h5 class="panel-title">
      News
      <span class="pull-right">
        <small>
          <%= link_to "TASKS", myrake_path(@rake, view: "tasks"), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>
          <span class="new-rec-alert">
            <%= " " + @rake.due_tasks_count.to_s unless @rake.due_tasks_count == 0 %>
          </span>
          &nbsp;|&nbsp;
          <%= link_to "BOOKMARKS", myrake_path(@rake, view: "bookmarks"), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>
          &nbsp;|&nbsp;
          <i class="fa fa-cog rake-settings"></i>
        </small>
      </span>
    </h5>
  </div>
  <div class="panel-collapse collapse in" id="collapse-news">
    <div class="panel-body">
      <%= render 'rake_settings' %>
      <!-- Nav tabs -->
      <div class="row">
        <ul class="nav nav-tabs" role="tablist">
          <li class="rake-nav active" id="feed-tab">
            <a href="#feed" id="view-news" data-toggle="tab">
              FEED
            </a>
          </li>
          <li class="rake-nav" id="channels-tab">
            <a href="#channels" id="view-channels" data-toggle="tab">
              CHANNELS
            </a>
          </li>
          <li class="rake-nav">
            <a href="#related-rakes" id="view-related-rakes" data-toggle="tab">
              RELATED
            </a>
          </li>
        </ul>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="feed">
          <% if @rake.channels.where(channel_type: [0, 4]).count > 0 %>
            <h5>
              <small>
                <% if !@rake.master_rake.refreshed_at.nil? %>
                  updated: <%= time_ago_in_words(@rake.master_rake.refreshed_at) %> ago
                <% else %>
                  Click the Refresh button to update the feed
                <% end %>
              </small>
              <span class="pull-right">
              <% if user_signed_in? %>
                <small>
                  <%= link_to "Refresh", 
                              myrake_path(view: "news", refresh: "yes"),
                              { class: "btn btn-xs btn-primary",
                                id: "ga-my-feed-refresh",
                                data: {disable_with: "<i class='fa fa-spinner fa-spin white'></i> Refreshing..."} } %>
                </small>
              <% else %>
                <small><%= link_to "Sign in to refresh or save", root_path, id: "ga-my-feed-refresh-sign-in" %></small>
              <% end %>
              </span>
            </h5>
            <hr>
            <ul id="feed-list" class="leaflet-list">
              <% @feed_leaflets.each do |l| %>
                <%= render 'shared/leaflet', l: l %>
              <% end %>
            </ul>
          <% else %>
            <br>
            <div class="thumbnail" id="show-channels">
              <!-- <a href="#anchor-master-rake-news"> -->
                <div class="media">
                  <span class="pull-left">
                    <p class="reminder-month">
                      Updated
                    </p>
                    <p class="reminder-day">
                      <i class="fa fa-rss"></i>
                    </p>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">Add a Channel</h5>
                    <p>
                      Add a blog (RSS feed) or subreddit to get a customized news feed.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <br><br><br><br><br><br><br><br><br>
          <% end %>
        </div>
        <div class="tab-pane" id="channels">
          <br>
          <%= render 'channels' %>
          <% if @rake.channels.where(channel_type: [0, 4]).count == 0 %>
            <br><br><br><br><br>
          <% end %>
        </div>
        <div class="tab-pane" id="related-rakes">
          <br>
          <%= render 'related_rakes' %>
        </div>
      </div>
    </div>
  </div>
</div>