<div class="panel panel-default">
  <div class="panel-heading panel-news">
    <h5 class="panel-title">
      Get updated
      <span class="pull-right">
        <small class="white">
          <% if @rake.user_id == current_user.id %>
            <%= link_to "VIEW ACTIONS", myrake_path(@rake, view: "tasks"), { class: "white", data: { disable_with: "<i class='fa fa-spinner fa-spin white'></i> Loading..." } } %>
            <% if @rake.due_tasks_count > 0 %>
              <span class="new-rec-alert-bright">
                <%= @rake.due_tasks_count.to_s %>
              </span>
            <% end %>
            &nbsp;|&nbsp;
          <% end %>
          <i class="fa fa-cog rake-settings white"></i>
        </small>
      </span>
    </h5>
  </div>
  <div class="panel-collapse collapse in" id="collapse-news">
    <div class="panel-body">
      <%= render 'rake_settings' %>
      <!-- Nav tabs -->
      <div class="row">
        <ul class="nav nav-tabs" role="tablist">
          <li class="rake-nav active" id="feed-tab">
            <a href="#feed" id="view-news" data-toggle="tab">
              NEWS
            </a>
          </li>
          <li class="rake-nav" id="channels-tab">
            <a href="#channels" id="view-channels" data-toggle="tab">
              CHANNELS
            </a>
          </li>
          <li class="rake-nav">
            <a href="#related-rakes" id="view-related-rakes" data-toggle="tab">
              RELATED
            </a>
          </li>
        </ul>
      </div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="feed">
          <br>
          <% if @rake.channels.where(channel_type: [0, 4]).count > 0 %>
            <% if user_signed_in? && @rake.user_id == current_user.id %>
              <div class="thumbnail">
                <%= link_to myrake_path(view: "news", refresh: "yes"),
                            data: {disable_with: "<div class='media'><span class='pull-left'><p class='reminder-month'>Informed</p><p class='reminder-day'><i class='fa fa-rss'></i></p></span><div class='media-body'><h5 class='media-heading'><i class='fa fa-spinner fa-spin '></i> Refreshing... all blogs and subreddits get aggregated.</h5></div></div>"} do %>
                  <div class="media">
                    <span class="pull-left">
                      <p class="reminder-month">
                        Informed
                      </p>
                      <p class="reminder-day">
                        <i class="fa fa-rss"></i>
                      </p>
                    </span>
                    <div class="media-body">
                      <h5 class="media-heading">
                        Read your blogs and subreddits in one place.
                      </h5>
                      <p>
                        Click to refresh the news feed.
                        <% if !@rake.master_rake.refreshed_at.nil? %>
                          &nbsp;You updated <%= time_ago_in_words(@rake.master_rake.refreshed_at) %> ago.
                        <% end %>
                      </p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
            <span class="rake-nav">FEED<hr></span>
            <ul id="feed-list" class="leaflet-list">
              <% @feed_leaflets.each do |l| %>
                <%= render 'shared/card_news', l: l %>
              <% end %>
            </ul>
          <% else %>
            <br>
            <div class="thumbnail" id="show-channels">
              <!-- <a href="#anchor-master-rake-news"> -->
                <div class="media">
                  <span class="pull-left">
                    <p class="reminder-month">
                      Updated
                    </p>
                    <p class="reminder-day">
                      <i class="fa fa-rss"></i>
                    </p>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">Add a Channel</h5>
                    <p>
                      Add a blog (RSS feed) or subreddit to get a customized news feed.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <br><br><br><br><br><br><br><br><br>
          <% end %>
        </div>
        <div class="tab-pane" id="channels">
          <br>
          <%= render 'channels' %>
          <% if @rake.channels.where(channel_type: [0, 4]).count == 0 %>
            <br><br><br><br><br>
          <% end %>
        </div>
        <div class="tab-pane" id="related-rakes">
          <br>
          <%= render 'related_rakes' %>
        </div>
      </div>
    </div>
  </div>
</div>