<div class="panel panel-default">
  <div class="panel-heading panel-my-rakes-overview">
    <h5 class="panel-title">
         My Rakes (<%= User.find(current_user.id).username %>)
      </a>
    </h5>
  </div>
  <div class="panel-collapse collapse in" id="collapse-overview">
    <div class="panel-body">
      <div>
        <div class="row">
         <div class="tab-header">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-thumbnails" role="tablist">
              <a href="#my-rakes" role="tab" data-toggle="tab">
                <li class="col-md-6">
                  <div class="thumbnail">
                    <div class="media">
                      <span class="pull-left">
                        <%= image_tag("rakes_basic.png", size: "96x54") %>
                      </span>
                      <div class="media-body">
                        <h5 class="media-heading"><%= pluralize(@rakes.count, "personal Rake") %></h5>
                        <p>
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
              </a>

              <a href="#my-recommendations" role="tab" data-toggle="tab">
                <li class="col-md-6">
                  <div class="thumbnail">
                    <div class="media">
                      <span class="pull-left">
                        <%= image_tag("rakes_basic.png", size: "96x54") %>
                      </span>
                      <div class="media-body">
                        <h5 class="media-heading"><%= pluralize(@recommendations.count, "Recommendation") %></h5>
                        <p>
                          <span class="new-rec-alert">
                            <% if @overdue_leaflets.count > 0 %>
                              <%= pluralize(@overdue_leaflets.count, "Reminder") %>
                            <% end %>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
              </a>

              <a href="#all-rakes" data-toggle="tab">
                <li class="col-md-6">
                  <div class="thumbnail">
                    <div class="media">
                      <span class="pull-left">
                        <%= image_tag("rakes_all.png", size: "96x54") %>
                      </span>
                      <div class="media-body">
                        <h5 class="media-heading">Rakepage Rakes</h5>
                        <p>
                          View and search all Rakes
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
              </a>

            </ul>
          </div>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane <%= @myrakes_collapse %>" id="my-rakes">
            <a class="anchor" name="my-rakes"></a>
            <h5>My Rakes</h5>
            <%= render 'my_rakes' %>
          </div>
          <div class="tab-pane <%= @reminders_collapse %>" id="my-recommendations">
            <a class="anchor" name="my-recommendations"></a>
            <h5>Recommendation Reminders</h5>
            <% if @overdue_leaflets.count > 0 %>
              <%= render 'my_overdue_recommendations' %>
            <% else %>
              <p>
                <small>You don't have any overdue recommendations.</small>
              </p>
            <% end %>
            <h5>Scheduled Recommendations</h5>
            <% if @scheduled_leaflets.count > 0 %>
              <%= render 'my_scheduled_recommendations' %>
            <% else %>
              <p>
                <small>You don't have any scheduled recommendations.</small>
              </p>
            <% end %>
          </div>
          <div class="tab-pane" id="all-rakes">
            <a class="anchor" name="all-rakes"></a>
            <h5>Search</h5>
            <br>
            <%= render 'master_rakes/search_master_rakes' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%#= render 'myrakes/leaflet_move_modal' %>
  <%= render 'myrakes/leaflet_edit_modal2' %>
  <%= render 'myrakes/leaflet_edit_restricted_modal2' %>
<% end %>