<h1>My Rakes (<%= User.find(current_user.id).username %>)</h1>
<div class="panel panel-default">
  <div class="panel-heading panel-my-rakes-overview">
    <h5 class="panel-title">
      <%= "#{@rakes.count} Rakes with #{@recommendations.count} Bookmarks" %>
    </h5>
  </div>
  <div class="panel-collapse collapse in" id="collapse-overview">
    <div class="panel-body">
      <div class="row">
        <div class="tab-header">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="rake-nav <%= @myrakes_collapse %>">
              <a href="#my-rakes" id="ga-view-myrakes" role="tab" data-toggle="tab">RAKES</a>
            </li>
            <li class="rake-nav <%= @reminders_collapse %>">
              <a href="#my-recommendations" id="ga-view-reminders" role="tab" data-toggle="tab">
                REMINDERS&nbsp;&nbsp;
                <span class="badge pull-right"><%= @overdue_leaflets.count.to_s %></span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane <%= @myrakes_collapse %>" id="my-rakes">
          <br>
          <%= render 'my_rakes' %>
        </div>
        <div class="tab-pane <%= @reminders_collapse %>" id="my-recommendations">
          <br>
          <span class="rake-nav">OVERDUE BOOKMARKS<hr></span>
          <% if @overdue_leaflets.count > 0 %>
            <%= render 'my_overdue_recommendations' %>
          <% else %>
            <p class="centered">
              You don't have any overdue bookmarks.
            </p>
          <% end %>
          <span class="rake-nav">SCHEDULED BOOKMARKS<hr></span>
          <% if @scheduled_leaflets.count > 0 %>
            <%= render 'my_scheduled_recommendations' %>
          <% else %>
            <p class="centered">
              You don't have any scheduled bookmarks.
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= render 'master_rakes/new_modal' %>
  <%#= render 'myrakes/leaflet_move_modal' %>
  <%= render 'myrakes/leaflet_edit_modal2' %>
  <%= render 'myrakes/leaflet_edit_restricted_modal2' %>
<% end %>