<h1><%= User.find(current_user.id).username %></h1>
<div class="panel panel-default">
  <div class="panel-heading panel-my-rakes-overview">
    <h5 class="panel-title">
      <%= "Discover the power of less and master your priorities" %>
    </h5>
  </div>
  <div class="panel-collapse collapse in" id="collapse-overview">
    <div class="panel-body">
      <div class="row">
        <div class="tab-header">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="rake-nav <%= @toprakes_collapse %>">
              <a href="#top-rakes" id="ga-view-toprakes" role="tab" data-toggle="tab">TOP 5</a>
            </li>
            <li class="rake-nav <%= @myrakes_collapse %>">
              <a href="#my-rakes" id="ga-view-myrakes" role="tab" data-toggle="tab">OTHER</a>
            </li>
            <li class="rake-nav <%= @reminders_collapse %> <%= @scheduled_reminders_collapse %>">
              <a href="#my-recommendations" id="ga-view-reminders" role="tab" data-toggle="tab">
                <% if @overdue_leaflets.count > 0 %>
                  <span class="new-rec-alert">CHECK</span>
                <% else %>
                  CHECK
                <% end %>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane <%= @toprakes_collapse %>" id="top-rakes">
          <br>
          <%= render 'top_rakes' %>
        </div>
        <div class="tab-pane <%= @myrakes_collapse %>" id="my-rakes">
          <br>
          <%= render 'my_rakes' %>
        </div>
        <div class="tab-pane <%= @reminders_collapse %> <%= @scheduled_reminders_collapse %>" id="my-recommendations">
          <br>
          <%= render 'my_reminders' %>
        </div>
      </div>
    </div>
  </div>
</div>