<%= render 'shared/navbar' %>

<nav>
  <ul class="nav-close-x">
    <li class="text-right"><a href="#" id="nav-close">X</a></li>
  </ul>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default panel-menu">
      <div class="panel-heading panel-heading-menu">
        <h5 class="panel-title">
          <%= link_to "<i class='fa fa-home white'></i>".html_safe + "  Home", root_path, class: "menu-link" %>
        </h5>
      </div>
    </div>

    <div class="panel panel-default panel-menu">
      <div class="panel-heading panel-heading-menu">
        <h5 class="panel-title">
          <%= link_to "<i class='fa fa-question white'></i>".html_safe + "  Tutorial / Help", "http://blog.rakepage.com/?page_id=191", target: "_blank", class: "menu-link" %>
        </h5>
      </div>
    </div>

    <div class="panel panel-default panel-menu">
      <div class="panel-heading panel-heading-menu">
        <h5 class="panel-title">
          <%= link_to "<i class='fa fa-globe white'></i>".html_safe + "  All Topics", master_rakes_path, class: "rake_title menu-link" %>
        </h5>
      </div>
    </div>

    <div class="panel panel-default panel-menu">
      <div class="panel-heading panel-heading-menu">
        <% if user_signed_in? %>
          <h5 class="panel-title">
            <i class="fa fa-user white"></i> <%= current_user.username %>
            <span class="pull-right">
            <% href_id = "#user" %>
              <%= link_to '<i class="fa fa-chevron-down white"></i>'.html_safe, href_id, :data => { :toggle => "collapse" } %>
            </span>
          </h5>
      </div>
      <div id="user" class="panel-collapse collapse">
        <div class="panel-body menu black">
          <ul class="menu-list">
            <li class="rake-show-list">
              <%#= link_to "Social Accounts", authentications_path %>
            </li>
            <li class="rake-show-list">
              <%= link_to "Terms of Service", pages_terms_of_service_path, class: "purple" %>
            </li>
            <li class="rake-show-list">
              <%= link_to "Privacy Policy", pages_privacy_policy_path, class: "purple" %>
            </li>
            <% if user_signed_in? && current_user.admin? %>
              <li class="rake-show-list">
                <%= link_to "Dashboard", dashboard_users_path, class: "purple" %>
              </li>
            <% end %>
            <li class="rake-show-list">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "purple" %>
            </li>
          </ul>
        </div>
      </div>
        <% else %>
          <%= link_to "<i class='fa fa-user white'></i>".html_safe + "  Sign in", new_user_session_path, class: "menu-link" %>
        <% end %>
    </div>
  </div>

</nav>
<%= render 'master_rakes/add_rss_modal' %>
<%= render 'master_rakes/add_subreddit_modal' %>