<% if @parent_master_rakes.count + @sibling_master_rakes.count + @children_master_rakes.count == 0 %>
  <span class="info-text centered">
    <br>
    No related topics available yet.
  </span>
<% end %>

<% if @parent_master_rakes.count > 0 %>
  <span class="rake-nav"><i class="fa fa-level-up"></i> PARENT RAKES<hr></span>
  <div class="row">
    <% @parent_master_rakes.each do |pmr| %>
      <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", pmr.master_heaps.pluck(:id)) %>
      <% if user_signed_in? %>
        <% if pmr.myrakes.pluck(:user_id).include? current_user.id %>
          <% due_tasks = pmr.myrakes.find_by_user_id(current_user.id).due_tasks_count %>
          <% if due_tasks > 0 %>
            <% next_view = "tasks" %>
          <% else %>
            <% next_view = params[:view] %>
          <% end %>
          <%= link_to myrake_path(pmr.myrakes.find_by_user_id(current_user.id), view: next_view) do %>
            <div class="col-md-12 col-lg-6">
              <div class="thumbnail">
                <div class="media">
                  <span class="pull-left">
                    <%= image_tag(pmr.image_url, size: "96x54") %>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">
                      <i class="fa fa-star-o"></i>
                      <%= pmr.name %>
                    </h5>
                    <p>
                      <% if due_tasks > 0 %>
                        Tasks&nbsp;
                        <span class="new-rec-alert"><%= due_tasks %></span>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to master_rake_path(pmr) do %>
            <div class="col-md-12 col-lg-6">
              <div class="thumbnail">
                <div class="media">
                  <span class="pull-left">
                    <%= image_tag(pmr.image_url, size: "96x54") %>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">
                      <%= pmr.name %>
                    </h5>
                    <p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to master_rake_path(pmr) do %>
          <div class="col-md-12 col-lg-6">
            <div class="thumbnail">
              <div class="media">
                <span class="pull-left">
                  <%= image_tag(pmr.image_url, size: "96x54") %>
                </span>
                <div class="media-body">
                  <h5 class="media-heading">
                    <%= pmr.name %>
                  </h5>
                  <p>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @sibling_master_rakes.count > 0 %>
  <span class="rake-nav"><i class="fa fa-long-arrow-right"></i> SIBLING RAKES<hr></span>
  <div class="row">
    <% @sibling_master_rakes.each do |smr| %>
      <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", smr.master_heaps.pluck(:id)) %>
      <% if user_signed_in? %>
        <% if smr.myrakes.pluck(:user_id).include? current_user.id %>
          <% due_tasks = smr.myrakes.find_by_user_id(current_user.id).due_tasks_count %>
          <% if due_tasks > 0 %>
            <% next_view = "tasks" %>
          <% else %>
            <% next_view = params[:view] %>
          <% end %>
          <%= link_to myrake_path(smr.myrakes.find_by_user_id(current_user.id), view: next_view) do %>
            <div class="col-md-12 col-lg-6">
              <div class="thumbnail">
                <div class="media">
                  <span class="pull-left">
                    <%= image_tag(smr.image_url, size: "96x54") %>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">
                      <i class="fa fa-star-o"></i>
                      <%= smr.name %>
                    </h5>
                    <p>
                      <% if due_tasks > 0 %>
                        Tasks&nbsp;
                        <span class="new-rec-alert"><%= due_tasks %></span>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to master_rake_path(smr) do %>
            <div class="col-md-12 col-lg-6">
              <div class="thumbnail">
                <div class="media">
                  <span class="pull-left">
                    <%= image_tag(smr.image_url, size: "96x54") %>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">
                      <%= smr.name %>
                    </h5>
                    <p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to master_rake_path(smr) do %>
          <div class="col-md-12 col-lg-6">
            <div class="thumbnail">
              <div class="media">
                <span class="pull-left">
                  <%= image_tag(smr.image_url, size: "96x54") %>
                </span>
                <div class="media-body">
                  <h5 class="media-heading">
                    <%= smr.name %>
                  </h5>
                    <p>
                    </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @children_master_rakes.count > 0 %>
  <span class="rake-nav"><i class="fa fa-level-down"></i> CHILDREN RAKES<hr></span>
  <div class="row">
    <% @children_master_rakes.each do |cmr| %>
      <% master_leaflets = MasterHeapLeafletMap.where("master_heap_id IN (?)", cmr.master_heaps.pluck(:id)) %>
      <% if user_signed_in? %>
        <% if cmr.myrakes.pluck(:user_id).include? current_user.id %>
          <% due_tasks = cmr.myrakes.find_by_user_id(current_user.id).due_tasks_count %>
          <% if due_tasks > 0 %>
            <% next_view = "tasks" %>
          <% else %>
            <% next_view = params[:view] %>
          <% end %>
          <%= link_to myrake_path(cmr.myrakes.find_by_user_id(current_user.id), view: next_view) do %>
            <div class="col-md-12 col-lg-6">
              <div class="thumbnail">
                <div class="media">
                  <span class="pull-left">
                    <%= image_tag(cmr.image_url, size: "96x54") %>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">
                      <i class="fa fa-star-o"></i>
                      <%= cmr.name %>
                    </h5>
                    <p>
                      <% if due_tasks > 0 %>
                        Tasks&nbsp;
                        <span class="new-rec-alert"><%= due_tasks %></span>
                      <% end %>
                    </p>
                    <p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to master_rake_path(cmr) do %>
            <div class="col-md-12 col-lg-6">
              <div class="thumbnail">
                <div class="media">
                  <span class="pull-left">
                    <%= image_tag(cmr.image_url, size: "96x54") %>
                  </span>
                  <div class="media-body">
                    <h5 class="media-heading">
                      <%= cmr.name %>
                    </h5>
                    <p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to master_rake_path(cmr) do %>
          <div class="col-md-12 col-lg-6">
            <div class="thumbnail">
              <div class="media">
                <span class="pull-left">
                  <%= image_tag(cmr.image_url, size: "96x54") %>
                </span>
                <div class="media-body">
                  <h5 class="media-heading">
                    <%= cmr.name %>
                  </h5>
                  <p>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
<br><br><br><br><br><br><br><br><br><br><br><br><br>