<br>
<div class="thumbnail">
  <%= link_to "#", data: 
                        { toggle: "modal",
                          target: "#addLeafletModal" } do %>
    <div class="media">
      <span class="pull-left">
        <p class="reminder-month">
          Action
        </p>
        <p class="reminder-day">
          <i class="fa fa-bookmark"></i>
        </p>
      </span>
      <div class="media-body">
        <h5 class="media-heading">
          Add a weblink (URL) and define a new action
        </h5>
        <p>
          Click to add an action. The URL is your contribution to show others useful web content.
        </p>
      </div>
    </div>
  <% end %>
</div>

<ul id="feed-list" class="leaflet-list">
  <span class="rake-nav">PLANNED ACTIONS (<%= @scheduled_leaflets.count.to_s %>)<hr></span>
  <% leaflet_duplication_array = [] %>
  <% @scheduled_leaflets.each do |lm| %>
    <% l = Leaflet.find(lm.leaflet_id) %>
    <% if !leaflet_duplication_array.include? l.id %>
      <% leaflet_duplication_array << l.id %>
      <% myrake = lm.heap.myrake %>

      <a class="anchor" id="<%= 'anchor_leaflet_' + l.id.to_s %>"></a>

      <li class="card" id="<%= "leaflet_" + l.id.to_s %>">

        <div class="card-header">

          <span class="card-icon">
            <% channel = Channel.find(l.channel_id) %>
            <% if channel.channel_type == 4 %>
              <% reddit_link = "href=" + "http://reddit.com/" + l.identifier + " target='_blank'" %>
            <% else %>
              <% reddit_link = "" %>
            <% end %>
            <a <%= reddit_link %>>
              <% if channel.channel_type == 4 %>
                <%= image_tag "reddit-32.png", size: "16x16" %>
              <% elsif channel.channel_type == 3 %>
                <%= image_tag "rakepage_logo_transparent_32x32.png", size: "16x16" %>
              <% else %>
                <% favicon_path = "http://www.google.com/s2/favicons?domain=" + channel.source %>
                <img src=<%= "#{favicon_path}" %>>
              <% end %>
            </a>
          </span>

          <span class="card-label">
            <% channel_name = channel.name %>
            <% if channel_name == "Title not available." %>
              <% channel_name = channel.source %>
            <% end %>
            Channel: <%= channel_name %>
            <% if l.leaflet_type_id != 0 %>
              &nbsp;|&nbsp;
              <%= LeafletType.find_by_leaflet_type(l.leaflet_type_id).leaflet_type_desc %>
              &nbsp;|&nbsp;
              <% if !l.created_by.nil? %>
                added by <%= User.find(l.created_by).username %>
              <% end %>
            <% end %>
          </span>

          <span class="pull-right card-timestamp">
            in <%= distance_of_time_in_words(Time.now, lm.reminder_at) %> 
          </span>

        </div>

        <div class="card-title">
          <% if !lm.leaflet_goal.empty? %>
            <%= lm.leaflet_goal %>
          <% else %>
            No specific action defined.
          <% end %>
        </div>

        <% reminder_at = lm.reminder_at %>
        <% if reminder_at.nil? %>
          <% reminder_at = "no reminder" %>
        <% else %>
          <% reminder_at = "in " + distance_of_time_in_words(Time.now, reminder_at) %>
        <% end %>

        <div class="card-content">
          <%= link_to l.title.html_safe, l.url, class: "external", value: l.id, target: "_blank" %>
        </div>

        <div class="card-footer">
          <span class="card-metrics">
            <%= lm.motion_counter.to_s %>/<%= lm.action_counter.to_s %>
            <i class="fa fa-tasks purple"></i>
            &nbsp;|&nbsp;
            <span class="s_count_<%= l.id %>"><%= l.save_count %></span>
            <i class="fa fa-user purple"></i>
          </span>

          <span class="card-buttons pull-right">
            <%= link_to "Action", "#",
                        data: { toggle: "modal",
                                target: "#editLeafletModal",
                                id: l.id,
                                heapid: lm.heap.id,
                                collapse: "heap_" + "#{lm.heap.leaflet_type_id}",
                                goal: lm.leaflet_goal,
                                note: lm.leaflet_note,
                                url: l.url,
                                reminder: reminder_at,
                                score: lm.current_score,
                                rating: lm.current_rating,
                                motioncount: lm.motion_counter,
                                actioncount: lm.action_counter,
                                scheduledcount: lm.scheduled_counter,
                                access: "full",
                                origin: "scheduled",
                                slider: "1" },
                        class: "btn btn-default btn-xs leaflet-edit" %>
            <%= link_to "Delete", 
                        remove_leaflet_heap_path(lm.heap, leaflet_id: l.id, origin: "scheduled"),
                        data: { confirm: "Are you sure? You will delete the bookmark also from your rake!" },
                        method: :get,
                        remote: true,
                        class: "btn btn-default btn-xs" %>
          </span>

        </div>
      </li>
    <% end %>
  <% end %>
</ul>