<div id="news-view">
</div>
<div id="task-view">
  <br>
  <p>
    Planned actions for:
  </p>
  <ul class="nav nav-tabs" role="tablist">
    <li class="rake-nav <%= @due_active %>">
      <a href="#due-tasks" id="view-due-tasks" data-toggle="tab">
        NOW
        <% @rake.due_tasks_count > 0 ? count_no_zero = "new-rec-alert" : count_no_zero = "" %>
        <span class=<%= count_no_zero %> id="due-tasks-count"><%= @rake.due_tasks_count unless @rake.due_tasks_count == 0 %></span>
      </a>
    </li>
    <li class="rake-nav <%= @scheduled_active %>">
      <a href="#scheduled-tasks" id="view-scheduled-tasks" data-toggle="tab">
        LATER
      </a>
    </li>
  </ul>
  <br>
  <div>
    <span>
      <%= link_to "Save new action or weblink",
                  "#",
                  { class: "btn btn-default",
                    id: "add-new-action" } %>
    </span>
    <span class="pull-right">
      <%= link_to "Read personalised feed to get updated",
                  myrake_path(@rake, view: "news", refresh: "yes"),
                  { class: "btn btn-primary btn-news",
                    remote: true,
                    data: { disable_with: "<i class='fa fa-spinner fa-spin white'></i> Loading..." } } %>
    </span>
  </div>
  <%= render 'new_action' %>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane <%= @due_active %>" id="due-tasks">
      <%= render 'due_tasks' %>
    </div>
    <div class="tab-pane <%= @scheduled_active %>" id="scheduled-tasks">
      <%= render 'scheduled_tasks' %>
    </div>
  </div>
</div>