<div class="row">
  <% if @top_rakes.empty? %>
    <div class="col-md-12">
      <h3 class="centered">Welcome, <%= current_user.username %></h2>
      <ul class="info-list">
        <li class="centered">If you commit to nothing, you’re distracted by everything.</li>
        <li class="centered">Discover the power of less and master your priorities.</li>
        <li class="centered">Transform inspirations to motivation and actions.</li>
        <li class="centered">Set a schedule for your actions.</li>
        <li class="centered">Measure the change from being in motion to taking action.</li>
      </ul>
      <br>
      <br>
      <p class="centered">
      To put a rake in the Top 5 view, choose an existing rake and mark it as Top 5 or choose a new one here:
      </p>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= link_to "View Topics", master_rakes_path, class: "btn btn-primary btn-lg centered" %>
        </div>
      </div>
      <br><br><br><br>
    </div>
  <% else %>
    <% @top_rakes.each do |r| %>
      <div class="col-md-12">
        <div class="thumbnail">
          <%= link_to myrake_path(r) do %>
            <% master_rake = MasterRake.find(r.master_rake_id) %>
            <div class="media load-rake" value="<%= r.id %>">
              <span class="pull-left">
                <% if master_rake.image_url.nil? || master_rake.image_url.empty? %>
                  <%= image_tag("no_image.png", size: "96x54") %>
                <% else %>
                  <%= image_tag(master_rake.image_url, size: "96x54") %>
                <% end %>
              </span>
              <div class="media-body">
                <h5 class="media-heading"><%= r.name %></h5>
                <p>
                  <%= render 'top_rake_chain', toprake: r %>
                </p>
                <p>
                  <%= master_rake.myrakes.count.to_s %>&nbsp;<i class="fa fa-user purple"></i>
                  &nbsp;|&nbsp;
                  <%= HeapLeafletMap.where("heap_id IN (?)", r.heaps.pluck(:id)).count.to_s %>
                  <% new_count = MasterHeapLeafletMap.where("master_heap_id IN (?) AND created_at > ?", r.master_rake.master_heaps.pluck(:id), current_user.last_sign_in_at).count %>
                  <span class="new-rec-alert">
                    <%= "(" + new_count.to_s + ")" unless new_count == 0 %>
                  </span>
                  <i class="fa fa-bookmark purple"></i>
                  &nbsp;|&nbsp;
                  <%= r.channels.where.not(channel_type: 3).count.to_s %>&nbsp;<i class="fa fa-rss purple"></i>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @top_rakes.count < 5 %>
      <div class="row">
        <div class="col-md-12">
          <br><br><br>
          <p class="centered">
            Get more productive for other topics you are interested in.
          </p>
          <p class="centered">
            Discover some more topics by clicking on the button below.
          </p>
          <p class="centered">
            If you don't find your topic, you can create a new one.
          </p>
          <p class="centered">
            REMINDER: Discover the power of less and master your priorities!
          </p>
          <br>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <%= link_to "View Topics", master_rakes_path, class: "btn btn-primary btn-lg centered" %>
          <br><br><br>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-12">
          <br><br>
          <p class="centered">
            These are your Top 5 priority rakes.
          </p>
          <p class="centered">
            Remove a rake to add another one. This helps you to focus what's really important to you.
          </p>
          <p class="centered">
            REMINDER: Discover the power of less and master your priorities!
          </p>
          <br><br><br>
        </div>
      </div>
    <% end %>
  <% end %>
</div>