<% if @rake.master_rake.seo_title.nil? %>
  <% seo_title = "Focus On Your Essentials" %>
<% else %>
  <% seo_title = @rake.master_rake.seo_title + " | Focus On Your Essentials"%>
<% end %>
<% title seo_title + "| Focus On Your Essentials"%>
<% meta title: seo_title,
        description: @rake.master_rake.description,
        keywords: Category.find(@rake.master_rake.category_id).leaflet_types.pluck(:leaflet_type_desc) << "Recommendations" << "Bookmarks" << @rake.name %>
<%= render 'save_action' %>
<div class="container-fluid">
  <%= render 'myrakes/rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <h1 class="centered">
        <%= @rake.name %>
      </h1>
      <h2 class="centered">Focus On Your Essentials</h2>
      <h5>
        <small><strong>
          <% if user_signed_in? %>
            <i class="fa fa-home"></i>&nbsp;
            <%= link_to "MY ESSENTIALS", user_path(current_user), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>
          <% else %>
            <span class="nav-link">MY ESSENTIALS</span>
            &nbsp;<i class="fa fa-long-arrow-left"></i>&nbsp;
            <i class="fa fa-home"></i>&nbsp;
            <%= link_to "SIGN IN", new_user_session_path, { class: "nav-link", id: "my-rakes-sign-in", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } } %>
          <% end %>
        </strong></small>
      </h5>
      <div class="rake-title">
        <h5>
          <%= current_user.username %>
          <span class="pull-right">
            <small class="white">
              <% if @news_view == "hidden" %>
                <span class="hidden" id="back-to-actions">
                  <%= link_to "BACK TO ACTIONS", "#", class: "white" %>
                  &nbsp;|&nbsp;
                </span>
              <% else %>
                <span>
                  <%= link_to "VIEW ACTIONS", myrake_path(@rake), class: "white" %>
                  &nbsp;|&nbsp;
                </span>
              <% end %>
              <i class="fa fa-cog rake-settings white"></i>
            </small>
          </span>
        </h5>
        <%= render 'rake_settings' %>
      </div>
      <div class="rake-body">
        <% last_action = History.get_last_motion_or_action(@rake.id) %>
        <% if !last_action.nil? %>
          <% if !Time.find_zone(cookies[:timezone]).nil? %>
            <% if last_action.created_at >= Time.find_zone(cookies[:timezone]).now.beginning_of_day %>
              <% mark_action_btn_display = "hidden" %>
              <% unmark_action_btn_display = "" %>
            <% else %>
              <% mark_action_btn_display = "" %>
              <% unmark_action_btn_display = "hidden" %>
            <% end %>
          <% else %>
            <% if last_action.created_at >= Time.now.beginning_of_day %>
              <% mark_action_btn_display = "hidden" %>
              <% unmark_action_btn_display = "" %>
            <% else %>
              <% mark_action_btn_display = "" %>
              <% unmark_action_btn_display = "hidden" %>
            <% end %>
          <% end %>
        <% else %>
          <% mark_action_btn_display = "" %>
          <% unmark_action_btn_display = "hidden" %>
        <% end %>

        <div class="media">
          <span class="pull-left">
            <% if @rake.master_rake.image_url.nil? || @rake.master_rake.image_url.empty? %>
              <%= image_tag("no_image.png", size: "96x54") %>
            <% else %>
              <%= image_tag(@rake.master_rake.image_url, size: "96x54") %>
            <% end %>
          </span>
          <div class="media-body">
            <p class="rake-links">
              Action-tracker for the last 30 days
            </p>
            <%= render 'myrakes/top_rake_chain', toprake: @rake %>
          </div>
        </div>
        <br>
        <span class="mark-action-btn <%= mark_action_btn_display %>">
          <%= link_to "Click if you took action today",
                      mark_day_myrake_path(@rake),
                      { class: "btn btn-day-unmarked btn-check-off",
                        remote: true,
                        disable_with: "<i class='fa fa-spinner fa-spin white'></i> Updating..." } %>
        </span>
        <span class="unmark-action-btn <%= unmark_action_btn_display %>">
          <%= link_to "Yay, you added today to the action-tracker! (click to undo)",
                      unmark_day_myrake_path(@rake),
                      { class: "btn btn-primary btn-check-off",
                        remote: true,
                        disable_with: "<i class='fa fa-spinner fa-spin white'></i> Updating..." } %>
        </span>

        <% if params[:view].nil? || params[:view] == "tasks" %>
          <%= render 'tasks' %>
        <% elsif params[:view] == "news" %>
          <br>
          <%= render 'news' %>
          <%#= render 'leaflet_save_modal' %>
        <% elsif params[:view] == "bookmarks" %>
          <%= render 'bookmarks' %>
          <%= render 'leaflet_edit_modal' %>
          <%= render 'leaflet_create_modal' %>
          <%= render 'leaflet_copy_modal' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/request_modal' %>
<%= render 'shared/thanks_modal' %>