<% if @rake.master_rake.seo_title.nil? %>
  <% seo_title = "" %>
<% else %>
  <% seo_title = @rake.master_rake.seo_title %>
<% end %>
<% title seo_title %>
<% meta title: seo_title,
        description: @rake.master_rake.description,
        keywords: Category.find(@rake.master_rake.category_id).leaflet_types.pluck(:leaflet_type_desc) << "Recommendations" << "Bookmarks" << @rake.name %>
<div class="container-fluid">
  <%= render 'myrakes/rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h5 class="centered">
        <small><strong>
          <% if user_signed_in? %>
            <%= link_to "MY RAKES", user_path(current_user), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } %>
          <% else %>
            <span class="nav-link">MY RAKES</span>
            &nbsp;<i class="fa fa-long-arrow-left"></i>&nbsp;
            <%= link_to "SIGN IN", new_user_session_path, { class: "nav-link", id: "my-rakes-sign-in", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } } %>
          <% end %>
          &nbsp;|&nbsp;
          <%= link_to "ADD TOPICS", master_rakes_path, { class: "nav-link", id: "ga-all-master-rakes", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } } %>
        </strong></small>
      </h5>
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <h1 class="centered">
        <%= @rake.name %>
      </h1>
      <% if params[:view].nil? || params[:view] == "tasks" %>
        <%= render 'tasks' %>
      <% elsif params[:view] == "news" %>
        <%= render 'news' %>
        <%= render 'leaflet_save_modal' %>
      <% elsif params[:view] == "bookmarks" %>
        <%= render 'bookmarks' %>
        <%= render 'leaflet_edit_modal' %>
        <%= render 'leaflet_create_modal' %>
        <%= render 'leaflet_copy_modal' %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/request_modal' %>
<%= render 'shared/thanks_modal' %>