<% title @rake.name + " Recommendations" %>
<div class="container-fluid">
  <%= render 'myrakes/rakes_menu' %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h5>
        <small>
          <% if !current_user.nil? %>
            <%= link_to "MY RECOMMENDATION RAKES", myrakes_path, class: "nav-link" %>
            &nbsp;|&nbsp;
          <% end %>
          <%= link_to "ALL RECOMMENDATION RAKES", master_rakes_path, class: "nav-link" %>
          <% if !user_signed_in? %>
            &nbsp;|&nbsp;
            <%= link_to "SIGN IN", new_user_session_path %>
          <% end %>
        </small>
      </h5>
      <% if !flash.empty? %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <div class="panel-group" id="accordion-main">
        <div class="panel panel-default">
          <div class="panel-heading panel-new-recommendations">
            <h1 class="panel-title">
              <%= @rake.name %> Recommendations
              <span class="pull-right">
                <small>
                  <% if user_signed_in? && @rake.user_id == current_user.id %>
                    <%= link_to "Delete", myrake_path(@rake),
                                  :data => { :confirm => "Are you sure?" }, 
                                  :method => :delete, class: "white" %>
                  <% end %>
                </small>
              </span>
                <%= social_share_button_tag(@rake.name + " Recommendations", 
                                            image: @rake.master_rake.image_url) %>
            </h1>
          </div>
          <div class="panel-collapse collapse in" id="collapse-feed">
            <div class="panel-body">
              <%= render 'myrake' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= render 'myrakes/leaflet_move_modal' %>
  <%= render 'myrakes/leaflet_save_modal' %>
  <%= render 'myrakes/leaflet_create_modal' %>
  <%= render 'myrakes/leaflet_edit_modal' %>
  <%= render 'myrakes/leaflet_edit_restricted_modal' %>
<% end %>
<%= render 'myrakes/heap_add_modal' %>
<%#= render 'rakes/social_modal' %>
<%= render 'new_rake_modal' %>